[2017-07-19 15:34] mikobuntu commented on #239
I agree with archiving it, mainly for backward compatibility.

[2017-07-19 15:39] mikobuntu commented on #241
Zyn-fusion will eventually become free/open source afaik. I will ask @fundamental to make sure.

[2017-07-19 15:39] tresf commented on #241
I think you're right, the time to do `git submodule` or `git subtree` is now, but I really don't think Zyn is the plugin to start doing it with.

I think `swh` is a better candidate, since our code is always synced to upstream.

[2017-07-19 15:40] tresf commented on #241
Thanks @mikobuntu but I'd rather we keep this discussion about our fork, not necessarily the future of Zyn.  That conversation is probably better suited for LMMS/lmms#1860.

[2017-07-19 15:42] SirBothersome commented on #239
A vote for archive, but solely for analysis.

[2017-07-19 15:49] fundamental commented on #241
Since I've been summoned, I'll point to https://sourceforge.net/p/zynaddsubfx/mailman/message/35921306/ where I state that the source should be fully opened around mid-December.

[2017-07-19 15:50] mikobuntu commented on #241
@tresf ah yeah sorry for side tracking the original subject. I have no objections in removing this mostly redundant repo.

[2017-07-19 15:51] SirBothersome commented on #242
good to know

I might make some myself

way over my head, but I'll take your word for it

[2017-07-19 18:05] tresf commented on #239
Can you please elaborate on what you mean "backward compatibility"?

[2017-07-19 21:18] JohannesLorenz commented on #241
It was one of the biggest mistakes to make zyn a non-submodule/subtree. It would have been obvious that syncing zyn with LMMS would be much more overhead than learning submodules for those complaining developers. I recall patches I've seen in the LMMS tree (related to namespace and lookup) that I had to do in zyn again. Obviously, not using any synchronization to zyn's repo is a very bad idea.

So

[2017-07-20 01:12] tresf commented on #241
"Biggest mistakes" seems like an overstatement.

The [`Engine` conflicts](https://github.com/LMMS/lmms/issues/2269)?  Specific references would help the argument but I'm still not sure it helps us right now since we're on an unsupported branch.

I'm not sure what this is describing.  We already do add every single program we use, and the developers have been [actively discussing how we plan on mov

[2017-07-20 06:19] tobydox commented on #240
Because using a dedicated web framework with an integrated ORM is always the better choice compared to reinventing the wheel and produce lots of dirty insecure PHP code with manual DB queries etc... I didn't know better almost 10 years ago but nowadays there are so many good solutions and frameworks (not to mention Python (3) as IMHO a far better alternative to PHP).

[2017-07-20 14:32] Jousboxx commented on #242
I would be happy to do quality control. I can probably also contribute a few samples and presets.

[2017-07-20 16:04] JohannesLorenz commented on #241
How are you going to continue? You have done changes that were useful for zynaddsubfx (the namespacing at least, idk what you did aside from that), but you did not commit to the zynaddsubfx repo, and these commits are useless to the zynaddsubfx devs. Now, you have no other choice than merging the original zynaddsubfx repo into the one from LMMS by hand, solving all merge conflicts and stuff. This

[2017-07-20 17:11] tresf commented on #241
It's"we", not "you", and this thread is in jeopardy of going terribly off topic.

Specific action is and will be taken to improve our upstream contributions, but as previously pointed out, this zyn repo simply isn't serving that purpose.  swh is in excellent shape and that is our best test bed for submodule today.  We have submitted EVERYTHING upstream, we just need to make it easier.  PRs welcome

[2017-07-20 19:40] JohannesLorenz commented on #241
Let it be OT. Anyways, maybe the new OSC plugin I wrote will be a better alternative for the next 1 or 2 years than setting up a submodule? It's already working...

I'm not sure about the pros and cons, but it enables you to automate almost all knobs/sliders. If it helps I could make a commit the next days that would show the advantages and disadvantages.

[2017-07-20 23:33] tresf commented on #241
@JohannesLorenz there's interest.  Here was @Wallacoloo's attempt: https://github.com/LMMS/lmms/pull/2311

And of course @curlymorphic's `zynwin` branch: https://github.com/LMMS/lmms/compare/stable-1.2...curlymorphic:zynwin

In regards to the lingering zyn repo that this topic is about, it seems we should do our diligence and make sure we aren't losing anything along the way.  I could certainly us

[2017-07-21 02:56] tresf commented on #239
No objections.  Done.  Archived here: https://github.com/tresf/hydrogen-drumkits/
Windows desktop installer reproduced and provided for archive purposes here: https://github.com/tresf/hydrogen-drumkits/releases

I've emailed GitHub to make my own fork the upstream fork in the event we get push-back (e.g. downstream packaging, etc).

[2017-07-21 02:56] #239 closed

[2017-07-21 03:33] tresf commented on #242
@SirBothersome @Hussam-Eddin-Alhomsi @iamwontolla it has been renamed.  For some time, GitHub will automatically redirect `lmms/samples` to `lmms/assets`.  At some point soon, I recommend you backup any work and re-clone the repository under the new name.  Sorry for any inconvenience this may cause and thanks for the flexibility.

[2017-07-21 03:33] #242 closed

[2017-07-21 13:47] SirBothersome commented on #242
@tresf alright, will do

On Thu, Jul 20, 2017 at 11:33 PM, Tres Finocchiaro <notifications@github.com

[2017-07-21 17:31] tresf commented on #240
I was hoping to get a clear answer from @tobydox or @Lukas-W.  This repo can certainly live inside a personal repository until it eventually comes to life.  Any thoughts about cleaning up the house here? :)

[2017-07-21 21:12] tresf commented on #241
So in regards to the differences between these copies... here they are:

What LMMS had but never made it to zyn:
https://github.com/LMMS/zynaddsubfx/commit/a89086e6d4bf24141915377935e304db06f946ff

What zyn had that never made it to LMMS:
https://github.com/LMMS/lmms/pull/3715/commits/2ca9e191c3184e382c5360121765fc7ac1f1f8f6

What @jasp00 did incorrectly and has been reverted:
https://github.com/L

[2017-07-21 21:12] #241 closed

[2017-07-24 18:30] Lukas-W commented on #240
We can transfer ownership to my account for the time being if you want.

[2017-07-24 18:32] Lukas-W commented on #240
It would however make it invisible to visitors and potential developers, making it even more unlikely that it will come to life.

[2017-07-27 00:40] tresf commented on #240
That would be my vote.

I don't think it will influence the chances of resurrection.  I have a feeling if it's resurrected, one of 5 people on earth will do it, and they'll know where to look.

I'll leave the choice up to you @Lukas-W as I think you're the most likely to start coding this again.  Of course, one other option is to submodule it over to `lmms.io` and actually stand-up a test site. :)

[2017-07-27 20:05] musikBear opened #243 "Midi hardware experts needed for forum"
This one viewtopic.php?f=7&t=25977
and this one
http://lmms.io/forum/viewtopic.php?f=7&t=25995&p=47532#p47532
are similar in context.
Both owns hardware-synth, but cant connect to lmms
Any input?

[2017-07-27 20:07] tresf commented on #243
Please send them to discord. https://discordapp.com/invite/3sc5su7

[2017-07-27 20:07] #243 closed

[2017-07-27 20:13] musikBear commented on #243
Thats all very well, but it would be useful to have in writing, not lost in discord-cyperspace, besides at least one is not familiar with english, but i will go discording..

[2017-07-27 20:16] tresf commented on #243
Here then: https://github.com/LMMS/lmms/issues/3724

[2017-08-12 04:30] OzancanKaratas opened #244 "The website is not being translated"
Website sources was translated, but some problems occurred. Many languages' files is being not compiled. Can you upload an another format of website resource onto Transifex? Like JSON.

[2017-08-12 04:32] liushuyu commented on #244
The website is not maintained by me, I don't have access to the web server which means I can't upload translated strings to the server.

[2017-08-12 06:02] OzancanKaratas commented on #244
Ok, thanks but what can I do?

[2017-08-12 09:52] liushuyu commented on #244
So I guess you want to know how the website looks like in your translated language?

[2017-08-12 12:59] OzancanKaratas commented on #244
Yes of course 👎

[2017-08-12 13:00] OzancanKaratas commented on #244
Yes of course.

[2017-08-12 15:14] Umcaruje commented on #244
@tresf can you please provide @liushuyu SSh access, or if you're busy please point me in the right direction :)

[2017-08-13 04:49] tresf commented on #244
We use public key authentication, which can be added (from what I remember) through standard means.  The server is running Ubuntu.  @liushuyu can email me his public key and I'd be happy to set it up.

[2017-09-15 16:35] tresf opened #245 "Discord redirect"
@lukas-w I find myself sending out a discord invite copy/paste quite a few times a week.  Can we get a clean url that redirects them?  e.g. https://lmms.io/chat and redirects to https://discord.gg/3sc5su7 ?

I looked at https://github.com/LMMS/lmms.io/blob/master/public/index.php and it doesn't seem to have an option for redirects.

This will also have the added benefit of reducing the amount of p

[2017-09-16 13:53] lukas-w commented on #245
@tresf An example for redirecting with Silex can be found [here](https://silex.symfony.com/doc/2.0/usage.html#redirects):
[code]

In our case, it should be as easy as adding the following entry to the `pages` array in `index.php`:

[code]

[2017-09-16 17:31] #245 closed

[2017-09-16 17:33] tresf commented on #245
Auto-close worked, but the commit didn't crosslink for some strange reason.  Closed via 82a9b3b.

[2017-09-21 19:35] Squatro opened #246 "Change the star rating system to an upvote based system"
The site doesn't have many users that are actively rating the projects, which means that it's really easy for someone to manipulate the ratings of the projects. For example a 5 star project is really easily turned into a 2-3 star project with a few 1 star ratings from someone with bad intentions. Normally this wouldn't be a problem, but as previously mentioned the site doesn't have many active rat

[2017-10-14 08:52] gdd71 commented on #246
A few more ideas to LSP:
1. Only up-votes or likes counter.
2. Split into two sections/pages:
"Experimental/WIP/non finished" -> As it is now without the rules for shaping and anything
"Completed/Final projects" -> With the requirement and rules for layout
Be a final project, a link to listen, a link to external free samples if used..
So easier can be found more quality projects than others and wi

[2017-10-16 05:48] RebeccaLaVie commented on #230
@Umcaruje I believe this is related to your efforts here #192

[2017-10-16 21:49] Umcaruje commented on #230
Ah, thanks, I'll look into combining these two pages in the following days. The only concern I have is that 'Showcase' would attract more people than 'Competitions' but 'Competitions' is more accurate for the name of the page.

[2017-10-16 22:34] Umcaruje commented on #231
Server was upgraded, this was fixed. Closing.

[2017-10-16 22:34] #231 closed

[2017-10-17 00:59] tresf commented on #230
@umcaruje what if we call it "competitions" during promotion and "showcase" in the off-season?

[2017-10-21 12:57] trebmuh opened #249 "LSP translatable?"
Hi guys,
I'm wondering if the LMMS Sharing Plateforme would be made translatable as the (futur) website is ?
It could be great for non-English speaker. I'm happy to make a French translation of it once it's available for translation.

[2017-10-21 14:18] tresf opened #250 "New Site - Footer Links"
The footer links for the new site should be changed.

![screen shot 2017-10-21 at 10 14 30 am](https://user-images.githubusercontent.com/6345473/31852621-af6ee438-b648-11e7-9202-409741a3943c.png)

* [x] **GitHub** - Good
* [x] **Facebook** - Good
* [ ] **Soundcloud** - Shouldn't link to our service account.  We don't publish content there.  The live site was changed to `https://soundcloud.com/sear

[2017-10-21 14:55] cubician commented on #250
I have a lineup of videos for the YouTube account planned, just waiting for the official 1.2 release so I can include the native EQ as part of the series (Having the Native EQ is a big deal to me.)

But you're right, until I have those videos actually produced the link isn't super productive.

[2017-10-21 15:09] tresf commented on #250
Ok, we'll keep it, thanks for the quick reply.

[2017-10-21 15:50] Spekular commented on #250
Speaking of the YouTube link, I think that logo is old now. The [new one](
https://www.youtube.com/yt/about/brand-resources/#logos-icons-colors) has
text next to the icon.

On Oct 21, 2017 17:09, "Tres Finocchiaro" <notifications@github.com> wrote:

[2017-10-22 20:40] Umcaruje commented on #250
These were intended like "Social Media" links so I still think they should link to our soundcloud, we could perhaps start reposting songs on soundcloud every week or something.

As for the youtube icon, it'll get updated when font awesome updates it.

I agree on removing Google +

Not sure about forums, doesn't really fit into the whole social media idea.

[2017-10-22 20:49] Umcaruje commented on #244
Fixed.

[2017-10-22 20:49] #244 closed

[2017-10-23 00:12] tresf commented on #250
Our SoundCloud was never intended for reposting (it was for managing the now defunct group).  It's a dead account and it shouldn't receive messages or followers IMO.  If we repurpose this, we can turn the link back on.  It's a waste if real estate and it gives a false image.  It needs to be hidden or removed.

[2017-10-26 21:09] Umcaruje opened #251 "New accounts can't log into LSP"
Reported by @RebeccaDeField

If you create a new account on the LSP, you can't log in, LSP puts out an error:
![image](https://user-images.githubusercontent.com/6282045/32077122-9a3207b8-baa2-11e7-8bbf-beeae112e6a5.png)

This could probably be some kind of permissions issue from the website upgrade. This does not affect older accounts, I can log in and upload files fine, which is probably why nobo

[2017-10-27 14:02] tresf commented on #251
Yeah, it appears [`add_user`](https://github.com/LMMS/lmms.io/blob/6f1a38fa66492098a6362dbfbcb097d542d390c4/public/lsp/dbo.php#L281) doesn't do anything to catch errors, it just displays the ["Success" message](https://github.com/LMMS/lmms.io/blob/6f1a38fa66492098a6362dbfbcb097d542d390c4/public/lsp/register.php#L26) regardless.  I can confirm they aren't being added from a database perspective.  I

[2017-10-27 15:25] #251 closed

[2017-10-27 15:27] tresf commented on #251
Looks like mysql is running in strict mode, which is OK, but that means the insert statements can't assume certain things.  Fixed via f758532, 7ad3ab5.  @RebeccaLaVie you should be all set.  Thanks for reporting.

[2017-10-28 04:31] RebeccaLaVie commented on #251
Login works perfectly on my end now, thank you.

[2017-11-07 22:01] Umcaruje commented on #173
This happened again today, the forums are down, cleaning the tmp dirs rn

[2017-11-08 15:22] tresf commented on #173
Support is claiming it's happening due to the `lsp_data` directory.  This is bullshit, there's only about 12,000 files there.  I think they setup the disk with too few inodes.  12,000 files shouldn't be a breaking point on a VPS in 2017.

[2017-11-08 15:28] tresf commented on #173
Ok... I found something...

`lsp_data/11880/` is a monster and I'm not sure what it is.  It's taking up 100x the inodes of the rest of the `lsp_data` directory.

Just cd'ing to the directory takes almost 60 seconds.  I'm not sure what created this or what its contents are.

I'm still investigating.

[2017-11-08 15:32] tresf commented on #173
Ok... `lsp_data/11880/` is mostly sessions variables.  This directory appears to be misplaced, probably a bug caused by the upgrade.

[code]

I'm not sure what else is inside this folder, but we can purge these sessions for now and then debug why they're getting misplaced.

[2017-11-08 22:51] tresf opened #252 "Wiki won't allow login"

[2017-11-08 22:51] tresf commented on #252
Fixed by finding, the MediaWiki's copy of ` LocalSettings.php` which specifies the session location, then `sudo chown /home/deploy/persistent/wiki/sessions`.

Found the hint here: https://stackoverflow.com/a/16133328/3196753

[2017-11-08 22:51] #252 closed

[2017-11-21 04:53] tresf opened #253 "Bridge IRC and Discord #devtalk"
There's a few libraries available that aim to bridge IRC and Discord

* Rust: https://github.com/belst/discord-irc-bridge
* Node.js: https://github.com/reactiflux/discord-irc
* Golang: https://github.com/42wim/matterbridge

This would relay conversation from #devtalk to IRC and vice versa.

[2018-01-08 13:18] EtornaZ opened #255 "Enhancement: Ability to have profile avatars on the LSP."
The title says it all. Does this seem like a good idea?

[2018-01-08 14:22] tresf commented on #255
@EtornaZ yes, it's a good idea, but the LSP system is very dated code and this would be part of a larger rewrite effort.  We don't even have a way to reset passwords now.  We're not going to clutter the tracker with LSP requests unless they're absolutely needed.  Closing as wont-fix for now.

[2018-01-08 14:22] #255 closed

[2018-01-08 14:33] Umcaruje commented on #250
Fixed via https://github.com/LMMS/lmms.io/pull/192/commits/38a049cc6347fc58646ca2446dcc420310401207
![image](https://user-images.githubusercontent.com/6282045/34675232-433cd57a-f489-11e7-94f3-43507e81e2fc.png)

[2018-01-08 14:33] #250 closed

[2018-01-16 18:33] musikBear opened #256 "Method to reclaim a password in LSP"
This is a issue spawned from this post
http://lmms.io/forum/viewtopic.php?f=7&t=26802
where user  vortexsupernova has forgotten his LSP password..
Many fora has a button**'forgot your password?'** where the procedure then is a mail to the users email-account with the password.
Should/ could we have that?

[2018-01-16 18:37] tresf commented on #256
This would require collection of an email address and challenge questions which we don't and never have collected.  Just email an admin for now.

[2018-01-16 18:38] Umcaruje commented on #256
The issue is we don't require an email when creating an account so there's no way to know that the email address is the actual email of the user of the account, and not just some attempt to take over the account.

[2018-01-17 16:47] musikBear commented on #256
@Umcaruje Understood! Can you retrieve this  *vortexsupernova* account, and PM either me or him directly, with his pass-word, or should i just tell him, that we cant retrieve it? -Eg he need to sign up again?

[2018-01-17 17:00] tresf commented on #256
Please stop being a surrogate and have the person contact an admin.  lmms.service@gmail.com.

[2018-01-17 20:16] jmortiger opened #257 "LSP still not correctly allowing for new registrations."
The exact same problem as described in #69 happened to me. I correctly typed out all my info & the security code 8 times, and got the invalid security code error. Even though both #69 and the issue marked as its duplicate, #67 , are both recorded as closed, this problem happened and was solved in the exact same way; switching from Chrome to Edge allowed me to register first try. I even registered

[2018-01-17 20:24] tresf commented on #257
@jmortiger it's just a home-brew anti-spam countermeasure.  It's very rare that this bug occurs though, so we haven't pulled the logic.  We can pull it out rather easily though if it continues to cause problems.  What's not immediately obvious is why this occurs on some browsers and not others.  We do the site development against Chrome.

https://github.com/LMMS/lmms.io/blob/master/public/lsp/regi

[2018-01-18 13:43] musikBear commented on #256
@tresf why diddent you just give that link in the first place?

[2018-01-18 14:21] tresf commented on #256
Our bug tracker is not the place for this.  Either learn `mysql` and do it yourself or have the OP email one of us.  Making changes to profiles on behalf of another user is the wrong way.

[2018-01-23 00:08] tresf commented on #238
Apparently those that maintain the wiki don't care about this. Closing.

[2018-01-23 00:08] #238 closed

[2018-01-23 00:14] tresf commented on #235
We're moving away from repo provided packages and focusing our attention on `AppImages` instead per https://lmms.io/download (scroll to beta).

This is easier for us to support and provides an easier to maintain downloads page.

If someone wants a disto added to the new `other options` section, we'd be happy to accept it in the form of a PR.  I'm closing this out as wont-fix as this area of our si

[2018-01-23 00:14] #235 closed

[2018-02-03 00:42] sewil opened #258 "Doesn't start on windows 7"
Installed v1.1.3 64-bit on win7 64-bit, running it gives me this error, no further information or logfile is given:

![image](https://user-images.githubusercontent.com/1498414/35760782-d2bcb050-0882-11e8-8d27-7bfc29c50434.png)

I also checked the system requirements on your wiki but it only says "windows"

[2018-02-03 00:46] sewil commented on #258
Wrong repo, sorry

[2018-02-03 00:46] #258 closed

[2018-04-14 16:04] tresf commented on #240
@lukas-w let's pull the trigger on this.  Option is here: https://github.com/LMMS/lsp2/settings, click Transfer and type your name.  I can only do it to my own account, so I'll need you to do it, then we can close this issue.

[2018-04-14 16:05] tresf commented on #249
@trebmuh not the current version unfortunately.  Perhaps if it's ever rewritten.  Closing as `wontfix`.

[2018-04-14 16:05] #249 closed

[2018-04-14 16:09] tresf commented on #246
The current LSP codebase is just a [maintained version of the old site](http://lmms.sourceforge.net/lsp/index2.php) that @tobydox wrote for the sourceforge page.  The LSP is in need of a complete rewrite.  The current LSP is mostly just the old one wrapped in bootstrap for responsiveness with some link preview logic injected to make it slightly more usable.

The above points are mostly just basic

[2018-04-14 16:09] #246 closed

[2018-04-14 16:10] tresf commented on #230
This didn't make the rewrite, so I'm closing it.  We'll keep the redundancies for now.

[2018-04-14 16:12] tresf commented on #226
BoL5 is live right now and this task never happened.  It pains me a bit because I get requests on Discord all the time with competition questions and they really don't belong in #general or #support.  Not sure where to track competition stuff, but apparently it's not here.

[2018-04-14 16:12] #226 closed

[2018-04-14 16:13] tresf commented on #220
This issue seems to have subsided.  Closing.

[2018-04-14 16:13] #220 closed

[2018-04-14 16:14] tresf commented on #217
We can use scp for file transfer if this is ever resurrected.  It does suck to have a single-point-of-failure, but to be fair... even when GitHub [was hit with a DDOS attack, it was back up in 5 minutes]( https://githubengineering.com/ddos-incident-report/).  Closing as stale.

[2018-04-14 16:14] #217 closed

[2018-04-14 16:16] tresf commented on #189
@teeberg this has gone stale.  I think you can just grab the `CREATE ...` statements from the database dump and provide those in the wiki.  I'll leave open because to keep LSP alive, we need this type of information in the wiki.

[2018-04-14 16:20] #100 closed, assigned to nobody

[2018-04-14 16:25] tresf commented on #212
Gitbook has some very limited contributor rules, it only allows 5 contributors.  I've emailed them with a request for an exception to the user-limit twice and they haven't replied.

I understand Gitbook has Github integration, but I'm not sure how a "Pull Request" would look.  Can contributors do a change using the nice Gitbook UI and then request the change from us?  How does this work?  Can we g

[2018-04-14 16:26] tresf commented on #196
Spreadsheet has been live for two years.  Closing.

[2018-04-14 16:26] #196 closed

[2018-04-14 16:26] tresf commented on #141
Closing, out of scope for current LSP.

[2018-04-14 16:26] #141 closed

[2018-04-14 16:27] tresf commented on #257
Someone can revert the problematic code, but it seems some browsers are mucking up the session data causing this.  Closing because the bug seems to be sporadic and we don't have steps to reproduce.

[2018-04-14 16:27] #257 closed

[2018-04-14 16:30] tresf commented on #149
The `.xpf` files aren't currently indexed, so adding this would require a method to extract and scan each `.xpf` on the server's filesystem and then inject a new "Instrument" column into the database for that file.

This is going to suffer upgrade issues as well as instruments get renamed internally, e.g. `papu` versus `FreeBoy`.

I vote we close this, but it's 100% technologically feasible and wo

[2018-04-15 09:48] lukas-w commented on #240
@tresf Done.

[2018-04-15 09:48] #240 closed

[2018-04-15 09:58] Umcaruje commented on #230
I still plan on tackling this when i have time so I’ll reopen.

[2018-04-22 12:03] r01l opened #260 "Windows 10 SDL high latency"
Using SDL on windows 10 I get high latency (~65ms on the built-in sound card, a horrendous ~130ms on an external Focusrite Scarlett). With 1.1.3 and the libportaudio.dll substitution trick and ASIO I get no audible latency at all (on either sound card, with ASIO4ALL for the built-in, and Focusrite ASIO driver for the Scarlett).

I tried lmms-1.1.3-win64.exe, lmms-1.2.0-rc5-win64.exe and lmms-1.2.0

[2018-04-22 12:11] lukas-w commented on #260
@r01l This bug tracker is for the website only (https://lmms.io). Please submit your report here instead: https://github.com/LMMS/lmms/issues/new

[2018-04-22 12:11] #260 closed

[2018-04-22 12:15] r01l commented on #260
Oops, my bad. Sorry.

[2018-04-25 06:08] davidhedlund opened #261 "File upload error"
![screenshot from 2018-04-25 07 16 51](https://user-images.githubusercontent.com/6416073/39227408-b853fdd4-4858-11e8-9e27-cb2615a24388.png)

I got the same error (but with other ID codes in the square brackets) when I tried to upload a file again.

[2018-04-25 06:09] davidhedlund commented on #261
https://github.com/LMMS/lmms/issues/4322

[2018-05-30 13:25] adaz33 opened #262 "Bad label in menu Project in French version"
LMMS Version 1.2.0-rc5 (win32/x86_64, Qt 5.4.2, GCC 4.9.4 20150716 (prerelease))

Hi all,
just a little mistake to report in French LMMS, menu Project.
Line below Ctrl+Alt+S (save as new version), "Sauvegarder en tant que omdèle par défaut"?

omdèle  may be replaced by modèle.

[2018-06-01 17:30] liushuyu commented on #262
Sorry, but you seemed to report the issue to a unrelated repository. I recommend you to report this issue to https://github.com/liushuyu/lmms-translations/issues

[2018-06-08 13:57] ahstro opened #263 "Broken video tutorial link"
The first link under [the Automation Editor section](https://lmms.io/documentation/Video_tutorials#Automation_Editor) on the Video tutorials page starts with `httsp` instead of `https`, making it unclickable. Was going to fix it myself, but couldn't find it in the code, so assuming it's fetched from somewhere else? This still felt like the most appropriate place to report the issue though.

[2018-06-08 16:07] Umcaruje commented on #263
Hi, thanks for reporting. I fixed it. The documentation is edited at http://lmms.io/wiki

I can hook you up with a account if you want. Cheers.

[2018-06-08 16:07] #263 closed

[2018-06-08 16:08] Umcaruje commented on #262
@liushuyu is right, this is not an issue for this tracker.

[2018-06-08 16:08] #262 closed

[2018-06-10 15:53] Spekular opened #264 "Get Involved outdated?"
The page focuses heavily on the LMMS mailing list

As far as I'm aware, this is no longer the most active/best channel of communication. Is this correct?

As a side note, the page also states

However, elsewhere I believe we encourage people to contribute even if they aren't familiar with C++ and Qt beforehand. Should this perhaps be something along the lines of

?

[2018-06-10 17:49] lukas-w commented on #264
This is definitely correct. The mailing list only gets a handful of mails per month max.

However, I'm unsure what method of communication we should promote as the preferred one. Personally, I have very mixed feelings about using Discord a lot for development related discussion. Splitting discussions into several places can make it considerably harder to follow activity on the project, and a lot o

[2018-06-11 10:47] Spekular commented on #264
##### Mailing List

The way I see it, "reach out to our developers" seems more likely to be troubleshooting type issues rather than development conversation. If the conversation ends up being something that would warrant an issue/comment on GitHub, we can direct people to post about it there, or summarize the discussion. This line also falls under the "mailing list" item, so it would be sufficient

[2018-07-19 18:57] allejok96 commented on #257
Same thing just happened for me. First I thought it might have been some special character in my password. Now I have 3 accounts :) Firefox 61.0.1 on Arch with Gnome. Restarting Firefox was enough to fix it.

[2018-07-19 19:44] allejok96 commented on #212
Just chiming in here with some viewpoints, don't mind me :eyes:
1) Please put all the documentation in **one single place** (including docs for LSP and other things if there will ever be any). The current thing with the lmms.io/documentation and lmms.io/wiki is confusing enough even if the content is the same. The former site looks nicer but....

2) Please have it in a **searchable** format. Like

[2018-07-30 04:33] tresf commented on #261
@davidhedlund is this still a problem?

[2018-07-30 04:37] tresf commented on #264
@Spekular just fix it please.  Propose and fix if needed (PR, etc).  Tag those needed if you're unsure.  Don't leave bug reports that are opened ended judgement questions... that's what the #lmmsio [Discord](https://lmms.io/chat) channel is for.  Lukas wrote those statements because we needed text from our [old community page](http://lmms.sourceforge.net/community2.php) and if it needs to be impro

[2018-07-30 04:39] tresf opened #265 "RC not listing on downloads page"
@lukas-w any idea?  Here's the report from Discord:

![screen shot 2018-07-30 at 12 38 31 am](https://user-images.githubusercontent.com/6345473/43377826-f1e675da-9390-11e8-86dd-0f1f3a05eecd.png)

[2018-07-30 15:03] Spekular commented on #264
Resolved!

[2018-07-30 15:03] #264 closed

[2018-07-30 15:16] tresf commented on #264
Where?

[2018-07-30 19:53] lukas-w commented on #265
No idea what's wrong. It works when I test it locally, so maybe deleting the caches will make it work again. I can't access the server through SSH any more though, maybe my key was removed?

[2018-07-30 21:30] tresf commented on #265
You're in there with a key... not sure if it's the right one.
[code]

The session cleanup seems to be in bad shape again.

The source code that NetworkRedux wrote is:

Temp:
[code]

Wiki:
[code]

The wiki has a typo and hasn't been running, should be `-name 'sess*` -type f`.  That's fixed now but the downloads aren't.

I did a `sudo mv /tmp/github-api-cache/ /tmp/github-api-cache_bak` and it didn'

[2018-07-30 22:39] lukas-w commented on #265
Thanks for checking. I restored that SSH key and can access the server again.

I think I know what's happening. @PhysSong started a draft of an RC7 release in the `lmms` repo three days ago. We're authenticated with the GitHub API so that rate limiting doesn't hit us, but apparently it makes draft releases show up in API responses as a side-effect. The website's code doesn't check for that and dec

[2018-07-30 22:40] lukas-w commented on #265
Fixed via 8258fbf2475f0aa2166a5c5e98952bcd6bbb3ed2.

[2018-07-30 22:40] #265 closed

[2018-08-01 16:07] Umcaruje commented on #212
@r-mice I simply don't have the time to commit to a full rewrite of our documentation. It's a huge project, and if you or someone you know would like to take point on this, I can help out. There was a start on writing a new 1.2 by a community member, but we haven't heard from them in months. If you would like to discuss this futher, I suggest hitting me up on the project discord: https://lmms.io/c

[2018-08-01 20:08] tresf commented on #212
It is in one place.  The `/wiki` URL was temporary until we worked out the bugs for `/documentation` but we never finished that task and we [never will](https://github.com/LMMS/lmms.io/issues/100).

It is searchable at the `/wiki` url, but it sucks.  Google is better, embarrassingly but that's just the nature of using a MediaWiki instance, which we're trying to get away from.  Anyway, it's part of

[2018-08-01 20:33] tresf commented on #212
Just came across this thread on GitBook's GitHub tracker... https://github.com/GitbookIO/gitbook/issues/1808

[2018-08-01 20:42] tresf commented on #212
AaronO had his email in there, so I'm trying to reach out to him directly.  Hopefully he reads and replies to our sponsorship request. 🤞

[2018-08-01 20:56] tresf commented on #212
Aaron said yes.  Let's stack some resources there and see how it pans out.  one of us will update this thread once the sponsorship goes through.

[2018-08-20 11:23] musikBear opened #267 "An invitation to 'sonor' a german conference"
http://lmms.io/forum/viewtopic.php?f=4&t=28647#p56932
FYI @tresf @Umcaruje @zonkmachine @PhysSong
Sonor-conference invite a LMMS spokesperson to preform  a demo, and a presentation talk of one hour!

[2018-08-21 00:44] PhysSong opened #268 "post_deploy uses wrong path for compile_locale"
`compile_locale` is in `dev` directory, but the `post_deploy` script tries to find it in the repository root.
https://github.com/LMMS/lmms.io/blob/2fdd7ef699302931a8ea6537d0108b906834f78b/hooks/post_deploy#L2

@liushuyu Is it a bug or an intended one?

[2018-08-26 06:14] PhysSong commented on #267
This issue tracker is for website development. You should use our discord channel instead.
Anyway, I can't go there because it's too far from here.

[2018-08-26 06:14] #267 closed

[2018-08-26 13:42] musikBear commented on #267
@PhysSong I did leave a message on discord. No response, but zonkmashine is on it now, so all's well :)
-Btw -earlier *this* site has been used for different contacting, that was non-related to program-issues, but i know the affection for discord, that exists -for some 👼

[2018-09-06 01:44] #268 closed

[2018-09-07 02:46] PhysSong opened #269 "Better guides for running LMMS on Linux and/or macOS"
@tresf and I talked on Discord about this.
- We have a guide for setting permissions to AppImages, but it's stable-only(see #254 for details)
- There are no notes about Mac's GateKeeper, e.g. https://support.apple.com/kb/ph25088?locale=en_US

Proper notes will help users troubleshooting problems when trying to execute LMMS.

[2018-09-14 17:08] tresf commented on #261
Closing as this has gone stale.

[2018-09-14 17:10] tresf commented on #212
Formal FOSS request submitted.  Still nothing back from GitBook on whether or not we are approved but I can grant access to anyone willing to run with this.  @PhysSong already said he would be willing to work on it.

[2018-09-14 20:04] flyingzebras commented on #261
@trebmuh https://lmms.io/wiki/index.php?title=Special:Upload still doesn't work. Please reopen the issue.

[2018-09-14 20:06] davidhedlund commented on #261
@trebmuh https://lmms.io/wiki/index.php?title=Special:Upload still doesn't work. Please reopen the issue.

[2018-09-14 20:06] tresf commented on #261
Tagging @Umcaruje I don't know how we do files in the wiki.  @flyingzebras we're moving to GitBook and need some volunteers if you're interested.

P.S.  I'm not sure who `@trebmuh` is, you should probably fix that tag.

[2018-09-14 20:10] trebmuh commented on #261
That's me (French translator GUI & website, SF3 support feature demander, plus a few other stuff), but you're right, @davidhedlund looks to have made a mistake when tagging me instead of you.

[2018-09-14 20:13] davidhedlund commented on #261
@trebmuh Oh, sorry.

[2018-09-14 20:17] trebmuh commented on #261
No worries

[2018-09-14 20:20] davidhedlund commented on #261
@tresf

I heard something about this several months ago. When do you think that will actually happen?

[2018-09-14 20:38] tresf commented on #261
I haven't authored any of the wiki we have, so I'm not sure.  @PhysSong has volunteered to help with the new wiki but we don't have too many other volunteers.

[2018-09-14 20:39] davidhedlund commented on #261
Thank you for the update. I don't have any time to help my self unfortunate.

[2018-11-20 16:16] tresf commented on #212
GitBook finally approved our sponsorship request and claim that our sponsored account is now active.  The project needs someone to help manage this new home for documentation.  If not already involved, please come over to `#devtalk` channel here: https://discordapp.com/invite/PruNxpG and tell us who you are!  We should be able to build content immediately with the right help.  Thanks for the patie

[2019-04-10 03:41] oldunixguy opened #272 ""contact us" link on the download page broken"
Problem 1.
came here to download. found a problem with the Ubuntu 14 repo version. clicked on the "contact us" link for version support issues. Got 404 not found page.
Problem 2.
Ubuntu 14 repo for lmms when attempting to install with synaptic LOUDLY WARNS this distro could NOT be authenticated.... What should we do? Can this be fixed?
I tried to paste a screenshot but all it does is put the file

[2019-05-28 22:29] liushuyu commented on #272
I tried to paste a screenshot but all it does is put the file name in this text.

Which repository are you using? If you are using the KXStudio, please follow the instructions on https://kx.studio/Repositories#Ubuntu and if you have any further questions, you need to contact them to get your problem resolved.

Thanks

[2019-05-29 02:32] oldunixguy commented on #272
here is the repo info for Ubuntu 14 for which the lmms problem happened.

root@PEI:~# dpkg -s lmms
Package: lmms
Status: install ok installed
Priority: optional
Section: sound
Installed-Size: 12315
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Architecture: amd64
Version: 1.0.0+stable-0ubuntu1
Depends: lmms-common (>= 1.0.0+stable-0ubuntu1), libasound2 (>= 1.0.16), libc6 (>

[2019-05-29 04:00] liushuyu commented on #272
From the look of it, it seems like you have installed the version from Ubuntu official repository. It shouldn't have the issue that "The package couldn't be authenticated" or "Unable to verify the package".

If LMMS 1.0.0 was what you wanted to install, you have already installed it from the look of it. If you were attempting to install a newer version, then, you need to paste the output of `apt s

[2019-05-29 05:33] oldunixguy commented on #272
Thanks. I was just trying to install any version... this may have installed but it produced the error I reported.
here is more output for you.
thanks
oldunixguy

root@PEI:~# apt show lmms
Package: lmms
Version: 1.0.0+stable-0ubuntu1
Priority: optional
Section: universe/sound
Origin: Ubuntu
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Patrick Winnertz <

[2019-06-19 09:31] ImprovingLMMS opened #274 "Languages list"
To put all the languages of the languages list with the first letter in uppercase.

[2019-08-31 22:33] liushuyu commented on #274
The language data in the system provide the names of the languages in the language list. Some of the languages do not capitalize their language names in their languages.

[2019-08-31 22:38] liushuyu commented on #272
@oldunixguy Sorry for letting this issue stale for so long. The issues with the website are now fixed.

If you are still having issues with LMMS itself, please file a new issue at https://github.com/LMMS/lmms/issues/new
Don't forget to include a reference to this issue in your new report so that others can see your issue in the correct context.

Thanks

[2019-08-31 22:38] #272 closed

[2019-09-01 07:52] lukas-w commented on #274
There's not much else to say here, different languages have different capitalization rules. For reference, this is Google Search's language selection:

![image](https://user-images.githubusercontent.com/2879917/64073374-2c7f9000-cc9d-11e9-8eae-a22e633d38f1.png)

[2019-09-01 07:52] #274 closed

[2019-09-08 19:07] qubodup opened #276 "download files break on é in filename"
Downloading https://lmms.io/lsp/?action=show&file=15366 downloads as a file called "Vall" (no filename extension).

EDIT: russian seems to be fine though: https://lmms.io/lsp/?action=show&file=15335

[2019-09-13 17:26] qubodup opened #277 "LMMS Sharing Platform (LSP) content license issues (copyright, trademark)"
Hello, LSP is great! Unfortunately it hosts some copyrighted content:
https://lmms.io/lsp/?action=show&file=15389 (megaman trademark/copyright)
https://lmms.io/lsp/?action=show&file=15394 (billie eilish copyright)

Some suggestions as food for thought:
1. Make by-nc-nd default, so that people who don't pay any attention to license at least don't upload a license that encourages commercial use/remi

[2019-09-13 17:34] qubodup commented on #276
https://lmms.io/lsp/?action=show&file=15370 downloads as **Galantis - Runaway(U_** instead of **Galantis - Runaway(U & I) LMMS Remake.mmp**

[2019-09-14 20:01] trebmuh opened #278 "Website translations broken"
It looks that the website translations are broken. Whatever the language I'm selecting, everything is in English. (as an example: https://lmms.io/?lang=fr_FR ).

[2019-09-16 02:40] liushuyu commented on #277
https://lmms.io/lsp/?action=show&file=15389 (megaman trademark/copyright)
https://lmms.io/lsp/?action=show&file=15394 (billie eilish copyright)
[edit] https://lmms.io/lsp/?action=show&file=15370 (galantis copyright)

This really subject to the jurisdiction as some jurisdictions may classify these under fair-use for their `transformative` work.

Well `CC-BY-NC-ND` is much more strict than `CC-BY` a

[2019-09-16 03:03] liushuyu commented on #278
This is a design problem in PHP where the website is updated, translation data will become out-of-sync and needs a reload. I have implemented a fix and it should work now.

[2019-09-16 05:42] Spekular commented on #277
@liushuyu regarding

My understanding of the proposal is that a more restrictive default license mitigates the effect of people uploading content they don't have the right to.

- I upload a remix of a song that I don't have the rights to
- I ignore the license dropdown because I'm not familiar with or don't care about licensing
- Scenario 1: The default license is "CC-BY". Anyone who comes across

[2019-09-16 05:46] Spekular commented on #277
I hit "submit" too early, but I've completed my earlier comment now via edit.

[2019-09-16 11:55] Umcaruje commented on #277
I don't think we should determine what is copyrighted and what is not, and delete content on our own. We should though state that we comply with the DMCA and maybe have a seperate email address for these infractions. If we get a DMCA takedown request for a file and it turns out to be copyrighted material, only then should we remove it.

[2019-09-16 12:18] trebmuh commented on #278
Yes it works now.
Thank you @liushuyu

[2019-09-16 12:18] #278 closed

[2019-09-17 01:57] #276 closed

[2019-09-17 02:12] tresf commented on #277
Copyright (especially electronically, on mass) is a slippery slope.  All points made are valid, but what I consider to be most interesting is the idea of a user clicking the checkbox that says "I own this and have the right to upload" when it's a bit more gray.

In the case of these tracks, the slippery slope comes in the downstream licensee.  It's really not useful to claim the tracks uploaded to

[2019-09-17 02:20] tresf commented on #277
👍

👍

👍

👍

I'd like to note, all these ideas involve editing the lsp codebase, of which is not well maintained.  We would be happy to accept PRs to enhance the platform.  It was written by the original author of LMMS many years ago and it's just a bunch of volunteers keeping it going.

[2019-09-17 02:23] tresf commented on #277
Oh one more thing... I'd like to share a resource that specializes more in this type of problem:

https://ocremix.org/remix/OCR03971

There's no copyright info specifically, instead it says:

[2019-10-01 05:25] liushuyu opened #281 "Rethink LSP"
## Background

I think it is time to rethink about LSP, the LMMS sharing platform.

The code of it was an ancient piece of history from the late 90s. And some of the coding conventions are no longer best practices today.

## UI/UX Redesign

As time went by, design patterns changed a lot during these years. Although we have redesigned the main page and adapted the LSP website accordingly, the desig

[2019-10-01 20:51] liushuyu commented on #281
I have actually considered all of those features and functions, but the problem is, under the current codebase, it is difficult to implement.

For instance:

- OAuth: Instead of string matching credentials, now we need to change the login page to match tokens as well, also database schema needs to change again to store OAuth tokens
- Report: Obviously you need to store the records somewhere, datab

[2019-10-01 20:57] liushuyu commented on #281
We could learn from the platforms like [CurseForge](https://www.curseforge.com/) and [Nexus Mod](https://www.nexusmods.com/mods/), they have something in common with LSP: hosts user generated contents, rating, comments, search function, and they all have version tracking.

[2019-10-01 20:59] tresf commented on #281
Was thinking the same thing.  Modify a platform that offers everything to behave like LSP instead of trying to reinvent each component by hand.

[2019-10-03 23:48] liushuyu commented on #281
Unfortunately, I wasn't able to find their source code and it seems like they are PaaS solutions. Other frameworks or solutions are based on "playlists" and they only host audio files.

It seems like other solutions are homebrewed.

If anyone has better solutions, just post it here.

[2019-11-17 15:37] viraxor opened #283 "Artwork page has invalid 404 links"
This is LMMS icon link:
![image](https://user-images.githubusercontent.com/55741238/69009723-79980780-0958-11ea-8945-978515c86f3d.png)
This is .mmpz icon link:
![image](https://user-images.githubusercontent.com/55741238/69009729-8ae11400-0958-11ea-8dd6-9ac0de1077f8.png)

[2019-11-23 15:03] Spekular commented on #283
Worth noting that both of these icons are also out of date. I don't think this will be fixed until/unless the page is updated with the new icons.

[2019-12-07 18:51] #283 closed

[2020-02-02 16:56] musikBear opened #291 "Error on wiki for image-upload"
Attempting to add an image to the wiki on this link
https://lmms.io/wiki/index.php?title=Special:Upload
 throws this error:
![image](https://user-images.githubusercontent.com/6662066/73611609-cb5d3f00-45e3-11ea-93ef-91edca829d45.png)

Process:
![image](https://user-images.githubusercontent.com/6662066/73611726-1e83c180-45e5-11ea-9484-835ce620ef6b.png)

Image is shown as accepted, but actual upload

[2020-02-05 20:37] UmbreonFR4 opened #292 "XSS vulnerability inside of file description"
Upon creating or editing a file you can find an XSS method, this can be done by having two of the same URLs with a = inside of it next to each other with a newline between them like this:
[code]
This will cause issues in the way chrome renders it causing a possible XSS method, upon further research into this I made a few examples showing that this can be abused

execute javascript on mouse hover:

[2020-02-05 20:48] tresf commented on #292
@UmbreonFR4 your link is broken.  You have `content=show`, but it's `action=show`.  I've fixed it.

[2020-02-05 20:48] liushuyu commented on #292
Hi! Thanks for reporting the vulnerability!

The LSP website is very outdated and I knew there would be vulnerabilities (#281). However, I will try to fix this one.

[2020-02-05 21:06] tresf commented on #292
@liushuyu it appears to be adding double HTML tags, and the browser is parsing the style info as a new HTML tag.

[code]

I'm not sure how this is happening.  First thought is an extra double-quote, but I'm not exactly sure yet.

[2020-02-05 21:07] tresf commented on #292
The `create_link` function which I think is responsible but can't pinpoint it yet... https://github.com/LMMS/lmms.io/blob/6d0a4f113e31ef730006b0ec3bc7f4f18c7e6378/public/lsp/utils.php#L507

[2020-02-05 21:07] liushuyu commented on #292
This is due to an improper escaping done in `utils.php` in function `parse_links`.

[2020-02-05 21:09] tresf commented on #292
That was my first thought too, but I don't see double quotes in the proof of concept description.  If it's there, I can't find it.

[2020-02-05 21:11] tresf commented on #292
@liushuyu I have a feeling that the HTML is being saved back into the database, then re-rendered.

[2020-02-05 21:12] liushuyu commented on #292
No, it wasn't:
![image](https://user-images.githubusercontent.com/6829345/73883646-8cb4c800-4821-11ea-8fbd-2c83b681951c.png)

[2020-02-05 21:23] tresf commented on #292
Hmm... something's adding the extra `<a href`, and I can't find it.  You said on Discord you have a handle on it so I'll let you fix it.

[2020-02-05 22:13] #292 closed

[2020-02-18 16:34] liushuyu commented on #291
It should now resolved.

[2020-02-23 10:05] musikBear commented on #291
It is -good work.

[2020-02-23 10:05] #291 closed

[2020-03-06 19:43] musikBear opened #293 "Annoying limitation in wiki"
This is about
https://lmms.io/wiki/index.php?title=Special:ListFiles
Updating these images would be so much simpler, if the images simply could be replaced. It would mean that all links and references would work, and nothing except for overwriting / replace the outdated image with a new one, would be needed. It would be so easy
But..
An illogical limitation block for this:
![image](https://user-im

[2020-03-15 05:43] #293 closed

[2020-03-15 05:44] liushuyu commented on #261
I think this issue is irrelevant now?

[2020-03-15 05:48] liushuyu commented on #212
I think this thread is now most stale since GitBook documentation has replaced MediaWiki instance.

Closing. Feel free to reopen if necessary.

[2020-03-15 05:48] #212 closed

[2020-03-15 05:49] liushuyu commented on #261
MediaWiki has been updated to a very new version.
Closing. Feel free to reopen if necessary.

[2020-03-15 05:49] #261 closed

[2020-03-15 14:16] musikBear commented on #293
@liushuyu Thanks! 👍

[2020-03-20 08:43] softrabbit opened #295 "Download page says "error 500""
Getting a 500 on the download page using both Chrome and Edge on Windows 10, both browsers are up to date AFAIK.

[2020-03-20 08:44] HUNNO opened #296 "Download"
I can´t dowload the program so please I'd like you fix this problem as soon as posible.
Thanks

[2020-03-20 08:46] Spekular commented on #296
Duplicate of #295, should be closed.

[2020-03-20 12:31] Umcaruje commented on #295
Looks like #173 again.  `df -ih` gives me
[code]

But I can't find the directory where we keep the temp files to clean it. `/home/deploy/lmms.io/tmp` does not exist.

[2020-03-20 13:14] Umcaruje commented on #295
Looks like there is a lot of session files in `~/lmms.io/var/cache/lsp`. Cleaned them up, and restarted the fastcgi service but the error still persists. Investigating further...

[2020-03-20 13:20] Umcaruje commented on #295
Ok looks like it just took some time. The download page is back.

[2020-03-20 13:26] Umcaruje commented on #173
This happened again today, but it affected the download page #295

I don't know what happened to the `~/lmms.io/tmp` directory, but it doesn't exist anymore. I found a bunch of undeleted session files in `~/lmms.io/var/cache/lsp` and I cd'd to it and cleaned them up with `find -type f -name 'sess*' -mtime +12 -exec rm -f {} \;`

Current status of the inodes:
[code]

All of them were used before my

[2020-03-20 13:27] Umcaruje commented on #295
Closing this issue, we should continue at #173

[2020-03-20 13:27] #295 closed

[2020-03-20 13:27] #296 closed

[2020-03-22 21:24] liushuyu commented on #189
Fixed in f8ea1125fafb79aa71178a29d896698ff800be3f

Migration scripts are now available

[2020-03-22 21:24] #189 closed

[2020-03-22 21:43] carbbos opened #297 "Error Download"
When I try to download it says error 500. How can I download it please

[2020-03-22 21:58] liushuyu commented on #297
It really shouldn't, can you post the screenshot please?

In the meanwhile, you can download it here: https://github.com/LMMS/lmms/releases/tag/v1.2.1 (scroll to the bottom)

[2020-03-22 21:58] #297 closed

[2020-03-22 22:01] liushuyu commented on #173
The issue was I migrate the website to Symfony so that the temporary folder path changed.

I have modified the clean up script located at `/opt/redux/scripts/php-session-cleanup.sh` to clean up the new path. Let's continue to monitor the situation.

[2020-03-23 04:40] musikBear opened #298 "ambiguous statement in Code-convention"
an expression used all through in https://github.com/LMMS/lmms/wiki/Coding-Conventions
is ambiguous.
Example

Header guards MUST NOT begin with an underscore _.

MUST NOT does not express that this is _prohibited_
"Must not" means "It is not absolutely necessary".
The expression here would logically be "Must never.." or "Should never" -even "Cant..".
I dont mean to nitpick, but since LMMS is an in

[2020-03-23 04:43] liushuyu commented on #298
Sorry, but this is not the correct repository to talk about this issue. Please direct this issue to https://github.com/LMMS/lmms/issues/new

[2020-03-23 04:43] #298 closed

[2020-03-23 19:37] musikBear commented on #298
@liushuyu It is the correct repository, it is not a program-issue, its a documentation issue
https://github.com/LMMS/lmms/issues/new is for bugs in the program. This place is for everything in regards to the documentation, and this is a *documentation* issue, namely the text-guide for code-conventions.
If it does not belong here, i cant see any where it does belong.

[2020-03-23 20:34] liushuyu commented on #298
I am not going to argue about which repository is the absolutely correct one to report the issue.
But the reality is that if you report the issue in this repository I doubt anyone who is responsible for the https://github.com/LMMS/lmms/wiki the wiki page is going to see it since they expect those issues to be in LMMS/lmms (the logic is that GitHub Wiki does not belong to `lmms.io`, it's __not__ th

[2020-03-24 20:06] musikBear commented on #298
@liushuyu Im not going to argue at all -il move the post :)

[2020-05-06 03:54] BrandonMakin opened #301 "Website FAQ link is broken"
The FAQ at `http://www.lmms.io/forum/app.php/help/faq` is a 404.

I got to this URL by going to `http://www.lmms.io/forum/` and clicking "FAQ" in the header.

[2020-05-06 05:21] liushuyu commented on #301
Can't reproduce the issue here:
![image](https://user-images.githubusercontent.com/6829345/81140583-19f1e080-8f27-11ea-9bb3-9c9bb988cdfa.png)

[2020-05-06 05:27] BrandonMakin commented on #301
On further inspection, I realized I was accessing the forum using HTTP.  The issue appears to only be present with HTTP and not HTTPS.

[2020-05-06 05:54] liushuyu commented on #301
Thanks for reporting this issue. I have deployed a fix, can you now try and see if you can reproduce the issue again?

[2020-05-06 07:28] BrandonMakin commented on #301
I can no longer reproduce the issue.  The FAQ seems to be working properly.  Thank you too!

[2020-05-06 07:28] #301 closed

[2020-05-20 08:19] Onetimetwotimes opened #302 "Color Inconsistencies"
There are inconsistencies in colour across the website, docs, and forums.

- The accent colour in the docs is a different shade of green from the accent colour on the homepage
- The secondary colour is orange on the home page, but blue on the downloads page

These have a negative impact on the unity of the website as a whole and should be addressed.
I suggest one or two accent colours used consist

[2020-05-20 12:00] Umcaruje commented on #302
Thank you for the feedback, I’ll look into this

On Wed, 20 May 2020 at 10:19 AM, V. Daemond Antonio <
notifications@github.com> wrote:

--
-Uroš|Umcaruje

[2020-05-21 12:17] Dani3I opened #303 "No language change button on website"
I can't find the language change button anywhere
I am in Poland and I have a website in Polish.
I want to change to English because part of the translation does not work:
![obraz](https://user-images.githubusercontent.com/34142462/82558303-aa5a3300-9b6d-11ea-9a29-cb21abb3dd02.png)

so due to the lack of the language change button, this is not easily possible.

[2020-05-21 12:32] Spekular commented on #303
The language selection is found in the toolbar at the top of the site.

However,it's true that the incompöete translation shouldn't be available.

[2020-05-21 13:07] Dani3I commented on #303
If this button is somewhere here and I did not notice it, I apologize for creating an additional entry.
But I still can't find this button.
This is what I see:
![obraz](https://user-images.githubusercontent.com/34142462/82561842-5f8fe980-9b74-11ea-81d7-a586686631d2.png)

[2020-05-21 13:27] Spekular commented on #303
Huh, you're right. There definitely was one before, but it seems like it's
disappeared. Sorry for not double checking!

On Thu, May 21, 2020, 15:08 Dani3I <notifications@github.com> wrote:

[2020-05-23 17:45] UmbreonFR4 commented on #281
If you are looking for a platform which has source code and is already similar to LMMS there is the BeatSaver website:
https://beatsaver.com/
https://github.com/lolPants/beatsaver-reloaded
It is written in typescript

[2020-05-30 11:10] grizeldi opened #309 "Link to the sharing platform is broken"
I tried opening the LSP link on the homepage and it gave me a 404.

[2020-05-30 11:28] Spekular commented on #309
It's temporarily down for maintenance reasons

[2020-05-30 19:02] EzecraftingYT opened #310 "Sharing Platform not working?"
Today I wanted to get a flute-like sound for my death sound effect from the lmms swapping platform, and I got error 404. I don't know what is wrong, but before this error I tried to open a link to an .xpf file and it was not found.

![LMMS Error](https://user-images.githubusercontent.com/40042886/83337087-efc5e100-a28e-11ea-9b16-55e69a4875f1.png)

[2020-05-30 19:16] Spekular commented on #310
Duplicate of #309, LSP is temporarily down for maintenance.

[2020-05-30 21:02] EzecraftingYT commented on #310
Oh ok, thanks.

[2020-05-30 21:02] #310 closed

[2020-06-01 02:11] bootmii opened #311 "Sharing Platform is gone"
The sharing platform, which is in the navbar, 404s.

[2020-06-01 02:12] bootmii commented on #311
duplicate of #309

[2020-06-01 02:12] #311 closed

[2020-06-01 05:51] ZER02002 opened #312 "LMMS sharing platform is inacessible"
For two days now, I get a 404 error message whenever I try to access the LMMS sharing platform.
The LMMS website is working well, only the sharing platform is having issues.
Maybe a hosting server that went down.

[2020-06-01 06:39] liushuyu commented on #309
It should be back up now. Sorry for the inconvience

[2020-06-01 07:42] Spekular commented on #312
Duplicate of #309 #310 #311

[2020-06-01 14:15] Umcaruje opened #313 "The LSP is making the website go down."
LSP changes made the whole website go down.

The website returns a 504 Gateway Time-out. It appears to have started from this commit https://github.com/LMMS/lmms.io/commit/a37cb4dbbc8c2f97dd8c9b1ccc0b1cf9fcc89497

Internally in the logs it's a lot of `upstream timed out (110: Connection timed out) while connecting to upstream` for the fastCGI processor. When I restart the fastCGI processor I can g

[2020-06-01 14:36] Umcaruje commented on #313
Ok this might also have some other implications other than the LSP, after 10 minutes after restarting the fastCGI processor the gateway timeout error is back...

It's still a lot better with LSP disabled, before the website would be up for maybe half a minute

[2020-06-01 15:01] #312 closed

[2020-06-03 21:44] #309 closed

[2020-06-24 10:56] EGuillemot opened #314 "Broken video tutorial links"
On the [Video tutorial page](https://docs.lmms.io/user-manual/7-resources/7.3-video-tutorials) ([wiki page](https://lmms.io/wiki/index.php?title=Video_tutorials)), all videos from maker 'LazerBlade' are inaccessible as they are now private.
On their [channel](https://www.youtube.com/user/lzrbld/videos), we can see that no video is available. I don't know if it's the only page with links to that ch

[2020-06-24 17:35] Umcaruje commented on #314
We don't use the wiki anymore for documentation, we switched to gitbook for that. I'm not sure why we're even keeping the wiki around.

[2020-06-24 20:45] liushuyu commented on #313
So the problem has fixed. For the record, MySQL was hogging all the resources because the current data sets are too large, and the query is too costly.

The fix was to add an index to the database table like this:

[code]

This will make MySQL use the prebaked indexes when doing a query, thus reduce the query cost.

[2020-06-24 20:45] #313 closed

[2020-06-24 21:40] liushuyu commented on #314
The wiki is now archived. Many contents on the wiki are outdated, and the wiki is here for only historical and archival purposes. You can take a look at our new documentation page: https://docs.lmms.io/user-manual/.

[2020-06-24 22:49] EGuillemot commented on #314
Thanks I didn't know for the wiki, I mentionned it because I saw it on a similar issue. But the broken links are also on the actual page: [https://docs.lmms.io/user-manual/7-resources/7.3-video-tutorials](https://docs.lmms.io/user-manual/7-resources/7.3-video-tutorials)

[2020-06-26 13:11] mark-orion opened #315 "Site down?"
lmms.io is completely unresponsive.

[2020-06-26 13:18] Spekular commented on #315
Weird, it's working fine on my end.

On Fri, Jun 26, 2020, 15:11 Mark Dammer <notifications@github.com> wrote:

[2020-06-26 13:39] mark-orion commented on #315
Thanks for the feedback. Looks like a routing problem of my provider. I just notice that I get it over mobile data....

[2020-06-26 13:40] mark-orion commented on #315
Forget it. Looks like a routing problem on my ISPs side.

[2020-06-26 13:40] #315 closed

[2020-06-26 16:09] LayneTheEpic commented on #173
#281 mentions that

Just something to keep an eye out for :P

[2020-09-09 16:26] tresf opened #317 "Migrate hosting"
NetworkRedux -- our hosting sponsor -- will be gone in December according to a recent email.  I asked the Pidgin mailing list and they switched to Digital Ocean.  Some of the below tasks are hosting-specific so I'll assume that's where we're going too unless a better provider comes along.

* [x] Add Digital Ocean logo in place of NetworkRedux https://opensource.nyc3.cdn.digitaloceanspaces.com/attr

[2020-09-14 23:32] narsiteo opened #318 "Enlace roto"
El enlace href = "http://www.megaupload.com/?d=F9OAT0BQ está roto

[2020-09-15 00:06] Spekular commented on #318
Where did you find this link? I'm pretty sure we don't have any megaupload links on lmms.io.

[2020-09-15 01:08] narsiteo commented on #318
This is the link:
https://lmms.io/lsp/index.php?action=show&file=1078

[2020-09-15 08:02] Spekular commented on #318
The LSP hosts user generated content, that link is added to the description by the uploader.

Requesting that this be closed as invalid.

[2020-09-15 09:31] #318 closed

[2020-09-15 14:50] tresf commented on #317
@liushuyu I believe the MediaWiki needs some attention.  If it's retired, a single redirect may suffice... Google is reporting this: ```
MediaWiki internal error.

Original exception: [e3cbabc236029127d7263366] 2020-09-15 14:49:31: Fatal exception of type "Wikimedia\Assert\PostconditionException"

Exception caught inside exception handler.

Set $wgShowExceptionDetails = true; at the bottom of Loca

[2020-09-30 20:57] Stamimail commented on #303
I have the same problem.
On many websites the language is also reflected in the address bar, which helps user to change language. Not in this case.

[2020-10-07 16:24] RiedleroD commented on #281
This is just a personal request, but I'd like to have the lsp work without js. This is just for performance reasons since loading with js is two extra steps, and generally slows down the website. A good example of a website being slowed down by js being js would be the whole youtube ecosystem, but most noticably youtube studio and youtube music. Looking at the network inspector, on average, there'

[2020-10-07 16:42] tresf commented on #281
I think most solutions (and thus those proposed by @liushuyu) are/will be predominantly back-end-driven and won't be too heavy on client-side JS unless the framework mandates it (and in that case, is up to the developer that writes it).

If a 100% "NoScript" site is desired, please make sure you're part of the testing phase so that those considerations can be made.  Personally, I find the "NoScrip

[2020-10-07 18:47] RiedleroD commented on #281
My biggest concern is the load and processing times, so no js at all isn't really necessary imo. The most healthy amount of javascript for a website is in my opinion just for the things that absolutely need js (e.g. client side password strength checking), so that the website can be used without js, but the experience is enhanced if js is enabled. Something like that. Ofc I'm not an expierenced we

[2020-10-07 18:59] tresf commented on #281
We always need testers.  As far as I know this hasn't started yet.  @liushuyu has pretty much taken over website maintenance at this point so if that continues they'll be the one posting updates to this thread.

[2020-10-08 05:13] pkboe opened #320 "Sharing Platform SideBar is Gone!"

[2020-10-14 08:16] RiedleroD opened #321 "fix translation"
I've opened the lmms.io website on my phone today, and found that at least the german translation is pretty trash. Also I believe there are also completely missing translations, since there are many empty list points.

![state of the current website translations](https://user-images.githubusercontent.com/57227431/95962044-2c414600-0e06-11eb-8fed-965dae500813.jpg)

Anyway, I can fix all of that if

[2020-10-14 08:41] Spekular commented on #321
https://www.transifex.com/lmms/lmms/

[2020-10-14 09:14] RiedleroD commented on #321
should I close this issue or broaden it so people see that there's still translation work to do?

[2020-10-14 09:16] Spekular commented on #321
I would say close it.

[2020-10-14 09:54] #321 closed

[2020-10-16 19:14] toosyz opened #322 "Can't download LMMS"
![image](https://user-images.githubusercontent.com/36548808/96299534-7d169180-0ff4-11eb-9e85-005451db62d3.png)
not a huge problem for me cuz i already have lmms tbh i just wanted to download the newer version cuz its got cooler stuff ill try again tomoz and hopefully succeed

[2020-10-16 19:18] GiacomoGalletti opened #323 "Error 500"
Hi,
i tried to dowload the program but the server error continues to prevent me

[2020-10-16 19:21] diegoMR24 opened #324 "Error 500"
No se puede descargar la aplicación. Cuando presiono el link de descarga me lanza error 500

[2020-10-17 16:27] DomClark commented on #323
Should be fixed now in c9e71f27fac5cd5215dbe8e963eae3937cda8ed0, thanks for reporting!

[2020-10-17 16:27] #323 closed

[2020-10-17 16:28] DomClark commented on #324
Should be fixed now in c9e71f27fac5cd5215dbe8e963eae3937cda8ed0, thanks for reporting!

[2020-10-17 16:28] #324 closed

[2020-10-17 16:28] DomClark commented on #322
Should be fixed now in c9e71f27fac5cd5215dbe8e963eae3937cda8ed0, thanks for reporting!

[2020-10-17 16:28] #322 closed

[2020-12-03 06:51] tresf commented on #314
@Lazerblade are you still around?  We use your videos still!  Like a lot of them!  Any chance you'd be willing to turn them back on, even if they're unlisted/private just for the documentation?

[2021-01-23 11:53] Maniues opened #328 "License?"
What is the license for this repo?

[2021-03-02 22:43] maidentaiwan opened #329 "Broken link to LMMS Tested VST Database"
On the page http://linuxsynths.com/vstsynths.html, the link "LMMS Tested VST Database" (https://lmms.io/documentation/Tested_VSTs) produces a 404 error.

[2021-03-11 10:55] Spekular commented on #329
This page has moved to [MediaWiki](https://lmms.io/wiki/index.php?title=Tested_VSTs) and later been archived, so it will no longer be maintained. As of 1.2 broken VSTs are the exception rather than the norm. In addition, we've moved our documentation to docs.lmms.io.

The author of linuxsynths is free to update their page as they see fit to accommodate these changes, but there's nothing to be done

[2021-03-11 17:21] tresf commented on #329
@maidentaiwan per @Spekular's comments, please ask the author of that website to link to https://lmms.io/wiki/index.php?title=Tested_VSTs for now with an asterisk/disclaimer that this list is no longer maintained.

[2021-03-11 17:21] #329 closed

[2021-04-30 18:34] Umcaruje commented on #320
![image](https://user-images.githubusercontent.com/6282045/116738979-703b1780-a9f3-11eb-947a-96933889fd16.png)
Looks good on my end.

What's your browser?

[2021-05-11 20:51] firiox opened #330 "Link valido y error 404"
El link del post esta bien lo copie y funciono pero al utilizarlo clickearlo me lleva a una pagina error 404

[2021-05-11 22:47] liushuyu commented on #317
I think probably this is now finished and could be closed.

[2021-05-11 22:57] #317 closed

[2021-05-14 22:38] firiox commented on #330
https://m.soundcloud.com/tropicaldutch/real

El mar., 11 may. 2021 17:35, liushuyu ***@***.***> escribió:

[2021-05-15 03:29] liushuyu commented on #330
Sorry, but which post is this from? Can you provide the link to the post instead?

[Translated] / [Traducido]

Lo siento, pero ¿de qué puesto es esto? ¿Puede proporcionar el enlace a la entrada en su lugar?

[2021-05-16 11:28] firiox commented on #330
https://lmms.io/forum/viewtopic.php?f=4&t=4480&sid=f2b45087f3337ba0f11d38ec731371c4&start=110

El vie., 14 may. 2021 23:30, liushuyu ***@***.***> escribió:

[2021-05-23 12:13] Umcaruje opened #332 "LSP is broken"
Probably from #287 tagging @liushuyu

You can log into your account but when you click any of the buttons on the sidebar like "Add File", "My Files", or "Settings" you get logged out

[2021-05-23 22:04] Umcaruje commented on #332
Fixed by @liushuyu

[2021-05-23 22:04] #332 closed

[2021-06-06 18:26] trebmuh opened #334 "IRC channel"
Hey @Spekular and @liushuyu (and others too).

Seeing [this commit](https://github.com/LMMS/lmms.io/commit/4129bafd294fb4393241f4ad7da4320839d325b6), I'm wondering why you did remove the IRC channel link ? It's still a good way to share idea/music and ask question about LMMS.

If that's because of the freenode disaster, we now have a #lmms libera.chat channel and people have already started moving

[2021-06-06 18:38] Spekular commented on #334
See [this PR](https://github.com/LMMS/lmms.io/pull/333) for discussion.

No one available at short notice was able to take care of migrating the IRC channel, so rather than continue direct people to one hosted on a shady service we removed it for the time being. I have no idea who's running the channel you speak of, so I personally wouldn't link it from the official site.

[2021-06-07 09:35] crabbedhaloablution commented on #334
You can take over the Libera channel by sending an email and verifying your identity:
https://libera.chat/chanreg

[2021-06-15 14:19] Bietola opened #335 "Sharing Platform Search Function Does Not Work on Website"
No description is really required... as soon as I hit "search" I don't get search result but only get what seems to be a page referesh.

[2021-07-26 21:05] tresf commented on #35
Reopening to document/investigate this with our newer hosting provider.

[2021-07-30 10:03] Umcaruje commented on #335
Confirmed. @liushuyu any insights on why this could be happening?

[2021-10-13 07:53] sitzer opened #336 "www.lmms.io is not resolved to the IP of lmms.io"
Maybe it's  a feature and not a bug, but www.lmms.io is leading to 68.183.100.144 what gives me a welcome to nginx Screen...
just lmms.io works fine

Sometimes I show people LMMS in Seminars and to write down the address on the chart board I write "www.lmms.io" as everybody understand it's a Website and is able to type it...

Cheers and thanks for your work

[2021-11-22 05:21] tresf commented on #336
[code]

[code]

This fixes http://www.lmms.io.  Unfortunately, https will not work with our current certificate.

[2021-11-22 05:21] #336 closed

[2021-11-22 05:33] liushuyu commented on #330
Sorry for the late reply. We are not responsible for any content on the forum, since they are made by the user.

[Translated] / [Traducido]

Disculpe la demora en la respuesta. No nos responsabilizamos de los contenidos del foro, ya que son realizados por el usuario.

[2021-11-22 05:58] liushuyu commented on #335
This should have been fixed in 4aed777020bea35665f20ebeb25f9d451b22467a.

Could you please verify it? Thank you in advance.

[2021-11-22 05:59] tresf commented on #335
Seems to be fixed.

[2021-11-22 05:59] #335 closed

[2021-11-22 06:19] #328 closed

[2021-11-22 06:19] tresf commented on #328
GPL2+, updated.

[2021-11-22 06:20] #330 closed

[2021-11-22 06:21] #320 closed

[2021-11-22 06:23] tresf commented on #302
Closing, since there's been no progress on it.  Feel free to submit a pull request if you'd like to contribute a patch, the website is open source.

[2021-11-22 06:23] #302 closed

[2021-11-22 06:25] liushuyu commented on #137
I think this is also out of the question since 1.2 is already out and 1.3 is on the horizon.

[2021-11-22 06:26] tresf commented on #334
We discussed this a bit in #333, but someone please run with this, we'll link it when it's up and running.  We use Discord predominantly, so someone that actually uses IRC is best to spearhead this.

[2021-11-22 06:45] #137 closed

[2021-11-22 09:02] trebmuh commented on #334
OK, I'm doing it and will update here when done.

[2021-11-22 09:17] liushuyu commented on #334
Thank you! We could help you set up a IRC bridge should you need it.

[2021-11-23 17:32] trebmuh commented on #334
OK, I've checked it and it seems that I already am channel operator there (beeing so since may). It seems I forgot I was probably because back then, I was moving to a new job and location.
Anyway, which project maintainer want to be given the operator role too? Note that it needs to be someone with a registrered nickname on the libera.chat server. Please let me know.

@liushuyu : why not, could be

[2021-11-25 02:12] #334 closed

[2021-11-25 02:13] tresf commented on #334
@trebmuh thank you!  Please add `op` to `tresf`.  Anyone else, please chime in... I'll name a few admins that help out whenever we need to grant access, I expect one or more to chime in (below are their github names, they'll need to chime in once they've registered their libera names).

@Umcaruje
@PhysSong
@Spekular
@liushuyu

For those not familiar with IRC:

1. Visit https://web.libera.chat/ (or

[2021-11-25 05:40] PhysSong commented on #334
@trebmuh I registered the IRC server as `PhysSong`.

[2021-11-25 05:52] liushuyu commented on #334
I have registered as `liushuyu`

[2021-11-25 21:24] trebmuh commented on #334
I've added tresf, PhysSong, and liushuyu as op on the channel.
@PhysSong : note that you've been writing clearly your password on the IRC channel, I hope you changed it after!

[2021-11-25 21:25] trebmuh commented on #334
I've added @tresf, @PhysSong, and @liushuyu as op on the channel.
@PhysSong : note that you've been writing clearly your password on the IRC channel, I hope you changed it after!

[2021-11-27 22:23] Galaxy621 opened #337 "Error 500 on download page when 'analytics.js' is blocked"
I attempted to download LMMS and was met with an error 500 on the download page. In console, it told me that the server gave error 500, and that analytics.js was blocked (which I believe is due to an ad blocker).
![console](https://user-images.githubusercontent.com/59318029/143722195-071aa86a-83e0-4c9c-ae84-490e417a444e.PNG)
![image](https://user-images.githubusercontent.com/59318029/143722216-fb4

[2021-12-22 23:52] liushuyu commented on #337
This shouldn't happen as I use adblocker myself and blocks Analytics. Is the issue still present?

[2022-01-03 05:56] husamalhomsi opened #340 "Following the Web Content Accessibility Guidelines (WCAG) for contrast"
I noticed some issues of low contrast on the website. Adequate contrast is necessary for all users, especially users with low vision. I think following the [Web Content Accessibility Guidelines (WCAG)](https://www.w3.org/TR/WCAG21/) for contrast would fix the issues and improve accessibility. Specifically, I think these criteria should be met:

- [Contrast (Minimum)](https://www.w3.org/TR/WCAG21/#

[2022-07-17 09:17] Monospace-V opened #348 "Add BOL9 to Showcase tab"
The [Showcase](https://lmms.io/showcase) section of lmms.io has the BOL links, but they aren't shown here yet. It's there on the [Competitions](https://lmms.io/competitions) tab though.
Its results were announced about three months ago. Seems like these should be added soon.

[2022-10-03 16:26] opensourcefree opened #350 "forum activation email"
Hi

I registered on the forum but I don't receive any activation email. I also tried to resend it, but I never receive it.
Who to contact?

Thanks
Lisa

[2022-10-04 00:48] opensourcefree commented on #350
Solved the admin. Closed.

[2022-10-04 00:48] #350 closed

[2022-10-10 03:59] liushuyu commented on #348
Fixed in fedcb4823dbdb96353c51a3b43ec31a065d1cdae

[2022-10-10 03:59] #348 closed