[2014-07-30 06:45] lukas-w opened #1 "Indent style"
I think we should agree on what character to use for indentation? I suggest just using tabs. (Let the holy war begin!)

[2014-07-30 11:41] #1 closed, assigned to nobody

[2014-08-04 17:04] tresf opened #2 "Forum spam"
This plugin makes the registration hashes less predictable by spammers:

https://www.phpbb.com/customise/db/mod/daropl_antispam/

It does not list our current version 3.0.12 as supported and may break upgrades so I'll leave this bug.

This was recommeded by @eagles051387.

![image](https://cloud.githubusercontent.com/assets/6345473/3800546/ba729682-1bf9-11e4-8d23-92bad48aaed0.png)

[2014-08-05 13:50] Umcaruje opened #3 "Rename "Tracks" to "Music" or "Demos""
Makes more sense imo.

[2014-08-05 21:16] tresf opened #4 "Google+ Feed 403 Forbidden on TuxFamily.org"
So I got it working from my PC by whitelisting my ip address here:
https://console.developers.google.com/project/apps~lmms-api/apiui/credential

I added the subnet in the recommended CIDR notion I believe tuxfamily is using: `212.85.158.0/21`
... which _should_ cover what they have registered here:
http://myip.ms/info/whois/212.85.158.2/k/938534357/website/tuxfamily.org

But the page won't load, i

[2014-08-07 18:46] tresf opened #5 "Ideas for preventing blocking on feeds"
Currently when the [feeds](http://lmms.tuxfamily.org/feed/facebook.php) are outdated they make a syncronous request on page load.

PHP likes synchronous activity and it is the default behavior, but I think this extra 500ms makes it appear the site is running slow, when it's actually waiting on a new JSON feed.

I think the feeds should instead read the JSON data from the local file system only, an

[2014-08-07 20:53] tresf opened #6 "SoundCloud Feed not working on TuxFamily"
Must be a quirk to TuxFamily or a typo in the code but it runs fine on my pc.

This works fine via shell (id intentionally masked):

[code]

https://github.com/Lukas-W/lmms.tuxfamily.org/blob/master/feed/soundcloud.php

[2014-08-08 04:22] tresf opened #7 "PHP can't read from /home/lmms"
As title states, on tuxfamily, php can't read from any of the secrets files located in `/home/lmms` likely due to file permissions.  This has likely been happening right along possibly related to #4 and #6.

As a temporary workaround they've been moved to `htdocs/../tmp`.

[2014-08-08 04:30] #6 closed, assigned to nobody

[2014-08-08 04:30] #4 closed, assigned to nobody

[2014-08-08 13:00] tresf opened #10 "Linux download page improvments"
I propose using a radio button style that illustrates which page you are on (i.e. Debian vs. Fedora).

I also propose we consume the hashtag i.e. `#linux-debian` and switch accordingly.

![image](https://cloud.githubusercontent.com/assets/6345473/3856769/f4b04268-1efb-11e4-9d8c-0b7937e562f7.png)

[2014-08-08 13:56] tresf opened #12 ""Follow" buttons on main page"
Opinions wanted for follow buttons on the home page.

I personally hate them because they just put a bunch of buttons people rarely click on right in the middle of our home page (or in the case of the Digg example below, at the bottom of the page) however some services such as Google+ will only allow the pages to have a verified URL if we link them on our home page (they then crawl our home page f

[2014-08-11 11:17] #7 closed, assigned to nobody

[2014-08-14 23:18] Umcaruje opened #17 "Suggestion: use Lightbox for images"
It would look a lot nicer if [Lightbox](http://lokeshdhakar.com/projects/lightbox2/) was used to show full scale images when clicked on thumbnail.

[2014-08-15 00:23] tresf opened #18 "screenshots bugs"
1. Navbar.php incorrectly links to "screens.php" on small screens (quick fix)
2.  Small screens hide screenshots on screenshots page due to the visible-lg class stuff (quick fix)

Wanted to log these so they don't get forgotten since they affect small screens only.

[2014-08-15 01:03] #18 closed, assigned to nobody

[2014-08-17 08:40] lukas-w opened #21 "Migrating to new hoster"
As you may have noticed, the website is now running on our new hoster as well, as you can see at http://lmms.io/ or http://198.72.81.22/. Because of some changes I wanted to make (using [Composer](http://getcomposer.org) for handling external dependencies) that for some reason wouldn't work on tuxfamily, I created a separate branch for doing this, called [`redux`](https://github.com/LMMS/lmms.io/t

[2014-08-17 10:02] QrchackOfficial opened #22 "Slight text changes"
I recommend renaming "Native Instruments" as it may lead to confusion (or even worse, trademark problems) with http://www.native-instruments.com/en/

![Screenshot](http://i.gyazo.com/cf2d456e2975f1394b6465a514c25386.png)

[2014-08-17 12:48] #21 closed, assigned to nobody

[2014-08-17 14:00] #3 closed, assigned to nobody

[2014-08-17 19:06] tresf opened #25 "Google+ feed broken"
Google+ feed is broken on network redux hosting.  Likely due to the need to whitelist the IP range for networkredux so that it can access the Google+ JSON API.

![screen shot 2014-08-17 at 3 03 48 pm](https://cloud.githubusercontent.com/assets/6345473/3945448/82094f28-2641-11e4-9c72-d7760279ad10.png)

-Tres

[2014-08-18 15:16] tresf opened #27 "Add filter support to downloads for stable/prerelease"
Since the RC was published the stable builds fell off the DL page.  Need to put a filter in the GitHub API URL to only fetch stable. (This bug is aplaceholder until I can get to it).

[2014-08-18 18:54] #22 closed, assigned to nobody

[2014-08-19 18:52] tresf opened #29 "Primer Video"
@HDDigitizerMusic proposed a dedicated YouTube channel.  I think we need a good primer video.  Something quick and dirty which showcases the software at a glance.  This would be a nice addition to the front page, as the current link points to a rather boring unfa spoken screen grab.

[2014-08-20 13:40] #17 closed, assigned to nobody

[2014-08-20 16:56] #27 closed, assigned to nobody

[2014-08-20 16:59] #10 closed, assigned to nobody

[2014-08-20 18:55] tresf opened #30 "Warning: include(../vendor/...): failed to open stream: No such file or directory"
@Lukas-W is there a reason the `/vendor` directory is not included in the github repo?  Not having it breaks the community page on local instances.

[2014-08-20 21:41] #5 closed, assigned to nobody

[2014-08-21 12:39] #30 closed, assigned to nobody

[2014-08-21 12:48] tresf opened #32 "Facebook Feed Formatting Issue"
Per https://github.com/LMMS/lmms.io/commit/8413c939fddb0b369cb7288090152c4d7e124a56#diff-c74fb9f5847116a260beb4109475e583R44 the facebook feed seems to be broken from a formatting perspective.

I chose SimpleHtmlDom to format some of the text to clean it up for the community page however in recent versions of the community page it seems to be broken.

I'm not sure what caused this (composer, under

[2014-08-21 13:06] #32 closed, assigned to nobody

[2014-08-21 14:25] #12 closed, assigned to nobody

[2014-08-21 19:33] tresf opened #33 "SoundCloud "Play" Button"
Anyone interested in tackling this?  @Umcaruje comes to mind.... :)

The idea is to have an HTML5 play button embedded into the soundcloud feed.  I found a few libraries for this, all seems to leverage HTML5, CSS, JavaScript and sometimes have a flash-player fallback.

The HTML could be appended to the feed body on this line: [soundcloud.php#L20](https://github.com/LMMS/lmms.io/blob/master/feed/so

[2014-08-22 20:25] tresf opened #34 "Add link to mailing list"
I assume the community page would be a place for this but I'd like to have a clear and concise place for the **mailing list**.  I'm actually wondering how much of the feed stuff should actually take up the community page as it's sort of an experimental design and I want to make it intuitive to the user.

One option would be to add an envelope icon to the toolbar for a link to sign up for the maili

[2014-08-25 13:16] eagles051387 opened #35 "backup strategy"
Seeing as we are migrating everything to our new hosting provider. I would like to start the discussion about backup strategy.

My idea is that since we are on a VPS, I have a script that would compress particular directories and put them in a tmp location if i remember correctly. What I can add is the ability to send an email to certain individuals alerting them that the backup is ready for downl

[2014-08-25 22:14] Umcaruje opened #36 "LMMS Commercial Progress"
Hi, I am making this issue so I don't spam issue #29 . Here I will share my progress in making the Video for the LMMS Youtube channel.

First, let me share a [Raw test shot I did](https://www.youtube.com/watch?v=RQlf-TzvzkQ). Thats about how the shots will look in the commercial.

If you have any suggestions and ideas, feel free to leave comments

P.S. If you know a better place to put this rather

[2014-08-26 17:07] Umcaruje opened #37 "Enhancement: Make the screenshots script orderable"
Like said in https://github.com/LMMS/lmms.io/commit/74cdca5fb1089f4d519d4f3cc62b6906a5b82b92 it would be good to be able to order the screenshots. A simple numbering in the filenames should do the trick:
`01_ss_automation.png`
`02_ss_plugins.png`
etc.

[2014-08-26 18:27] #37 closed, assigned to nobody

[2014-08-26 18:35] tresf opened #38 "Cache download counts, display in release notes via sparkline"
The idea is to offer a simple graph displaying our download counts (by day, week, whatever).

![image](https://cloud.githubusercontent.com/assets/6345473/4049673/bfa41376-2d4f-11e4-9f1a-6a6cf490c80b.png)

Here's a library called "Sparkline" that will give us a graph very similar to what we had through sourceforge:

http://www.jamiebicknell.com/20-Jun-2014/Sparklines-via-PHP

What we would need is

[2014-08-26 18:50] tresf opened #39 "YouTube "Play" Button"
Similar to SoundCloud, it would be nice to offer the ability to play YouTube videos directly through the YouTube feed on our community page.

Fortunately for us, YouTube has a very nice embed object that we can leverage... probably by injecting the iframe code directly using JavaScript.

[code]

[2014-08-26 20:32] #39 closed, assigned to nobody

[2014-08-27 12:49] tresf opened #40 "Order the screenshots"
Per #37, put the screenshots back into order by numbering them.

[2014-08-27 18:33] #25 closed, assigned to nobody

[2014-08-27 18:38] tresf opened #41 "Migrate LSP"
Code can be found here:
https://github.com/tresf/lmms.io/tree/master/public/lsp

**Steps to migrate the LSP** (from sourceforge to our new `lmms.io` site hosted at networkredux)
1.  Backup sourcecode/uploads/database, import to local `php/mysql` instance (done)
2.  Theme LSP with new navbar, bootstrap theme, etc (done)
3.  Convert LSP from `mysql_connect` to `DBO` (50% complete)
4.  Protect LSP ag

[2014-08-27 18:40] tresf opened #42 "Migrate Wiki"
Follow `mediawiki` migration steps.  Theme as much as possible to maintain navbar.

![image](https://cloud.githubusercontent.com/assets/6345473/4065314/8ad45a00-2e19-11e4-8d0e-aa4f8fc295eb.png)

[2014-08-27 20:43] #40 closed, assigned to Umcaruje

[2014-08-28 11:43] lukas-w opened #44 "Add cron job to git repo"
As suggested in #5.

[code]

Just having this issue as a reminder until I set up everything on the server.

[2014-08-28 12:44] lukas-w opened #45 "YouTube feed broken"
Some log:

[code]

[2014-08-28 14:40] tresf opened #46 "Should we add robots.txt?"
I went through the verification process to allow our YouTube channel to be verified against lmms.io using  a DNS TXT record, now there is a nice (non-youtube) control panel Google Offers for managing page hits and search ranking, etc.

One of the tabs they offer mentions that our site doesn't have a robots.txt, so I figured I'd pose the question. :beer:

https://www.google.com/webmasters/tools/rob

[2014-08-28 20:28] #45 closed, assigned to nobody

[2014-08-30 16:31] #44 closed, assigned to nobody

[2014-09-03 19:04] tresf opened #48 "Forums "Reply" Button Broken"
As reported by @musikBear, intermittently the "Reply" button displays a blank white page.
This may be:
- Caused by a change to the theme files when I was fixing the navbar
- It may be something specific to a user status
- It could be something broken in the database.

Unfortunately the phpBB logs don't show any errors.

![image](https://cloud.githubusercontent.com/assets/6345473/4139673/0ac9c5dc-3

[2014-09-03 20:24] tresf opened #49 "Forums theme broken"
The theme `proBoot` was switched off to troubleshoot #48 now they're stuck off.

The theme may need to be installed manually to correct this.  The steps are in the wiki:

https://github.com/LMMS/lmms.io/wiki

[2014-09-04 04:58] #49 closed, assigned to nobody

[2014-09-04 13:22] #46 closed, assigned to nobody

[2014-09-04 13:45] #48 closed, assigned to nobody

[2014-09-04 16:11] tresf opened #50 "Not allowed access to font from origin 'http://lukas-w.github.io'"
@Lukas-W, this one is yours.

Looks like Chrome is finally blocking the fonts (which it has been warning about for a while) due a blocked cross-domain origin request.

I assume we can migrate them to the lmms.io repository so they deploy directly to our server.

![image](https://cloud.githubusercontent.com/assets/6345473/4152369/44a976b0-344e-11e4-9f9c-437ef2b878df.png)

[2014-09-04 16:56] #50 closed, assigned to lukas-w

[2014-09-06 17:56] Sti2nd opened #51 "Search function in forum"
Right now there is no easy way to find the search function in the forums, but it exists. If you click one of the four buttons at the top, you come to a site where you can click on a button saying "return to advanced search", and thus finding the search function.
![image](https://cloud.githubusercontent.com/assets/6373430/4175967/3e3f001e-35ee-11e4-9993-5fe34afcfaaf.png)

However it is widely known

[2014-09-07 14:08] QrchackOfficial opened #52 "Change navbar theme?"
Doesn't it look better with navbar-default?
![screenshot - 07 09 2014 - 16 07 38](https://cloud.githubusercontent.com/assets/3584315/4178474/5b126118-3698-11e4-89e4-cc5bdecc9579.png)

[2014-09-11 20:49] tresf opened #53 "LSP MySQL Issue"
The subcategory ID's for some items i.e. `Presets\Basses` vs. `Samples\Basses` are swapped in the mysql database causing incorrect counts for certain files.  Example:

http://lmms.sourceforge.net/lsp/index.php?action=browse&category=Presets&subcategory=Basses

Corrective action needs to be taken in MySQL to properly map the Subcategories to their appropriate Category parent as illustrated by the f

[2014-09-24 09:08] Sti2nd opened #54 "Change default licence on LSP"
Default licence (what is selected if you don't change it) could be some other than Artistic Licence 2.0, cause that doesn't allow remixing(?) and is less free than others. LMMS aims to promote freedom? Artistc licence is chosen as default now cause it is in alphabetical order.

Also updating the licences (add more of them? like v2, v3) cause some of them is rarely used and perhaps not used at all

[2014-09-26 22:43] Umcaruje opened #57 "The Wiki Rehaul"
So, I've been doing a lot of categorizing of the articles on the wiki. I categorized all the Pages that need work into 3 categories:
- [Incomplete](http://lmms.sourceforge.net/wiki/index.php/Category:Incomplete)
- [Out of Date](http://lmms.sourceforge.net/wiki/index.php/Category:Out_of_date)
- [Too Complex](http://lmms.sourceforge.net/wiki/index.php/Category:Too_complex)

So if you are planning to

[2014-09-29 05:45] Spekular opened #58 ""Typing Keyboard" alternatives"
The first time I read lmms.io I found the phrase "typing or midi keyboard" pretty confusing, both because of the formulation and because of the use of "typing keyboard". Does anyone else think it should be changed? I think "computer keyboard", or "regular keyboard" might make more sense.

[2014-09-29 07:19] #58 closed, assigned to nobody

[2014-10-01 16:40] #52 closed, assigned to nobody

[2014-10-05 20:03] Sti2nd opened #59 "Show required LMMS version on lsp"
With all the new instruments and new versions it would be good to see if a project on the lsp require a higher LMMS version than the one you perhaps have. I don't know exactly how it could be implemented. The "best" way would perhaps be to look for presence of one of the new plugins, as you could have made songs in newer versions of LMMS without using any of the new features. This would mean you h

[2014-10-05 21:45] lukas-w opened #60 "Shortened navbar items are never active"
![image](https://cloud.githubusercontent.com/assets/2879917/4520057/a3d8d020-4cd8-11e4-8b12-44f1e68ea4a3.png)

Relevant bits in navbar.php:

[code]

[2014-10-06 12:38] #60 closed, assigned to nobody

[2014-10-06 18:06] StakeoutPunch opened #61 "Forum error"
![image](https://cloud.githubusercontent.com/assets/6579031/4530661/d8cf9f3e-4d82-11e4-87ce-fb12dc37b127.png)

[2014-10-06 18:16] #61 closed, assigned to nobody

[2014-10-07 19:33] tresf opened #63 "New navbar breaks forums"
[code]

Separate from yesterday's issue.  @Lukas-W the new Navbar lib breaks the forums, likely because they're hard-coded to use the old navbar.php file.  Here's the old instructions, note that the HTML comment is actually the include statement which is parsed by phpBB:

https://github.com/LMMS/lmms.io/wiki/Forums-:-Install-Theme-and-Navbar

If you don't mind, please update these instructions to

[2014-10-07 19:46] #63 closed, assigned to nobody

[2014-10-13 11:41] musikBear opened #64 "Spambot - delete account"
Andrewblek
http://lmms.io/forum/memberlist.php?mode=viewprofile&u=1307
spams forum with viagra crap
Could subforum '0' beused to 'collect' spambot-attacs, and then let the real forum start ved sub '1'
Then our real users should just be told never to post in sub'0' and a script could traverse sub0 and delete all accounts on a daily cleanup
(This method was succesfull on flashPunk)

[2014-10-14 03:00] #64 closed, assigned to nobody

[2014-10-14 14:53] musikBear opened #65 "Change time for login"
Think the forum logs out too soon
In our previous forum, an option existed, that would let a user stay logged in over the day. (24 h)
This is a minor annoyment, but if its simple to alter, i would recommend it.

[2014-10-14 15:26] #65 closed, assigned to nobody

[2014-10-19 20:45] #41 closed, assigned to nobody

[2014-10-19 20:47] tresf opened #67 "LSP not saving login sessions"
http://lmms.io/lsp/

As the title describes, logins are working, but the login sessions are immediately clearing preventing file uploads, ratings, comments from working.  Users are presented with a login form even after a successful login ad depicted below:

![screen shot 2014-10-19 at 4 46 29 pm](https://cloud.githubusercontent.com/assets/6345473/4694650/07b8c7b4-57d1-11e4-931d-15e210098c6e.png)

[2014-10-19 20:49] Umcaruje opened #68 "LSP page name issue"
Picture says more than a thousand words.
![wierdness](https://cloud.githubusercontent.com/assets/6282045/4694655/5751a2aa-57d1-11e4-93bc-d1909fe22f01.png)

[2014-10-19 20:50] tresf opened #69 "LSP not allowing new registrations"
http://lmms.io/lsp/?action=register

Users are presented with `invalid security code` error on new LSP regardless if the code was typed properly or not.

![screen shot 2014-10-19 at 4 49 43 pm](https://cloud.githubusercontent.com/assets/6345473/4694659/87d5cc94-57d1-11e4-9eb6-0e3dfaed7166.png)

[2014-10-19 20:55] #68 closed, assigned to nobody

[2014-10-20 02:13] tresf opened #70 "LSP login box shows navbar on small screens"
The collapse code used for hiding the LSP login area on smaller displays triggers the in/out collapse code for the navbar and vice versa.

[2014-10-20 02:18] #70 closed, assigned to nobody

[2014-10-20 02:19] #69 closed, assigned to nobody

[2014-10-20 02:21] #67 closed, assigned to nobody

[2014-10-20 16:00] tresf opened #71 "LSP embed soundcloud urls"
Enhancement request to allow the LSP to auto-embed soundcloud and possibly youtube urls.

This will require some small tweaks to the `get_json_data()` function.

[2014-10-21 05:01] #71 closed, assigned to nobody

[2014-10-21 09:01] Sti2nd opened #72 "LSP: Theme page 2 unreachable"
If you go to the "UI Themes" section and click on the "2" at the bottom to go to the second page you get the error "No results found"

[2014-10-21 09:01] Sti2nd opened #73 "LSP: Rate your own stuff?"
Could be disabled

[2014-10-21 15:20] StakeoutPunch opened #74 "Forum Header Issues"
![image](https://cloud.githubusercontent.com/assets/6579031/4721035/811eb5e0-5935-11e4-88e8-1ee01cd80c3f.png)

Self explainitory, plus the LMMS home button doesn't work.

[2014-10-26 15:44] tresf opened #75 "LSP won't allow login on small screen devices"
Tried using the login box on an LG Nexus 4 and it auto-hides when the username takes focus making it impossible to login on a small screen mobile device.

[2014-10-27 14:52] #73 closed, assigned to nobody

[2014-10-27 15:25] #75 closed, assigned to nobody

[2014-10-27 17:15] tresf opened #76 "LSP - Fix soundcloud embed code"
Per @Umcaruje's test here:
http://lmms.io/lsp/?action=show&file=5403

The soundcloud user links aren't working properly:
![image](https://cloud.githubusercontent.com/assets/6345473/4795463/bbecba0c-5dfc-11e4-9eee-7ccd83db7b5f.png)

[2014-10-28 20:47] Sti2nd opened #77 "Front page"
I tried to think about it from a potential new user perspective. What do I want from the web page if I don't know what LMMS is, or have heard about it but don't know what it can do? What I probably ruined by rearranging the sections is the aesthetics.

I moved the problem and sharing section to the bottom, and in their place came screenshots and featuring.
![lmms home](https://cloud.githubusercont

[2014-10-29 05:17] #53 closed, assigned to tresf

[2014-10-29 05:19] #34 closed, assigned to lukas-w

[2014-10-29 05:30] tresf opened #78 "Force https?"
Shall we force https for all of our URLs?

Here's a write-up on it:
http://stackoverflow.com/questions/85816/how-can-i-force-users-to-access-my-page-over-https-instead-of-http

[2014-10-30 14:51] #29 closed, assigned to Umcaruje

[2014-10-31 10:33] Sti2nd opened #79 "Strange sorting by downloads on lsp"
Go to a site above 20, watch that projects aren't listed from a high number to a small. The sorting takes dates into account?
![image](https://cloud.githubusercontent.com/assets/6373430/4859276/46963a8c-60e8-11e4-9b79-1ddcca4d2cca.png)

[2014-10-31 13:33] #79 closed, assigned to tresf

[2014-11-01 12:47] grindhold opened #80 "replace google analytics with piwik"
I'd like to propose replacing google-analytics by less privacy-invading software like piwik.
After all, LMMS is a free software project and one of it's intention is to respect peoples freedoms.

Piwik would run on infrastructure controlled by LMMS-people, not on infrastructure controlled by google. That way not every HTTP call to lmms.io would be logged in the big google cloud.

Piwik can be found

[2014-11-01 14:45] #74 closed, assigned to nobody

[2014-11-01 21:40] Lukas-W opened #81 "Jumbotron background image"
I heard some voices expressing their dislike for the background image of the jumbotron, saying the flower-like pattern wouldn't fit a DAW. In case this opinion is shared by more people, I made an alternative for it.
I'm not saying it's better or that it should replace the old one, but I'm interested in hearing your thoughts about it.
![screen shot 2014-11-01 at 22 36 41](https://cloud.githubuserco

[2014-11-03 18:22] tresf opened #83 "Header overflow w/ new "Get Involved" link"
Since @Lukas-W added our new "Get Involved" page, our header overflows in between screen sizes again.  This was the reason for shortening the `Screenshots` to `Screens`,  `Documentation` to `Docs`.  Now the shortening of those titles is ineffective. :smile:

When removed, you can see the issue no longer occurs:

[2014-11-04 03:05] tresf opened #84 "Get involved button versus menu item"
Button points to community.  Menu item points to new "get involved" page. :see_no_evil: :hear_no_evil: :speak_no_evil:

[2014-11-04 09:11] #84 closed, assigned to lukas-w

[2014-11-04 13:43] tresf opened #85 "Google+ Feed is upside-down"
Oldest posts are first, which is backwards of what it should be. :laughing:

http://lmms.io/community/#google+

[2014-11-04 16:06] #85 closed, assigned to nobody

[2014-11-05 19:36] tresf opened #86 "LSP tar.gz bug - can't upload or edit"
Seems to be a bug with the "double extensions" introduced with the tarball file names.  Submitting a patch now...

![image](https://cloud.githubusercontent.com/assets/6345473/4924410/13f02dba-6523-11e4-913f-3bae05660f40.png)

[2014-11-05 19:41] #72 closed, assigned to nobody

[2014-11-05 19:41] #86 closed, assigned to tresf

[2014-11-05 19:52] tresf opened #87 "Jumbotron missing from lmms.io/index.php"
Navigate to index.php manually, jumbotron disappears.

http://lmms.io/index.php

Offending code:
https://github.com/LMMS/lmms.io/blob/master/public/header.php#L29

![image](https://cloud.githubusercontent.com/assets/6345473/4924703/372e8c0c-6525-11e4-983d-c464da9f133a.png)

[2014-11-05 19:59] #87 closed, assigned to lukas-w

[2014-11-05 20:37] #76 closed, assigned to Umcaruje

[2014-11-05 21:52] tresf opened #89 "LSP Special characters getting quotes in comments, file descriptions"
Example:

![image](https://cloud.githubusercontent.com/assets/6345473/4926754/fcb4aed8-6535-11e4-8eca-f686c158c23d.png)

[2014-11-05 22:07] #89 closed, assigned to nobody

[2014-11-06 03:36] tresf opened #90 "LSP commment searching"
A few weeks ago while browsing screenshots I saw an LSP comment with the word "manga" in it, but without the time to investigate, I never checked back to if it was spam.

This got me thinking about a feature to allow us to go back and search comments for certain keywords, such as "awesome" or "vi@gra", etc.

Implementation would be a checkbox somewhere near the search button and the search text wo

[2014-11-06 03:37] #90 closed, assigned to tresf

[2014-11-07 13:43] #83 closed, assigned to lukas-w

[2014-11-10 17:13] lukas-w opened #93 "Redirect lmms.sf.net traffic"
As far as I can see, all content is transferred. Are we safe to shut down lmms.sf.net and start redirecting its traffic to lmms.io?

We should inform NetworkRedux, as they told us they'd want to do some optimizations first.

[2014-11-15 00:20] #93 closed, assigned to nobody

[2014-11-15 23:06] Umcaruje opened #96 "Link Parsing function for LSP"
The idea is to turn any link like http://lmms.io into `<a href="http://lmms.io" target="_blank">http://lmms.io</a>`

Now I managed to make a regex that won't affect the iframes (with a little help from my brother).

The code can be found [here](https://github.com/LMMS/lmms.io/blob/9bf16cd43d4f941a92d6ab27d794e13199d7929a/public/lsp/utils.php#L393)
It works well on my end, and I get no problems, bu

[2014-11-16 11:18] Sti2nd opened #97 "Option for shorter redirection time than 5 secs"
When on a listen and comment mission on the lsp, it is crucial to be as effective as possible so many users who want feedback can get it. I am starting to get annoyed by having to wait 5 secs after each comment before redirection. Could there be a link or button to press to be redirected instantly?

[2014-11-16 20:49] #97 closed, assigned to nobody

[2014-11-17 14:19] tresf opened #98 "Wiki "installation" page"
@Sti2nd,

I believe our downloads page is our best place for the installation instructions.  Can we redirect traffic from this page:

http://lmms.sourceforge.net/wiki/index.php/Installation

To this page:

http://lmms.io/download

-Tres

[2014-11-17 14:58] tresf opened #99 "Dated wiki content"
@Umcaruje's notes:

So, I've been doing a lot of categorizing of the articles on the wiki. I categorized all the Pages that need work into 3 categories:
+ [Incomplete](http://lmms.sourceforge.net/wiki/index.php/Category:Incomplete)
+ [Out of Date](http://lmms.sourceforge.net/wiki/index.php/Category:Out_of_date)
+ [Too Complex](http://lmms.sourceforge.net/wiki/index.php/Category:Too_complex)

So if

[2014-11-17 18:19] tresf opened #100 "Dropdown menu for Wiki"
As the wiki becomes more integral part of our site (thanks in part to #42, #94), we may consider adding a drop-down menu to jump to specific pages or indexes.

![image](https://cloud.githubusercontent.com/assets/6345473/5074840/55b6de50-6e5c-11e4-9e89-36afada0409a.png)

[2014-11-17 18:29] #42 closed, assigned to nobody

[2014-11-18 12:14] MatthewGallichan opened #101 "404 Error"
Getting a 404 error when clicking on any of the LMMS download links.

[2014-11-18 13:10] SongMyeongHwan opened #102 "qqq"
hi

[2014-11-18 14:50] #101 closed, assigned to lukas-w

[2014-11-18 14:55] #102 closed, assigned to nobody

[2014-11-18 16:15] lukas-w opened #103 "Download page 500"
I'm getting a 500 when visiting http://lmms.io/download/. I checked Nginx's error log, and the request isn't even listed there… :confused:

[2014-11-18 16:19] #103 closed, assigned to nobody

[2014-11-18 19:41] ruckustboom opened #104 "Download site returns 500 error"

[2014-11-18 19:58] hakas opened #105 "Download link returns server error"
http://lmms.io/download/ returns error 500.

[2014-11-18 22:50] #36 closed, assigned to Umcaruje

[2014-11-18 23:20] #98 closed, assigned to nobody

[2014-11-19 03:55] #96 closed, assigned to Umcaruje

[2014-11-19 04:07] tresf opened #106 "Visitors per day"
![image](https://cloud.githubusercontent.com/assets/6345473/5100625/91a26bb6-6f77-11e4-9807-4d81f23e264c.png)

Just an FYI, for those that don't have access to our google analytics, this is the site-hit statics from our cutover from sourceforge to networkredux.

-Tres

[2014-11-19 04:07] #106 closed, assigned to nobody

[2014-11-19 11:35] #104 closed, assigned to lukas-w

[2014-11-19 11:35] #105 closed, assigned to lukas-w

[2014-11-20 01:29] #80 closed, assigned to tresf

[2014-11-20 01:36] #57 closed, assigned to nobody

[2014-11-20 03:56] #78 closed, assigned to nobody

[2014-11-20 04:03] tresf opened #107 "Switch wiki images to use proper protocol"
https://lmms.io/documentation/ has images hosted at http://lmms.io/wiki/images/6/63/Contents.png, http://lmms.io/wiki/images/a/a0/Dev.png, http://lmms.io/wiki/images/d/d1/Userconfig.png, etc.

This can cause warnings in the web browser due to mismatched protocols (claiming a site is secure and then transferring certain components as clear text is a no-no).

I'm going to assign this to @Umcaruje bu

[2014-11-20 14:04] #107 closed, assigned to Umcaruje

[2014-11-20 19:40] #59 closed, assigned to nobody

[2014-11-21 21:23] Umcaruje opened #108 "Update the MediaWiki instance"
We are running version [1.16.0](http://www.mediawiki.org/wiki/Release_notes/1.16) Which was released 4 years ago, so I think the wiki could really use an update.

P.S. Could you install the http://www.mediawiki.org/wiki/Extension:FontAwesome extension? I'd replace a lot of the icons with the FA ones, so we keep it consistent with the website.

[2014-11-24 14:18] Sti2nd opened #112 "Point the sf wiki to io"
http://lmms.sourceforge.net/wiki/index.php/Main_Page

Only @Lukas-W can add some text on the front page.

[2014-11-24 15:03] #112 closed, assigned to nobody

[2014-12-01 21:50] Umcaruje opened #113 "Recaptcha hidden on forums registration because of protocol issues"
[I saw a complaint about this on the Google + page, and reproduced it.](https://plus.google.com/u/0/+LeeMaiden/posts/YkwQJRMj3ya?cfem=1)

![errorme sir](https://cloud.githubusercontent.com/assets/6282045/5253867/b441d916-79ab-11e4-8a00-77dbb9b12d0e.png)

The recaptcha dialog is not appearing on the register page, because the script is pulled from `http://www.google.com/recaptcha/api/js/recaptcha.j

[2014-12-02 00:22] #113 closed, assigned to nobody

[2014-12-02 02:08] tresf opened #114 "Update proboot3 to ComBoot"
Per proboot3 developer:

http://comboot.de/demo/free/

-Tres

[2014-12-03 13:02] softrabbit opened #115 "Forum login, clicking on user name field closes login box"
Tested Firefox 33.0 on Ubuntu 14.04, Opera 12.17 and IE 10 on Windows Vista. In all of those the forum login form disappears if I click on the username or password input field. Have to tab to them to be able to log in to the forum.

[2014-12-07 17:27] tresf opened #116 "Downloads page problems"
Lukas... I'm growing a bit concerned with the stability of the new downloads logic.   I'm not sure exactly where the break is, but I don't remember this happening at all with the old version of the page and this is our most actively visited page, so we really need to set priority on this.

![screen shot 2014-12-07 at 12 26 10 pm](https://cloud.githubusercontent.com/assets/6345473/5331887/3e6ac63e-

[2014-12-08 12:57] tresf opened #117 "PDF Manual Sources"
Placeholder for finding a home for the PDF manual "source" (i.e. Word/Publisher/Etc).

@Lukas-W, @sti2nd, @Umcaruje, @stakeoutpunch do you have any opinions on this?  I think it would be beneficial to have a copy.

Here's some history of our email conversation.
<br><br>
<hr>

<hr>

[2014-12-08 18:29] Umcaruje opened #118 "Parse links in LSP comments"
Since we already parse links in the descrpitions, it'd be really nice if links inside comments are parsed too.

Now its really hard to follow a link like this:
![hard to follow](https://cloud.githubusercontent.com/assets/6282045/5344424/aca1dcba-7f0f-11e4-8f7b-af6584bda51e.png)

The preg_replace code for links can surely be reused, but it should look like this

[code]

rather than this

[code]

Be

[2014-12-08 18:36] Umcaruje opened #119 "LSP: Username should not appear in parentheses when no full name is specified"
It just seems more natural for the username to have no parentheses when a Full name isn't specified.
Example:
This
![this hesy](https://cloud.githubusercontent.com/assets/6282045/5344629/635b070a-7f11-11e4-9f51-feba56f05a51.png)

Should become this
![should become this](https://cloud.githubusercontent.com/assets/6282045/5344633/6ad07204-7f11-11e4-88d4-9a4418029c04.png)

[2014-12-15 11:51] musikBear opened #121 "We do not have a 'rules' section?"
Have just spend some time deleting identical comments from 8 different posts, where a poster advertized his own you-tube channel. The threads was apearently chosen in order to cower all sub-forums of the board, and out of context
I 'warned' user, and urged him to 'read the rules' - Ha.. There is no 'rules' section on then board :p
We do need a rules-sticky. Something short and simple about net-i-k

[2014-12-15 14:44] tresf opened #122 "Dev Wiki question..."
@Umcaruje per https://github.com/LMMS/lmms/wiki/_compare/ff809f9a196a67140f1ca057218759f23ce4c6d0%5E...ff809f9a196a67140f1ca057218759f23ce4c6d0#diff-d7e01986b57107e8c540d2db39aba907R17

![image](https://cloud.githubusercontent.com/assets/6345473/5437504/f9f8418c-843e-11e4-99da-49a7c90be97a.png)

![image](https://cloud.githubusercontent.com/assets/6345473/5437498/efd74518-843e-11e4-9498-7ccefc67a66

[2014-12-15 15:40] musikBear opened #123 "mockup of forum rules"
Today i needed to use the phrase 'read the rules' (spamming)
Well there are non. so i made this draft for a rules section:

**Forum rules**
Be friendly
These forums are for everyone, so treat others as you would have them treat you.

Vulgar Language and Swearing, is not allowed.

No "harmful" content please
No
Links that make your browser crash, or otherwise act strange.
Links to other harmful con

[2014-12-15 16:09] #123 closed, assigned to nobody

[2014-12-15 21:34] #122 closed, assigned to Umcaruje

[2014-12-16 15:11] #121 closed, assigned to nobody

[2014-12-17 14:42] Fastigium opened #124 "LSP: Unable to link to Soundcloud playlists"
Hey, I tried linking to the Christmas Contest winners, but it broke :/. See it in action here:

https://lmms.io/lsp/?action=show&file=6156

It seems that the system tries to convert the first part of the playlist URL to a song player (i.e. https://soundcloud.com/username/sets), fails, and ignores the playlist name part. I hope you can fix it :)

[2014-12-17 21:28] #119 closed, assigned to nobody

[2014-12-17 23:13] mikobuntu opened #125 "https://lmms.io/ is not working"
The main LMMS site is down, in fact whenever I do a " view page source " from my browser ( chromium and Firefox ) there is no info, just a blank page.

[2014-12-17 23:25] #125 closed, assigned to nobody

[2014-12-18 13:40] tresf opened #126 "Switch to markup for release notes"
@Lukas-W, the downloads page uses content fed in from GitHub releases, however as I'm putting more information into it, its becoming harder to read due to the mardown....

Can we request markup from GitHub?  I believe `mode: gfm` can do it per https://developer.github.com/v3/markdown/.

![image](https://cloud.githubusercontent.com/assets/6345473/5488879/87dc1556-8691-11e4-99e0-30cf00c874f4.png)

[2014-12-22 22:51] #126 closed, assigned to lukas-w

[2014-12-24 20:50] tresf opened #127 "Apple Download Button - Mimic Win behavior"
Since we now offer a "stable" mac version...

We should clone the Windows RC comparison logic to the Mac section too to hide the RC button when it is less than the stable version...

https://github.com/LMMS/lmms.io/blob/master/templates/download/index.twig#L63

If not, then the older RC version shows under the newer stable version, which is misleading.

Of course... Lukas had already anticipated f

[2014-12-24 22:30] #127 closed, assigned to lukas-w

[2014-12-24 22:37] #116 closed, assigned to lukas-w

[2014-12-27 16:02] musikBear opened #128 "administrator rights to change topic tittle"
I wanted to change a tittle, so it would be more precise on the actual issue (make it searchable)
I can do almost everything, right down to banning ip's, but changing the tittle..
I could not find a way to do that
Is it possible?
Its propl just me..  :facepunch:

[2014-12-27 22:42] #128 closed, assigned to nobody

[2014-12-29 22:49] DeRobyJ opened #129 "Free audio Library integration"
It would be interesting to create a place with free audio tracks made with LMMS ready to use for other projects.
A place where youtubers would go searching for they background tracks, or DJs for some background music, or anyone for a music playing during any kind of project they have.

A place like http://freemusicarchive.org/ .
This freemusicarchive offers API, so we could also upload this kind o

[2015-01-02 21:47] #124 closed

[2015-01-02 21:47] Umcaruje commented on #124
Zap.

[2015-01-02 21:48] Umcaruje commented on #124
Zap.

[2015-01-03 00:18] Umcaruje commented on #33
![capture](https://cloud.githubusercontent.com/assets/6282045/5600895/28bafd24-92e6-11e4-92f7-529029cf875c.PNG)
Got it working, needs some minor adjustments, and I'll finish it tomorrow.

[2015-01-03 13:09] Umcaruje commented on #33
Implemented per https://github.com/LMMS/lmms.io/commit/785c4924fc77093126451ae930cdddf084f6cc21

[2015-01-03 13:09] #33 closed

[2015-01-03 19:16] Umcaruje commented on #108
I successfully updated to wiki to 1.24.1. I Left the database and data backups on the server in case something was screwed up :), but I have done some testing, and it seems to be working good.

[2015-01-03 19:16] #108 closed

[2015-01-03 19:38] tresf commented on #108
Great work!  Well planned ans executed!

[2015-01-03 19:48] Umcaruje commented on #99
The wiki has been updated to version `1.24.1` and pages are being replaced -  `1.0:Manual` will now become `Manual` etc.

[2015-01-03 19:54] tresf commented on #99
:+1:

[2015-01-03 20:48] Lukas-W commented on #108
Cool, thanks @Umcaruje!

[2015-01-03 23:15] Umcaruje commented on #99
@Lukas-W I want to set up the wiki to use this skin: http://www.mediawiki.org/wiki/Skin:Chameleon

Could you explain how I can add it to our current Composer setup?

[2015-01-04 03:42] tresf commented on #99
@Umcaruje, is it set up locally already?

[2015-01-04 19:02] Sti2nd commented on #108
Wow, Uros, great job!

I guess you were hiding the edit links @Lukas-W and correcting the tables not showing properly :) https://lmms.io/documentation/Video_tutorials

[2015-01-04 22:43] Lukas-W commented on #108
The wiki version we used before just didn't have those edit links.
The tables always looked like this, the page uses some custom CSS that doesn't show properly on our main page.

[2015-01-04 23:34] Umcaruje commented on #108
I'll see what I can do about removing those edit links :)

[2015-01-04 23:41] tresf commented on #108
Getting Started is broken...

https://lmms.io/documentation/Getting_Started&action=edit&redlink=1

Might be a cache problem though.... as this link seems to work:

https://lmms.io/documentation/Getting_Started

As far as the "Edit" buttons, you should be able to just do `display:none` on CSS class `mw-editsection` in `style.css` and it will hide it, but only when being displayed within our header/

[2015-01-04 23:45] Umcaruje commented on #108
Might be a cache problem though.... as this link seems to work:

Made a pointless edit, and it recached and it works properly now :)

That's an awesome idea, I'll do that.

[2015-01-05 00:15] Umcaruje commented on #108
Fixed the edit button per https://github.com/LMMS/lmms.io/commit/e496dfeddbad9d6f1f0f5b6a0be12b9b82cedaef Thanks @tresf

[2015-01-05 01:05] Lukas-W commented on #108
@Umcaruje It's probably cleaner to use MediaWiki's API's `disableeditsection` option, see https://lmms.io/wiki/api.php (search for action=parse)

[2015-01-05 01:19] tresf commented on #108
Good call, although that would only benefit direct wiki visitors (those that don't use it through the Documentation link) and since we have no link to the direct wiki, that would disable the edit button for content authors, right?  In this case, hiding it might be cleaner from the perspective of our authors.

-Tres

[2015-01-05 01:22] tresf commented on #108
Another option is to actually make the edit button usable and enabled everywhere, just not as intrusive....

[2015-01-05 10:19] Lukas-W commented on #108
No it'd only affect `/documentation`.

[2015-01-05 12:37] Sti2nd commented on #108
@Lukas-W It indeed does, I copied it from which doesn't work fully either, but it looks better https://lmms.io/documentation/Tested_VSTs
Maybe there is a sortable table function in MediaWiki.

[2015-01-05 12:58] Umcaruje commented on #108
I'll soon start adding CSS rules to fix these inconsistencies. I'll make a WIP Pull Request, so you can see the progress.

[2015-01-05 13:00] Sti2nd commented on #108
Looks better now Uros https://lmms.io/documentation/Video_tutorials
The function we lack is to make the tables sortable.

[2015-01-05 13:22] tresf commented on #108
Great.  Uros to Lukas' point, if you know how to switch that setting it is better than hardcoding mediawiki hacks into our style.css. :)

[2015-01-05 18:18] Umcaruje commented on #99
Ok, so wiki now uses Font Awesome. I added a few templates: https://lmms.io/wiki/index.php?title=Templates#Font_Awesome for easy access. Say hi to the new Main page:
![newmainpage](https://cloud.githubusercontent.com/assets/6282045/5617480/9814e9f2-950f-11e4-9b71-f01c28e1d6dd.PNG)

[2015-01-05 18:27] tresf commented on #99
Very nice!

Can we remove the links to the home page and forum now?  Also, not sure how to fix this, but the tile "Main Page" is misleading, it should probably say something about Documentation or Wiki (eventually at least).

[2015-01-05 18:28] tresf commented on #99
Also, this redirect link is broken:

https://lmms.io/documentation/1.0:Getting_Started

[2015-01-05 18:38] Umcaruje commented on #99
Can a global recache be done? (@Lukas-w) It seems as some pages cached while others were moving, so these broken are the result of that.

Removed the links, I am not comfortable with changing the Main Page name yet, I have to do some investigation first :)

[2015-01-05 18:41] tresf commented on #99
Yeah I agree... Perhaps we tackle this on the delivery side only... @Lukas-W shall we put a custom title on the `twig` side of our wiki pages which represent that they are Documentation/Wiki?

[2015-01-05 19:02] Umcaruje commented on #99
Or I can remove the tittle and add a custom Heading :), I think that is the most painless solution.

[2015-01-05 19:08] tresf commented on #99
Ok... I just don't want to muck up the way it looks in the actual Wiki instance, but you'd be a better judge of that.

[2015-01-05 19:17] Sti2nd commented on #99
Where did you find that? Can reproduce by pasting the link, but not through any Getting Started link on lmms.io/documentation

[2015-01-05 19:32] tresf commented on #99
Old URL, which was promised to work after page renames (i.e. standard testing )

[2015-01-05 19:34] Sti2nd commented on #99
Oh, now I get it, you cannot click it either. It goes to https://lmms.io/documentation/Getting_Started&redirect=no which should go to https://lmms.io/documentation/Getting_Started

[2015-01-05 19:43] Umcaruje commented on #99
Well that's something in the `RemWiki.php` I don't know how to fix it

[2015-01-05 19:47] Sti2nd commented on #99
Remove &redirect=no ? Haha, such joke

[2015-01-05 21:19] tresf commented on #71
@Umcaruje must have some broken logic when looking for word boundaries... Perhaps the `-` dash in the URL?

-Tres

[2015-01-05 21:22] tresf commented on #71
Nope not the dash or the underscore... order... @Umcaruje this isn't working when he types text before the URL.  If I change his post to put the link before the text it works fine.

-Tres

[2015-01-05 21:24] tresf commented on #99
Very cool!

`<span>`Not too bad`</span>`

Take out LMMS please tho.  And for consistency purposes, perhaps we just use "Documentation" ?  :) Oh yeah, and can we fix the span tags? :)

![image](https://cloud.githubusercontent.com/assets/6345473/5620174/43a12f6a-94f7-11e4-900e-875d0356536b.png)

[2015-01-05 21:25] Umcaruje commented on #71
Wait, it started magically working again...

[2015-01-05 21:25] Umcaruje commented on #71
https://lmms.io/lsp/?content=update&file=6105

[2015-01-05 21:26] tresf commented on #71
Ah... I accidentally fixed it... Put a newline after it and it works.

[2015-01-05 21:29] Umcaruje commented on #71
Ohh wait a second, I know what is the problem. For it not to process playlists, I had to make the regex look for a whitespace character after the link ends. All these iframe and playlist hacks are really uglyfying the code...

[2015-01-05 21:31] Umcaruje commented on #99
Done.

[2015-01-05 21:36] tresf commented on #99
:+1:

[2015-01-05 21:38] tresf commented on #71
:cry:

.
.
.
.
.

.
.
.
.
.
.
.
.

:smile:

[2015-01-05 21:39] Umcaruje commented on #71
I have an idea that would solve these problems: but one can say its a bit ugly and redundant: What if every description started with a space and ended with one? Would something like that be possible?

[2015-01-05 22:55] Lukas-W commented on #99
Yes, removing all files in `/tmp/wiki/` via SSH should do the trick.

[2015-01-05 22:58] Lukas-W commented on #99
The https://lmms.io/documentation/Getting_Started&redirect=no showing a blank page problem looks like a bug in the [`documentationPage($page)`](https://github.com/LMMS/lmms.io/blob/master/views.php#L7) function in `views.php`. My guess is that the `&redirect=no` part is not being stripped and the script therefore looks for a page called `Getting_Started&redirect=no`.

[2015-01-06 01:56] tresf commented on #71
If it fixes it, it won't hurt anything.  I'm perfectly fine with hacked solutions for as interim solutions.  I remember originally when we started link parsing you recommended leveraging a 3rd party library.... perhaps we're ready for that.

Use of the Twig framework can really kickstart the LSP rewrite... perhaps it is time?  Or perhaps we hack together another temp fix until we do it proper.  I'

[2015-01-06 23:58] Sti2nd commented on #71
:+1: Yes, you told me yesterday

[2015-01-08 09:24] Spekular opened #133 "Linux download link should show all distros"
Personal nitpick, but the "download for linux" link on the homepage redirects to #linux-debian, probably because there's no #linux section? This means the distro selection tabs aren't visible, only "Ubuntu, Linux Mint, Debian (deb)". Can this be fixed so the link jumps to a bit higher up on the page, like this:
![better link](https://cloud.githubusercontent.com/assets/8918426/5660422/41e0f8a6-9720

[2015-01-08 15:38] tresf commented on #133
Yeah, this bothers me too.  I brought this up when the page was designed and it was never fixed because it was minor.

It's because when @Lukas-W wrote the Linux page he chose to use the same value for `#id` tags as the URL hash tag, so the page scrolls to the content.

The fix is pretty simple, the `#id` tag needs to be changed to have a slightly different name from the URL.

![image](https://clo

[2015-01-08 15:40] tresf commented on #133
Oh wait... are you asking that all distro's are displayed by default?  That is completely different than all the garbage crap  I just typed.

[2015-01-08 15:41] tresf commented on #133
I'm not sure I agree that all distros should be shown by default.  The existing logic is pretty comprehensive.  Is it not selecting the right distro?  Perhaps we do better user-agent detection?

[2015-01-08 15:48] Spekular commented on #133
I'm not sure what "all displayed by default" would mean, but I'm pretty
sure you got it right the first time. I was thinking create a #linux
link/section/whatever that's the same as #linux-debian but starts higher
up. This makes the various distro tabs visible to the user so they see the
other distros.

[2015-01-08 15:51] tresf commented on #133
Yeah, we'd keep it linux-debian, but just not scroll the page then.  It may seem a bit specific, but if debian is selected (and it is by default), we want our URL to be contextually accurate.

[2015-01-08 15:59] Spekular commented on #133
@tresf. The download link on the main page ends with #linux though, but
redirects/autocorrects to #linux-debian. A separate linux section that
starts a bit higher would be contextually accurate imo. Unless you mean
that a distro tab has to be selected and since debian is by default it
would be innaccurate to call it linux. If the debian section is modified
though, then anyone who wants to link to

[2015-01-08 16:06] tresf commented on #133
We can't have our cake and eat it too.  We want to land them on the best download page possible but that won't happen if we show a page with no links.

If the autoscroll is bothering you feel free to fix it, but we probably won't land people on a generic page unless you come up with some intelligent code to make it sensible.

[2015-01-11 12:57] musikBear opened #134 "how to find topic identification number?"
Need to find this *topic identification number* in order to move a post from 'News' to trouble shooting, but where is this number (using the 'search' option only display one topic, and there seams to be no way to expanding this search)

[2015-01-11 14:00] Sti2nd commented on #134
No you don't, go to the topic you want to move, at the bottom choose move topic, then click go.
![image](https://cloud.githubusercontent.com/assets/6373430/5695415/8d2d240e-99a2-11e4-817c-b790c86f4c27.png)

Unrelated: You probably know this, but a forum is meant to have a lot of duplicate posts, that is useful when searching cause then you can find the exact wording if someone have had that proble

[2015-01-11 14:18] #134 closed

[2015-01-12 09:59] softrabbit opened #135 "User FAQ, troubleshooting section"
So, there's a recipe for routing LMMS straight to ALSA on https://lmms.io/documentation/User_FAQ#Troubleshooting but it probably doesn't work. Assuming there's only one sound device you need to start LMMS like `pasuspender -- lmms` so PA goes out of the way and LMMS can access the device.

[2015-01-12 11:52] musikBear opened #136 "Closing #134 before looking into the problem"
It really does not make sense, just closing a topic, without actually trying to do the task
After selecting topics meant to be moved, and choosing action *Move*, a new form pops up, and thats where the issue lies:
![idnumbneed](https://cloud.githubusercontent.com/assets/6662066/5702336/f6616ba4-9a58-11e4-9cae-2efd287be648.PNG)
This **Destination topic Identification Number**
*Where* is it?
Yes - i

[2015-01-12 12:00] tresf commented on #136
You have the ability to reopen you own bug reports.

[2015-01-12 13:25] musikBear commented on #136
really - oh well, good to know ..next time

[2015-01-12 13:36] tresf commented on #134
Should be:

![image](https://cloud.githubusercontent.com/assets/6345473/5703544/06c5f578-9a36-11e4-936f-b947ab211ba6.png)

Can you please confirm?

[2015-01-12 13:37] tresf commented on #136
Because this is not a support forum.  This is not a general help area for phpBB.  You are cluttering our website tracker with basic questions about the forum which we did not decide and we can't change.  Our tracker isn't for that.  Opening new bug reports won't change that.

[2015-01-12 13:37] #136 closed

[2015-01-12 13:39] tresf commented on #134
You may also be setup different than the admins... this is what I see...

![image](https://cloud.githubusercontent.com/assets/6345473/5703588/920fb434-9a36-11e4-8d8b-f3bb2dd044b8.png)

[2015-01-12 13:44] tresf commented on #135
That theme glitch problem was fixed with `stable-1.1` btw.  Safe to remove.

-Tres

[2015-01-12 13:47] tresf commented on #135
Should we add this to our desktop shortcuts?  We're already overriding the Unity bar per [`lmms.desktop#L9`](https://github.com/LMMS/lmms/blob/master/data/lmms.desktop#L9)

[2015-01-12 14:55] softrabbit commented on #135
No, not the desktop shortcut. Not unless starting LMMS by default should disable all other desktop sound, no matter which backend is configured.

The problem with the solution presented in the User FAQ is that if PA already is using the card you configure LMMS to use and you just "restart LMMS", as the instructions tell you, it will revert to the dummy interface and LMMS will make no sound.

[2015-01-12 15:36] tresf commented on #135
Thanks for the explanation.

Since this relates a bit to https://github.com/LMMS/lmms/issues/1600, do you have PA installed to test against and offer some results?  If I have time, I'll setup a vanilla Linux box and test myself, just need to find some candidate hardware. :)

[2015-01-12 19:07] Sti2nd commented on #135
Done

[2015-01-12 19:11] Sti2nd commented on #134
If you want me to move a topic, @musikBear , just ask. Tres' picture show where you come when you click "go".

[2015-01-12 19:16] softrabbit commented on #135
LMMS/lmms#1600 is where I got the idea to try the instructions... some testing done:
* On the first Ubuntu (14.04, possibly .10) pasuspender was required and LMMS wanted to fall back to dummy
* On the other (14.04.1) the procedure worked as advertised, LMMS got the card and PA stayed out of the way.

Maybe add a mention like:

[2015-01-12 19:21] Sti2nd commented on #135
Done

[2015-01-12 19:44] tresf commented on #135
@softrabbit want to keep this open for a bit longer until 1600 gets closed or are you happy with the documentation changes for now?

[2015-01-13 07:47] softrabbit commented on #135
There's not an overwhelming number of open issues for lmms.io, so why not keep this for a while.

[2015-01-15 03:27] tresf opened #137 "1.2 promo vid?"
@Umcaruje should we start a 1.2 promo video?

I know we have Best Of Linux on the horizon so we might be stretching ourselves thin... :)

-Tres

[2015-01-15 06:04] Spekular commented on #137
@tresf I may be able to capture footage if it helps.

[2015-01-15 14:29] tresf commented on #137
Great.  If you don't mind, drop what you have on a cloud service and share it out so that we can review. :+1:

[2015-01-15 14:33] Spekular commented on #137
Nothing yet. I was thinking either you guys tell me what you want, or I'll
just go over the list of new features and try to demo them.

[2015-01-15 14:36] Umcaruje commented on #137
What is the changelog for 1.2? I think a nice 30 second promo would be sufficient.

Also should we aim at the same style, or do something different?

I will try to find time to do this, but it really depends on the amount of schoolwork I have :)

[2015-01-15 14:44] tresf commented on #137
So far this is what we have:

---

**Features and fixes:**
  * FX Mixer
    * Added "Remove unused channels" feature
    * Added Mixer "solo" mode
  * New Instruments:
    * Gig Player -  Plays Giga Sample Banks (similar in usage to SoundFont files) ([screenshot](https://cloud.githubusercontent.com/assets/6345473/5733347/b13b671a-9b6f-11e4-8fa8-a1cedd6c35ee.png))
  * New FX Plugins
    * Equalizer

[2015-01-21 14:58] tresf opened #139 "Bad/old wiki links issue with DuckDuckGo"
**Submitted on behalf of @pbella (copied from the `LMMS/lmms` repo)**

---

There have been several times when I have searched for 'lmms ' and the top results that come back don't appear to be the most current / relevant for LMMS. Most of these issues have been occurring with DuckDuckGo and when I attempted to replicate via Google, it did not have this issue so it appears to be search engine speci

[2015-01-21 14:58] tresf commented on #139
Yes, this is a bug.  We should be redirecting to:

**Valid:**
https://lmms.io/wiki/index.php?title=0.4:Key_Mappings

But instead it is probably trying:

**Invalid:**
https://lmms.io/wiki/index.php/0.4:Key_Mappings

Thanks for the information.  There may be other links like this out in the wild.

@Umcaruje  @Lukas-W thoughts appreciated here.  I don't know why some links use one format over the oth

[2015-01-22 14:51] badosu commented on #139
@tresf I am a web developer, I'll take a look at this later...

[2015-01-22 15:20] Umcaruje commented on #139
https://lmms.io/wiki/index.php?title=0.4:Key_Mappings

But shouldn't it perhaps redirect to
https://lmms.io/documentation/0.4:Key_Mappings

The wiki is just for editing the articles, we don't link to the wiki from the main page.

[2015-01-22 16:42] tresf commented on #139
This isn't the main page, this is old search engine links.  I chose to redirect them to `/wiki` to avoid any compat issues with how we mask the URL on our homepage.

So yes, this is desired per our redirect rules.

[2015-01-23 22:25] Spekular opened #140 "Disable sample page until it is ready?"
https://lmms.io/download/samples/ currently displays a placeholder. Perhaps it should be disabled until it is complete?

[2015-01-23 23:28] tresf commented on #140
Please do. :)

[2015-01-23 23:45] tresf commented on #140
Done... :)

[2015-01-23 23:45] #140 closed

[2015-01-29 12:26] musikBear commented on #51
google 'site' search then
site:http://lmms.io/forum/ "piano"
But users need to know

[2015-01-29 13:48] tresf commented on #51
For now just click a forum and use the search bar.  We need to bring this back to the main page.  The google instructions are fine for now if they work or we can make a search box that does exactly as you are describing.

[2015-02-01 13:03] Sti2nd opened #141 "Notifications in LSP"
Proposal: Notifications in lsp for comments on your projects and for projects you have commented on.
A notification could be to send out an email.

Some of you might argue that this is too big for lsp1, and should be happening in lsp2, but lsp2 isn't high priority when we now have a functional lsp, and it is probably not going to be realized within the next six months, I know I won't focus on it b

[2015-02-01 15:50] tresf commented on #141
We dont currently collect email addresses.

[2015-02-01 17:31] Sti2nd commented on #141
I know, perhaps notification on site is even easier

[2015-02-01 17:39] tresf commented on #141
We'll, that would still require the collection of read vs. unread comments,
which would be some database work.

I think its best to leave this for the rewrite.  The CMS concepts all have
this notification stuff built in.

[2015-02-01 22:12] murakamih opened #142 "Broken link in online manual"
On the online manual page:  https://lmms.io/wiki/index.php?title=0.4:Using_MIDI#Setting_MIDI_input.2Foutput,   Setting MIDI input/output image: <img src="http://lmms.io/wiki/screenshots/midi_in2.png" alt="midi_in2.png"> is broken

Thanks,

Hiroshi

[2015-02-01 23:06] Umcaruje commented on #142
That page is old and outdated. The new, updated page is on https://lmms.io/wiki/index.php?title=Using_MIDI

I'll add a 'Page moved' message. There is no point in fixing these old pages, since 0.4 isn't supported yet. Closing as a wontfix.

[2015-02-01 23:06] #142 closed

[2015-02-02 21:29] Umcaruje commented on #2
Is this still a problem? I haven't seen much spam on the forums lately. (But to be honest, I don't visit them much).

[2015-02-02 21:31] Umcaruje commented on #35
Is backup really necessary, considering we have a git repository that's independent of our hosting? Backup may be only necessary for the wiki and the forums.

[2015-02-02 21:33] Sti2nd commented on #2
Yeah, I think musilBear is deleting spam each week :) I have deleted just a few posts

[2015-02-02 21:36] tresf commented on #35
Yeah, it is necessary but would only be for the database stuff really (wiki, forum, lsp).  It has passwords hashes so we can't replicate it just anywhere or else people could brute force passwords.

We should automate some backup scripts on a few peoples computers I'd think...

-Tres

[2015-02-02 21:37] tresf commented on #35
... or we can dump and copy to a service like google drive on lmms.service account?  Not sure how hard that would be.

[2015-02-04 21:30] johnbaldwin19550 commented on #69
This is still a problem for me.   I'd like to register, but I can't.  Please fix this.

[2015-02-04 21:33] badosu commented on #69
@tresf Can I help with this in some way?

[2015-02-04 21:42] tresf commented on #69
Working fine here...

![image](https://cloud.githubusercontent.com/assets/6345473/6050356/ccd4ec84-ac8c-11e4-8a19-800cc188eea1.png)

[2015-02-04 22:31] johnbaldwin19550 commented on #69
Well, that's confusing.  It's not working for me, and I've tried it about 15 times.  Could it be that my browser is to blame?  Is there some plugin I need to install for this to work?  I'm using firefox 35.0.1 on Ubuntu 14.04.
![error](https://cloud.githubusercontent.com/assets/8584693/6051156/a7ff02ee-ac93-11e4-9992-e1a275562802.png)

[2015-02-04 22:36] tresf commented on #69
Hmm... Possibly.  Do you have privacy mode enabled?  Someone here could just as easily create it on behalf of you and email you the password, but I too would like to know the cause of this problem.

-Tres

[2015-02-04 22:48] johnbaldwin19550 commented on #69
No privacy mode.  Nothing from the console either.  I'll keep looking.

[2015-02-05 00:12] johnbaldwin19550 commented on #69
Well, it worked in Chrome.  Not the first time, though.  I tried a different password the second time.  Is it possible that the page reports that the security code was invalid, regardless of what type of error occurred?

[2015-02-05 00:21] badosu commented on #69
@johnbaldwin19550 I guess this was probably a cache issue. @tresf PR that fixes this issue probably creates a new session code that is stored on the cookie or on a javascript file, your browser was probably trying to use the old one so the application thought you were trying to forge a valid request with malicious intent.

[2015-02-05 02:27] tresf commented on #69
Yeah, that security code is smoke and mirrors really.

https://github.com/LMMS/lmms.io/blob/master/public/lsp/register.php#L34

@badosu is correct, it could be session related.  I wrote it quickly to deter robot registrations but we should really move to something more comprehensive.

[2015-02-06 23:35] tresf commented on #99
These troubleshooting steps really need to be cleaned up.  I see stuff in there from 0.3.0.  @mikobuntu @Umcaruje @softrabbit can we debunk/move this to the GitHub wiki section because these don't really seem to be common end-user troubleshooting steps and I'm not sure the GDB steps offer that much when using a standard build, right?

[2015-02-15 20:11] tresf opened #144 "Facebook feed broken?"
Seems like we are missing some feeds...

![screen shot 2015-02-15 at 3 10 30 pm](https://cloud.githubusercontent.com/assets/6345473/6204768/d10695fa-b524-11e4-9ece-696c63c6430c.png)

[2015-02-15 22:57] tresf opened #145 "Download page autoSelect"
Of the last 20 times I've visited the downloads page on Windows, about 10 of them showed no downloads.

Clicking the button shows the downloads, so this is most likely JavaScript related.

When this happens, a message `Uncaught TypeError: undefined is not a function` shows up, which seems to be breaking at `$(os+"-button").tab("show");`

I can reproduce on Chrome (mobile), Chrome (win32), Firefox

[2015-02-15 23:12] #145 closed

[2015-02-15 23:15] tresf commented on #145
I think this is fixed.  Not sure how long that code has been around but it seemed to have some tab behavior left around or copied from the linux-tab-select logic.  Seems to be much more reliable now.

[2015-02-16 03:17] tresf opened #146 "Downloads not showing latest (GitHub 30 results limitation)"
Downloads are incorrect again, this time because we've reached our 30 results per page limitation after Toby copied over the historical source snapshots.

![image](https://cloud.githubusercontent.com/assets/6345473/6206906/9cd40572-b562-11e4-957e-51cce93f9fb9.png)

The API has some sorting and pagination support for things like `issues`, but I'm having a hard time getting them to work in an ideal

[2015-02-16 03:30] tresf commented on #146
For now, I've told GitHub to give us the first `1000` results, which temporarily fixes this.

Note, I've also changed the comparison logic per https://github.com/LMMS/lmms.io/commit/7b690615602bcb997262b0a21da9b938f30cab27.  Let me know if this is ok. :)

[2015-02-16 04:58] badosu commented on #146
Thanks @tresf!

[2015-02-16 08:58] Lukas-W commented on #146
There doesn't seem to be a way to reqeust a sorting other than the default (release date) from GitHub's API. So increasing the page size is the only solution I see.

Should work too :)

[2015-02-16 08:58] #146 closed

[2015-02-16 13:09] tresf commented on #146
:+1:

[2015-02-20 13:06] DeRobyJ opened #147 "Localization"
Will the site have different languages?

[2015-02-20 14:07] musikBear opened #148 "allow attachments to PMs"
currently we have no attachments on PMs
Threads allows mmpz and wave -is that possible in settings, or does the core not allow it?
-zips would be sufficient

[2015-02-20 14:17] Umcaruje commented on #148
PM's where? I don't understand

[2015-02-20 14:24] tresf commented on #148
Closed via:

![image](https://cloud.githubusercontent.com/assets/6345473/6287769/2054fe2e-b8e2-11e4-84c3-d9f471c78f34.png)

![image](https://cloud.githubusercontent.com/assets/6345473/6287790/47d6f9de-b8e2-11e4-8985-37f36407e7b1.png)

[2015-02-20 14:24] #148 closed

[2015-02-20 14:50] tresf commented on #147
Yes, we can add locale support but we have many 3rd party and custom items.  Here's the effort level:
 * **Forums** - Reliant on phpBB [language packs](https://www.phpbb.com/customise/db/translation/italian/) - :+1: `Minimal effort`
* **LSP** - A lot of hard-coded stuff, would need complete rewrite. - :-1: `Large effort`
* **Site Navigation** - Currently relies on English keywords. - :confused: `M

[2015-02-20 14:52] tresf commented on #147
So to answer your question... I don't know, it depends on if we have someone ambitious enough to tackle this.

[2015-02-20 15:03] DeRobyJ commented on #147
Ok.
In my opinion, only the main site needs translation, and different languages for the phpBB forum are fine too.

(with main site I mean Home and Download pages: these are the most important, as every user has to pass through them and most people decide to download or not by reading the home page)

About the rest of the site, the effort is more than the people reading it.
Also, things like the L

[2015-02-21 14:33] tresf opened #149 "LSP - Sort presets by by instrument"
Seems it would be useful to cache the XML instrument information and be able to sort by instrument in the LSP.

![screen shot 2015-02-21 at 9 32 50 am](https://cloud.githubusercontent.com/assets/6345473/6314433/ae9ace82-b9ac-11e4-8620-7aedc32a1875.png)

[2015-02-21 15:14] Umcaruje commented on #149
+1

[2015-02-21 16:13] musikBear commented on #148
very nice. it works now

[2015-03-01 19:22] tresf opened #151 "Best Of LMMS Vol 2"
1. We should probably put the official rules on our home page.
 1. ~~Last years competition should have a link to the new one somewhere in the description.~~(Edit: fixed by Uroš)
 1. We should make the SC URLs similar so people can expect to be able to change the URL to v1, v2, v3 etc. `lmms-top-songs-compilation` is quite different from `the-best-of-lmms-competition-v2`

https://soundcloud.com/gr

[2015-03-01 19:32] Sti2nd commented on #151
I think we should link forward to next competition indeed. Maybe it should just be to change the name of the group, Uros? Quote Soundcloud:

http://help.soundcloud.com/customer/portal/articles/282667 At the bottom

[2015-03-01 19:56] tresf commented on #151
It if breaks old links, we may want to hold off until this competition has finished (aprilish).

-Tres

[2015-03-01 20:04] tresf commented on #151
Also, unrelated but this allows us to rename munyajumo's old SoundCloud group if we like.

[2015-03-01 20:20] Sti2nd commented on #151
ok, but we are going to change the old group link?

[2015-03-01 20:36] tresf commented on #151
I would be a nice clean-up effort after this years comp is done IMO (if SC allows it) but it's a bit off topic, so no need beating it up.

-Tres

[2015-03-01 20:36] Umcaruje commented on #151
I vote we change the group link of the 1st comp when the current one is over.

Where would the BoL info page go? Maybe as a entry to the community submenu? Or a seperate entry in the navbar?

[2015-03-01 20:38] tresf commented on #151
I'm not sure... It is going to be a temporary thing so perhaps we could put a banner on the front page about it and have a dedicated page (lmms.io/competitions).  Under community would probably be appropriate, but we can also cross-link from the featured page and the get-involved page if we think people might navigate through those means?

[2015-03-01 20:40] Umcaruje commented on #151
Sounds like a plan.

I'll throw a pull request for the new page, when I get some free time to make it

[2015-03-01 21:03] tresf commented on #151
:+1: terrific!

[2015-03-10 11:13] softrabbit commented on #135
LMMS/lmms#1600 turned into something completely different, so this might just as well be closed.

[2015-03-10 11:13] #135 closed

[2015-03-10 11:14] Umcaruje commented on #135
:+1:

[2015-03-12 22:38] #151 closed

[2015-03-21 18:11] kpfries opened #153 "404 on sample download link"
http://lmms.io/download/samples on the github samples page throws a 404 my way.

[2015-03-21 18:19] Lukas-W commented on #153
Thanks for your report. The sample page was removed, see #140. Where did you get that link from?

[2015-03-21 18:51] Umcaruje commented on #153
I guess its the `LMMS/Samples` repo's Readme. I changed it via https://github.com/LMMS/Samples/commit/3ab4b87c88ca7c5f74c25cfcd8c63f09efa3009a.

Should this be closed as a wontfix? There will be no 404 when there is a page there ;)

[2015-03-22 06:30] tresf commented on #153
Well, technically fixed since you found the bad link. :+1:

[2015-03-22 06:30] #153 closed

[2015-03-24 17:01] musikBear opened #154 "who can set a new db parameter for auto-log-off on forum db"
I think that the time is too short. 8 hours would be apropiate for a login, before the db automatically log you out - Are there any reasons for 8 hours not to be ok?
(hub never logs out automatically, and we are much more active on hub, than on forum, the aditional 'presence' should not be a real problem?)

[2015-03-24 19:06] Sti2nd commented on #154
I am not sure any longer time will make a difference. You can still risk that you get logged out when writing something.

[2015-03-24 19:19] Sti2nd commented on #154
In general tab under security settings I found a maximum limit of 7200 seconds to submit form, don't know if that could be it.

[2015-03-24 19:35] musikBear commented on #154
Try that one Stian, but usually there is something called *auto-log-off-time* or similar.. ?
But it could be that 'submit form' time, or maybe there just aren't any setting for it :/

[2015-03-24 19:42] Sti2nd commented on #154
I'll wait for @tresf  or @Umcaruje  before doing anything

[2015-03-24 19:58] Umcaruje commented on #154
I don't think that is the setting you are looking for.

Do you want to enable persistent logins @musikBear? Is that what you're asking for? The current login length is 0 which means its disabled.

[2015-03-24 20:05] tresf commented on #154
Duplicate of #65.

[2015-03-24 20:05] #154 closed

[2015-03-24 20:05] tresf commented on #154
@musikBear if you know something we don't, please let us know. :+1:

[2015-03-24 20:07] tresf commented on #154
Could this be caused by browsers such as Firefox and Chrome failing to store two passwords for the same site?  I know every time I sign into the LSP it tries using my Forums Login.  From research, there's no easy fix to this password storage problem, but I wonder if the two are related somehow?

[2015-03-25 14:02] musikBear commented on #154
@Umcaruje

That could be the correct setting. It would at least be interesting to see if there was a change in behavior, if that parameter was different. Is it a *boolean* 0, or a value?
Could be that changing that to <> 0, would open more options in the log-in tab?

[2015-03-25 18:39] tresf commented on #154
Stop speculating and help us fix this or let the topic die.  Enough's enough with this guesswork.  You're way too active on our tracker to keep making duplicate bug reports and asking the developers to hold your hand.  phpBB is open source and there are plenty of tutorials and troubleshooting articles around it.  Do yourself and the community a favor and search before you post.

[2015-04-04 14:54] musikBear opened #155 "massive spam attack - banning does not remove posts"
Had to happen :/
From
04 Apr 2015, 11:46
to
04 Apr 2015, 16:36
90+ spambots has joined the forum, and posted 5 identical topics
I have banned a handful, but adding them to the ban-list, does *not remove* their posts :/
Are there any 'smart' way to ban **and** cascade remove **all** posts of these attackers in one go? -Or is that only possible with a script on the server?
**We need capcha as part o

[2015-04-04 15:06] tresf commented on #155
Yes, the admin area of the forums has a place to delete all posts as part of the banning process.  I'll do some cleanup.

We have it. (technically reCapcha)  Probably something else happening.

[2015-04-04 15:15] tresf commented on #155
For phpBB admins:

1. Browse forum with spam, click `username`
 ![screen shot 2015-04-04 at 11 09 49 am](https://cloud.githubusercontent.com/assets/6345473/6993228/ae06d486-dabb-11e4-8f7a-1a7f16509409.png)

2. At top of profile, click `Administer user`
 ![screen shot 2015-04-04 at 11 10 47 am](https://cloud.githubusercontent.com/assets/6345473/6993229/ae071e1e-dabb-11e4-9ae7-693130e35537.png)

3.

[2015-04-04 15:28] musikBear commented on #155
I only see
Username: feelingera06525 [ Banning ]
No [administer user|

[2015-04-04 15:31] tresf commented on #155
You must not be a forum administrator (just a moderator)

[2015-04-04 15:32] Umcaruje commented on #155
I'm deleting them all of the accounts and IP banning them. Thanks for the report @musikBear

[2015-04-04 15:36] musikBear commented on #155
@Umcaruje goodie - wonder how they got past chapta ... :/
@tresf different 'class' .. i understand :p

[2015-04-04 15:40] Umcaruje commented on #155
Deleted all the spammers using the 'Prune Users' feature in ACP

Deleted all users that joined after april 4th.

Double checked if there were some real people there, but there weren't.

[2015-04-04 16:21] tresf commented on #155
@Umcaruje great work, thanks, although we may lose the ability to see the IP addresses now.  I've banned most of the IPs, but the spammer seemed to use a range and I was going through one by one.

[2015-04-04 16:23] tresf commented on #155
Just saw the part about you banning IPs too.  Looks like we were both working on the same issue. :+1:

[2015-04-04 17:05] Umcaruje commented on #155
:+1:

[2015-04-05 19:01] musikBear commented on #155
@Umcaruje  @tresf  Guys.. he is back :/
How does 'he' get pass the chapta ?

[2015-04-05 19:05] Umcaruje commented on #155
no idea

[2015-04-05 19:05] Umcaruje commented on #155
deleted the acc

[2015-04-06 10:14] musikBear commented on #155
If you can add me, i will help of cause - There is a new small attack here monday

[2015-04-06 20:15] Umcaruje commented on #117
So what is happening with this manual initiative?

@raindropsfromsky was some progress made on updating the manual?

[2015-04-07 09:20] raindropsfromsky commented on #117
HI

I will need one more week to make the latest version of LMMS manual.

After that, I can make the odt file available to anyone who wants to
translate.
(The last version was translated to German).

But I am confused as regards licensing options.
So I will need some time to decide.
Till then, the current arrangement should be OK.

Regards,
Narayan

On Tue, Apr 7, 2015 at 1:45 AM, Umcaruje <notifi

[2015-04-07 10:30] Umcaruje commented on #117
translate.

:+1: awesome!

[2015-04-07 11:03] musikBear commented on #155
@Umcaruje - will you post a heads-up on face-book about the maintenance 7-9 apr? I think a lot of users wont see the thread in forum, because it simple is buried under +300 spam pieces..

[2015-04-07 11:18] Umcaruje commented on #155
@musikBear when I do the maintenance I'll implement more spam filters ( #2 ).

The thread is global and it will appear over all posts, so no need to write a FB post tbh.

[2015-04-07 16:09] tresf commented on #117
@raindropsfromsky please license the work as you see fit.  If the license allows us to alter or build on top of your work under certain guidelines, well that would be most beneficial to the project in the event you become unavailable.

[2015-04-07 19:37] Umcaruje commented on #114
@TheZoker I just updated the forums to phpbb 3.1, and then realised ComBoot is not available for 3.1 yet :disappointed:

Do you have an estimate of when ComBoot will be available for 3.1?

I might have to undo all the work I've done today ...

[2015-04-07 20:44] tresf commented on #114
@Umcaruje, please don't revert just for a theme.  If you find one that you feel works well for our site (and phpBB3) please link it here and we'll use it for the interim.

Most phpBB3 themes are under $20 USD, which we have available in our funds.

-Tres

[2015-04-07 20:46] TheZoker commented on #114
@Umcaruje @tresf I work on a version for 3.1 and hopefully can finish it until end of this week. I will let you know, if its ready :)

[2015-04-07 20:48] tresf commented on #114
@Umcaruje if (for now) you could hack in a link to the main site (for navigation purposes), we can get by with a bare-bones phpBB until Zoker's ready.

[2015-04-07 20:50] Umcaruje commented on #114
Ok I'll see what I can do :)

[2015-04-07 20:56] Umcaruje commented on #114
The PhpBB link now goes to the website also there is a link to the main website on the nav panel

[2015-04-07 20:59] Umcaruje commented on #155
The account registration is on manual mode now, which means all new accounts have to be approved by admins. This is just an interim solution to the spam problem.

[2015-04-07 21:01] tresf commented on #114
Fantastic! That should hold us off for now.

[2015-04-07 23:49] tresf commented on #155
Ok.  I just deleted a bunch that came in.  Hopefully this update to the new phpBB offers us more in terms of preventing this stuff...

[2015-04-12 17:32] Umcaruje commented on #2
I just installed [Cleantalk](http://cleantalk.org/phpbb31-anti-spam-extension) trial on our forums and reenabled account creation. If it proves good in preventing spam, I think we could invest in a plugin like this (8$/year).

[2015-04-12 20:19] tresf commented on #2
Thanks.  I assume the privacy policy doesn't allow them to collect our data?

[2015-04-12 21:02] Umcaruje commented on #2
https://cleantalk.org/publicoffer#privacy

As far as I see from here, they won't sell or redistribute our information to anyone.

[2015-04-12 21:31] tresf commented on #2
This clause seems slightly sketchy...

[2015-04-12 22:28] Umcaruje commented on #2
Hmm yeah...

There aren't many advanced anti-spam addons for phpbb 3.1 though

[2015-04-14 14:09] musikBear commented on #155
If this administrator approval is still in action, then the forum has been hacked for real!
Spam arrives as i write this- The user subscribed TODAY!
How is that possible?
I cant do anything, but report it to you @tresf @Umcaruje
B.r.

[2015-04-14 14:13] tresf commented on #155
I've cleaned them up for now.

[2015-04-14 14:13] musikBear commented on #155
woow! that was fast :dancer:

[2015-04-14 16:27] Umcaruje commented on #155
I turned the registations back on to test up a anti-spam plugin. Guess it doesen't work as good as they advertise it

[2015-04-14 19:38] Umcaruje commented on #155
Ok, I installed a new sortables captcha which looks like this:
![image](https://cloud.githubusercontent.com/assets/6282045/7145707/948897c0-e2ee-11e4-82f8-3d43501d9231.png)

I think this should hold the spammers off

[2015-04-14 19:44] Umcaruje commented on #2
Well the service sucks. I removed the extension. I added a new sort of captcha though, that should be helpful.

[2015-04-14 19:51] Umcaruje commented on #114
@TheZoker any update on the theme port?

[2015-04-14 20:06] Umcaruje commented on #155
Oh and @tresf @musikBear Its pointless to ban the IP for this spammer, since he most probably uses tor and some IP reset script. I think its better to ban emails, since he seems to reuse them.

[2015-04-16 13:00] musikBear commented on #155
sad to tell, that right now, spams are arriving
Is this jerk dumb enough to actually create handmade accounts ?!
I cant believe he got pass @Umcaruje latest effort
How ? if not manually creating real accounts
Then WHY  !?  ://

[2015-04-16 13:11] tresf commented on #155
It is likely because phpBB stinks in this regard.  Captcha only helps if it is a firewall before the php pages that actually register.  This is why @eagles051387 recommended another plugin which AFAIK obfuscated the registration URL, but he never implemented it for us.

[2015-04-16 19:43] Umcaruje commented on #155
Well there were only 2 spam accounts since I added the new captcha. I'll soon set up that newly registered accounts (ones under 2-3 posts) can't post without a moderator approval. That should bring our spammer friend down.

[2015-04-16 20:04] tresf commented on #155
Please do not.  We want to know when accounts are getting created, and if we moderate them, we'll have hundreds of accounts that we won't even know exist.  If we fix this, we shouldn't do it reactively, we shouldn't punish those trying to use our boards.

[2015-04-16 20:08] Umcaruje commented on #155
But any admin/moderator will get a notification when there is a new post that needs approval. If we just approve the first ever post of a user, that can be really reasonable in terms of preventing spam.

[2015-04-16 20:52] TheZoker commented on #114
Im nearly finished, only some files are left and I need to fix some bugs :)

[2015-04-16 22:29] tresf commented on #155
People usually register so they can post and you're stopping them mid-thought.  It's a terrible idea always. We want to steer people to our forums for questions.  If we make it more difficult than it already is, they'll flock to facebook and GitHub and then we'll just have more Reaper10's making dozens of bug reports just to get a conversation started.  Please don't do this. :)

[2015-04-17 10:31] Umcaruje commented on #114
Awesome :+1:

[2015-04-17 14:34] musikBear commented on #155
agrees with tresf. it will be annoying not to be able to post, right after signing-up. However some forums has a '*you now only have to click in a link in the mail we just send to you*'
Eg the user has to make a second active **human** response, before the account *is active*. Does that kind of option exists in phpBB ?

[2015-04-17 14:40] tresf commented on #155
Eg the user has to make a second active human response, before the account is active. Does that kind of option exists in phpBB ?

Yes and it is enabled.

[2015-04-17 15:40] Umcaruje commented on #155
Eg the user has to make a second active human response, before the account is active. Does that kind of option exists in phpBB ?

Yeah that is enabled on our forums, but almost every spambot is 'smart' enough to check its inbox and activate the account...

[2015-04-17 16:10] musikBear commented on #155
Oo .. :cactus:

[2015-04-19 15:32] Umcaruje commented on #155
I think this issue can be closed. The new captcha does its job well and there is maybe 1 or 2 spambots that get through. We can easily handle that by blocking emails and deleting the users and their posts.

@musikBear @tresf if you feel that this issue wasn't fixed, please reopen.

[2015-04-19 15:32] #155 closed

[2015-04-19 15:40] Umcaruje commented on #139
I just searched 'lmms piano roll' over at Duckduckgo and it seems this issue was fixed with their recrawling.

These are the first three results I get:

![image](https://cloud.githubusercontent.com/assets/6282045/7220051/9faa2f22-e6ba-11e4-8c27-223a51a580fd.png)

They are identical with the results that I get with the same search on google:

![image](https://cloud.githubusercontent.com/assets/6282

[2015-04-19 15:48] tresf commented on #139
Well, the issue still remains, so if you close it, we should do "wontfix".  The routing shouldn't be too difficult but we are probably spitting hairs when compared to more important stuff...

[2015-04-19 15:57] Umcaruje commented on #99
Just a 'lil update on this: I edited the original post and turned it into a task list.

As for the articles, all of them are transferred now. So there is no longer a page named `1.0:Getting Started`, now its just `Getting Started`. That means that we don't have to duplicate all the pages and create new manuals for 1.1, 1.2 etc. but to simply update the current pages when that's needed.

[2015-04-20 21:46] Umcaruje opened #156 "LSP file name shouldn't be in parentheses"
![image](https://cloud.githubusercontent.com/assets/6282045/7241601/a550b9ae-e7ba-11e4-9186-ff152564cccf.png)

Shouldn't be too hard to fix.

[2015-04-20 22:21] #133 closed

[2015-04-23 19:10] tresf opened #157 "Tutorial for Vocoder-Type FX Plugins"
Per: https://github.com/LMMS/lmms/issues/2003#issuecomment-95632359

This should be added to our wiki:

[2015-04-23 19:38] Umcaruje commented on #139
Closing as a 'wontfix'.

[2015-04-23 19:38] #139 closed

[2015-04-23 19:40] Umcaruje commented on #144
Seems we hit some kind of 'limit'... Since the feed hasn't changed for months.

Maybe has some connection with #146

@tresf do you have any idea on how we could solve this problem?

[2015-04-23 20:19] tresf commented on #144
We use my hacked and ugly API currently and I think it broke with a change that was made a while ago.

We can fix it manually or we can rewrite the feed to use some better APIs and templating like Lukas has already done for the Download page.

Fixing it (or even debugging it) sucks because the feed is a spaghetti mess and I haven't the time to fix it right away.  So... I dont know. :)

[2015-04-29 09:42] musikBear opened #158 "Chime in tresf !"
Have you ok'ed the response in forum:
'3286'
Like to talk on 'skype'
click here https://appear.in/lmmstalk

[2015-04-29 11:22] Umcaruje commented on #158
Could you please be more clear, what is this issue about?

[2015-04-29 12:04] musikBear commented on #158
i  prefer not say other than '3286'
But couldent you use the link i gave and i will tell you.
This is best suited for a voice chat

[2015-04-29 12:41] #158 closed

[2015-04-29 12:45] tresf commented on #158
Then don't use a public tracker.

Don't be pretentious, this is a public tracker and we're also a public community.  If you want help with something LMMS related, there's a 99.9% chance @Umcaruje can help.

[2015-04-29 14:41] musikBear commented on #158
I dont 'want help'
I have im'ed you related to 3286. This has now a new angle
I obvious do not want it on public tracker. It does not belong there
@Umcaruje did understand, but have no real solution, and are perhaps not as paranoid as i am..
Sometimes paranoia is a good thing.
but im here for an hour or so
https://appear.in/lmmstalk

[2015-04-29 14:44] tresf commented on #158
Uros' judgement is perfectly fine.  If you need to PM me, I can be reached on Google Hangouts or I'll sign into another service.  Forums aren't a good medium for me and I'm not going to use voice chat as I feel that is preposterous.

[2015-04-29 14:50] musikBear commented on #158
ok
understood. You have seen the pm i send you from forum, regarding this situation?
 and you cant see any problems at all?
Then im alone with my paranoia, but thats ok
Have a nice day. :)

[2015-04-29 14:54] tresf commented on #158
Stop being vague.  I just told you I'm not using the forums for PM and the next question is "have you read your PM".

[2015-04-29 15:02] musikBear commented on #158
i send you a pm several days ago, when the issue came up, and you answered in a defensive way, not addressing the question at all. After that stakeout opened a potential problem. What exactly should i do? I dont have an account for google circles, in fact i know nothing about it. Must say that it is a bit strange not to accept im's from forum. But i have done everything i can now, and @Umcaruje ha

[2015-04-29 15:11] tresf commented on #158
I frankly don't give a shit what you do or don't know about.  If you have problems with Google, say that, but don't hide behind ignorance.  You are asking for help and I'm saying to choose a different medium than the forums.

[2015-04-29 15:31] tresf commented on #158
Ok, I read your PM. You're asking about sample licensing.  We have a samples repo as well as an ongoing public discussion about that.  Please use the resources we already have.

[2015-04-29 16:15] tresf commented on #158
I'd like to elaborate a bit more on this topic...

@musikBear's concern is best described here:

This could be such a case!
Eg a trap

Besides being very difficult to read, what I sense here is a bit of paranoia about our project being "trapped" into something, possibly related to invalid sample licensing?

But I'm not sure what the concern is.  If there is an issue with the samples, we should add

[2015-04-30 10:27] musikBear commented on #158
Another quote from my IM

(what a sad thing, that was.. I still think we should try a new approach to the generous creators, that already was contacted, there just have to be better internal agreements, before any kind of new contacts are made - If you find it could be beneficial, i can write a proposal for discussion

Help offered -again
Help rejected.

[2015-04-30 11:05] Umcaruje commented on #158
I think that this is something to keep an eye on, but not something to panic about. Removing posts or making up excuses for the not properly licensed samples is a bad thing to do imo.

Yes, mistakes were made and we don't have a clue where our current samples come from, but we have an ongoing effort for replacing the samples that will probably take place with LMMS 2.0. There is no need to panic.

[2015-04-30 12:43] tresf commented on #158
If you want to help with either cleaning up our current samples or with the samples repo, just get in there and do it.

[2015-05-03 10:14] musikBear commented on #157
done

[2015-05-03 10:30] musikBear opened #159 "Login to edit in wiki fails for some"
This guy
http://lmms.io/forum/memberlist.php?mode=viewprofile&u=1882
says

I send him the link for login, but that did not work for him.
Is there a problem? Has he at all signed up for wiki?
(my login works)

[2015-05-03 17:29] Umcaruje commented on #157
Closed via http://lmms.io/wiki/index.php?title=Working_with_LADSPA_effects#Vocoder

[2015-05-03 17:29] #157 closed

[2015-05-03 18:32] tresf commented on #157
Ok, but FYI this applies to native, VST and LADSPA, so the LADSPA title is misleadingly specific in this context.

[2015-05-06 19:41] tresf commented on #137
bump.  Updated the list of improvements --^.

[2015-05-07 21:45] Umcaruje commented on #2
Since this extension is outdated, and I implemented a new captcha which blocked almost all the spam (haven't seen forum spam in weeks) I will close this issue. Please reopen if you disagree with me.

[2015-05-07 21:45] #2 closed

[2015-05-08 21:56] tresf opened #160 "Best of LMMS Judging"
First of all... good work to the organizers, judges and musicians!

Some concerns have been raised this year about the judging process used in the Best of LMMS Volume 2 competition.

I wanted to start an open forum about:
 * What methods were used this year versus last year which caused questions to be raised
 * What can be done to improve this for next year

This topic has an inherent vice to sti

[2015-05-09 17:51] Spekular commented on #160
I was just wondering about this. At first I assumed each judge had to listen to each entry. Since that could be quite a lot to listen to, I also considered that perhaps the tracks would be split between judges so that each song gets the same number of listens but the judges don't have to listen to every song. The problem I see with this is that a particular track might align well or poorly with th

[2015-05-12 18:42] Sti2nd commented on #160
Yes! After the exams :grimacing:

[2015-05-15 06:34] StakeoutPunch commented on #160
Before I say anything else, my main issue with the judging this year is that they rated production and creativity, but selected songs to judge based on personal preference, with really doesn't determine either. Furthermore, judges could only vote on a certain number of songs from the entire list of 104. Finally, even though artists could not have more than one song win in the final judging revisio

[2015-05-15 19:15] TheZoker commented on #114
Sorry for the delay...
I had some private stuff to handle with. I will try to complete the new version until Monday (may it has some bugs, but you can tell me then).

[2015-05-17 10:46] musikBear opened #161 "[solved or gone away] forum is down"
Forum http://lmms.io/forum/ is down, i have waited over 10 mins for the page to open, so -down
Wiki https://lmms.io/wiki/index.php?title=Main_Page not down

(firefox & chrome tested -Location : Denmark, Rest of net : No issues)
B.r.

-------------

Seams to be related to user log-in. As anonymous guest, it is possible to log in

-------

After log-out and re-log-in, the issue is gone. Reason for t

[2015-05-17 11:22] #161 closed

[2015-05-19 14:37] musikBear opened #162 "[wiki] better section for sound-devices"
I dont know enough to write this, but someone who does, should explain what **additional settings**
in this sub-window:
https://lmms.io/documentation/LMMS_Settings#Audio_Settings
can do, and why/ when they should be used.
Eg: What can be inserted in the field for *'DEVICE'*
I only have 'SDL' and nothing else in my windows device-settings, but perhaps i could get better sound ..i dont know, and we

[2015-05-20 03:36] tresf commented on #162
I'm not sure this could be more clear.  What part do you need explained?

[2015-05-20 14:46] musikBear commented on #162
As i already wrote

Its not a select-box, the user need to write 'something' or nothing, but when to do what, and what options exists for SDL, Direct-sound, jack, alsa .. asio ?
What is the field **for**
There is nothing about this setting in the wiki at all

[2015-05-20 15:04] tresf commented on #162
Should there be?  It is for advanced users.  If you know more about SDL, change it.  Should it be our responsibility to explain the SDL advanced settings (and all back-ends for that matter?)

If you discover something you'd feel is worth adding, please do, but to blindly open a bug report for advanced settings that explicitly say **"should be left at their defaults unless you have a good understan

[2015-05-22 12:49] tresf commented on #160
Evan, thanks for your input.

@Sti2nd any feedback?

[2015-06-03 13:50] circuitfry opened #163 "Download all presets / Download all samples in one zip file."
Whenever someone adds to the community repository, create a zip archive of all of the synth presets and samples to be available in one download and make that archive downloadable to the public.

[2015-06-03 14:05] tresf commented on #163
We have some limited support for what you are describing via the unpublished LSP api:

Here is a listing of everything in our database:
https://lmms.io/lsp/web_resources.php?download=index

via:
https://github.com/LMMS/lmms.io/blob/master/public/lsp/web_resources.php#L14

This could be enhanced to zip up the content and download a tarball.  This file size could get pretty large though, so we would

[2015-06-04 14:07] circuitfry commented on #163
It's been a while since I learned PHP so I can't say I'm confident in modifying the code or using it. Is there a way however to use the XML you provided me to download all of the files in one go?

[2015-06-04 14:11] tresf commented on #163
Yeah, you could make your own download links with that info and grab each individually but it would be a lot of http requests back to the server.

[2015-06-04 15:35] circuitfry commented on #163
Yeah now that I think about it, I'd rather not stress the site. :\ I'm afraid this will just have to be a feature request.

[2015-06-04 19:54] Wallacoloo commented on #163
Have we looked into services like CloudFlare? They're basically a (free)
CDN.

It works by configuring one of lmms' DNS entries to point to CF's servers
and then whenever CF receives a request, it checks to see if it already has
the content and if it does, it sends the cached data directly to the user
without even one http request to lmms' server. If it doesn't have the
content, then it relays the

[2015-06-04 20:01] tresf commented on #163
@Colin:

https://github.com/LMMS/lmms/issues/661

- Tres.Finocchiaro@gmail.com

On Thu, Jun 4, 2015 at 3:54 PM, Colin Wallace <notifications@github.com>
wrote:

[2015-06-04 21:21] Umcaruje commented on #159
Closing as invalid, since not enough information has been provided. If you think I made a mistake, please reopen.

[2015-06-04 21:21] #159 closed

[2015-06-04 21:23] Umcaruje commented on #114
@TheZoker any updates? Is there a beta/unstable version that we could use? I might even go and fix those issues myself when I get the time, since this is a terrific theme.

[2015-06-15 10:53] musikBear opened #164 "Case-sensitivity of LSP usernames"
reported in forum
http://lmms.io/forum/viewtopic.php?f=7&t=3397
apparently users **can** login with wrong case-log-name, but can **not act** as user
They should ofcause **not** be able to log in at all, if the case is wrong in the username
OR
case should not matter at all **in user-NAME** ofcause it must in password

[2015-06-15 17:02] Umcaruje commented on #164
Yeah, confirmed, I can log into my account when I use different case for my username, but can't edit my sounds.

[2015-06-15 17:10] tresf commented on #164
Probably just decline the login here if it doesn't match.  Otherwise, you'd have to look up the case sensitive version of the login in the database and reset it using `set_get_post(...)`.

https://github.com/LMMS/lmms.io/blob/master/public/lsp/utils.php#L359

[2015-06-23 13:47] Umcaruje commented on #160
@Sti2nd Its the end of june now, I think its time for you to finally explain the logic of this year's voting system, since I'm really not getting it.

[2015-06-23 13:51] Umcaruje commented on #117
@raindropsfromsky any progress on this issue?

[2015-06-23 18:13] Sti2nd commented on #160
Yeah, should have done it ages ago. Unfortunately I think that summary is never going to happen, this is how far I got with that.

<Start of summary>
Introduction
Competitions with LMMS have been found to be popular among the community. The Best of LMMS Competition, hereby called BoL, also produces a result in form of an album which is great promotion for LMMS.

Seeing how popular BoL was last yea

[2015-06-23 19:51] tresf commented on #160
I see a lot of words, but I'm still failing to see an explanation.

How can a song get voted on from one judge?  How does that happen?  Shouldn't all songs that are considered into the competition get voted on by all judges?

These results are simply puzzling to me and no one is trying to throw you under any bus or point any fingers, we just want to make damn sure whatever happened this year doesn

[2015-06-23 19:55] tresf commented on #160
The purpose is extremely clear, is it not?  The purpose is.  **To select the best songs made with LMMS**.  That is pretty simple.  This isn't a competition on ~~What songs might get on an EDM mix tape~~ or ~~What songs a judge personally likes from the competition~~, right?

I don't think anyone has that expectation.  I don't remember any complaints about BoL v1, so this is just something we're tr

[2015-06-23 21:24] grejppi commented on #160
But now every song had 0% chance of being on the album, except if one of the judges listened to it. The only way to increase that was to get one or more judges to listen to it.

How did the judges choose this time which ones to listen to and which ones to flat-out ignore?
I'm sure you can see how the one that got most points is the only one that everyone listened to. Was it just a safe pick becaus

[2015-06-24 11:36] raindropsfromsky commented on #117
Sorry about responding. Yes, it's nearly through. One more week...

On Tue, Jun 23, 2015 at 7:21 PM, Umcaruje <notifications@github.com> wrote:

[2015-06-25 15:19] Umcaruje commented on #137
Ok the features I think should be showcased in the new video are definitely the New plugins, the instrument switching feature, and all of the ease of access features (automation flip, assigning to channels from the instrument menu, etc)

I think the new loading screen should be showcased too.

Anything else you think should be there?

[2015-06-25 16:01] tresf commented on #137
Not specific to 1.2, but here's some cool promotional information:

Downloads by OS:
  * Windows 32-bit:  **77,000** downloads
  * Windows 64-bit:  **111,000** downloads
  * Mac:  **14,000** downloads

That's over **200,000 downloads since March**, and that doesn't include Linux at all. :)

-Tres

[2015-06-26 06:04] Sti2nd commented on #160
Yes, lot of text cause I wanted the judges next year to be able to learn from this.

Ok, so what you find to be the problem is that it is the judges personal opinion that might get the song on the album while you believe it was less so last year cause of the "originality"- and "sound design"-points?

[2015-06-27 11:42] Umcaruje commented on #114
@tresf since it seems that ComBoot development is currently frozen, do you know some place where we could get a nice theme with bootstrap for the forums?

[2015-06-27 13:27] tresf commented on #114
Not currently, but we have about $60 left after the domain renewal to invest. :)

[2015-06-27 18:46] TheZoker commented on #114
Sorry for the late response guys! My study currently takes my complete time :/
But I try to release a beta version tomorrow or within the next week. It will probably contain some bugs, but it would be nice, if you can tell me them and we can fix them :)

[2015-06-28 02:02] StakeoutPunch commented on #160
To be very blunt, that wall of text is really just a lot of fluff, extra narrative that probably isn't needed, and repeated content. Sometimes to get an idea across effectively less is more. That being said, thank you for taking the time to write it, even if it didn't answer some of our questions.

From what I can tell, the "problems" this year happened only from trying to implement new methods in

[2015-06-28 10:20] Sti2nd commented on #160
Yeah, some of you BoLv1 judges should try to fix what you believe could be fixed :) I have already said what I didn't like about it.

[2015-06-28 10:27] Sti2nd commented on #160
Oh, someone also ought to make a guide for arranging BoL, cause my wall of text isn't (good) enough. At least if we want each competition to be somewhat similar, or else that will be impossible.

This is a very brief list https://docs.google.com/document/d/1Wx5Hk5gObwT7euI2nuGCVcj4PDZvUbDgXrMEcOmJeCM/edit?usp=sharing

[2015-06-28 19:16] Spekular commented on #137
Sorry about being MIA! Is there an exe I can install or will I have to
build it myself? If the latter, do I just copy the contents of the target
directory straight from ubuntu or is the build process itself different?

[2015-06-28 20:38] Umcaruje commented on #137
@Spekular you have compiling instructions here: https://github.com/LMMS/lmms/wiki/Compiling-lmms-(Windows)

[2015-06-30 20:35] Spekular commented on #137
@Umcaruje @tresf Any idea why this is happening? I'm fairly certain followed the instructions.
![error](https://cloud.githubusercontent.com/assets/8918426/8441379/0cce6f32-1f78-11e5-99e2-2fee2af9d05f.png)
(Copy paste between VirtualBox and Windows won't work, and I can't change resolution, therefore I can only present this terrible screenshot. I fixed this earlier by installing guest additions but

[2015-06-30 20:46] tresf commented on #137
Can you try installing both 32 and 64 mingw?

[2015-06-30 20:56] Umcaruje commented on #137
hmm, it seems that the `mingw32` package is not available on vivid for some reason...

[2015-06-30 21:11] Spekular commented on #137
@tresf sudo apt-get install mingw64 says that it can't find mingw64.
@Umcaruje I'm on trusty, forgot to mention. I should be good then, right?

[2015-06-30 21:55] tresf commented on #137
We build regularly on that version.  The tutorial should be pretty spot
on.  Can you double check the instructions?

If you still can't get it working, I'll try from a fresh install tonight.

[2015-06-30 21:57] Umcaruje commented on #137
I just had a fresh install of xubuntu trusty, and the tut works like a charm. @Spekular if you can't figure it out, I'll link some installers for you.

[2015-06-30 22:10] Spekular commented on #137
I can record & upload the process as I double check tomorrow, but I doubt
it would help.

[2015-07-01 19:59] Spekular commented on #137
Alright, I followed the instructions again and I'm still getting the same error. To be absolutely certain I'm not missing anything, can someone confirm that the steps are:
1. Add toby's 14.04 PPA
2. Refresh packages
3. Install buiild-essental, cmake, nsis, cloog-isl, libmpc3, and mingw32
4. Install mingw32 deps
5. Fetch repo, setup folders
6. Run build script (This is where I fail)
7. Make package

[2015-07-01 20:20] tresf commented on #137
@Spekular can you run `make clean` and also blow away your `CMakeCache.txt` and see if that helps?

AFAIK, the mingw32 command shouldn't try building with ming64 so its likely you just need to reset your CMakeCache.txt, which is also in the tutorial.

[2015-07-01 20:23] Umcaruje commented on #137
@Spekular here are the installers for the master branch: https://drive.google.com/folderview?id=0B49dcRGtm8vJcV9LU0xqZW81QjQ&usp=sharing

[2015-07-01 20:38] Spekular commented on #137
@tresf I'm starting to feel like I must have missed something very obvious... "make clean" returns "No rule to make target clean", in home, home/lmms, and home/lmms/build. Am I in the wrong folder? Removing CMakecache.txt on it's own did nothing. I did go through both the regular compiling and windows compiling instructions to install all the dependencies listed , and "sudo apt-get install cmake"

[2015-07-01 21:24] Umcaruje commented on #137
Are you running the scripts from the build folder?

[2015-07-01 21:26] Spekular commented on #137
@Umcaruje yes.

Also, here's a proof of concept video: https://drive.google.com/file/d/0BxmQmjduN8QxMEljVnVLcDJKejQ/view?usp=sharing
The concept is that I can't stage a software demo. I should be able to do more tomorrow.

[2015-07-01 21:47] Umcaruje commented on #137
BTW: My summer break has started, so I'll be able to work on the promo vid.

As far as that proof of concept video, I can't see any concept in it, other than its a screen recording of the new instrument switcher.

[2015-07-02 10:24] Spekular commented on #137
@Umcaruje It wasn't much of a proof of concept, I was just showing that it worked and what the recording quality was. I think we need to decide on the style, as you said earlier.

The original showcase shows features being used in a project, but in short clips. I think for this showcase it would be cool to have a longer "flow" of the features used. As in, new loading screen shows, last open projec

[2015-07-02 16:23] Spekular commented on #137
Alright, I've got the entire promo done ;)
https://drive.google.com/file/d/0BxmQmjduN8QxUGxqT21fZFphMWs/view?usp=sharing

I am actually working on it though!

[2015-07-06 07:49] TheZoker commented on #114
Closed beta is available! Read more here: http://comboot.io/blog/beta/beta-3-1/

[2015-07-07 14:38] musikBear opened #165 "Less rigid file limitation on LSP"
a forum user like to share a whole Synth1-bank
He linked to his own drive and thats fine, right *now*, but i thought it would be good if it was on LSP. That is not possible, Restrictions are so rigid, that neither rar nor zip are allowed.
Of cause its necessary to protect LSP against vira and other problems, but a balance between security and usability should be reachable
Synth1 banks are btw simp

[2015-07-07 14:46] tresf commented on #165
And they never will be.

Then it's a bad format for sharing. Come up with an actual solution rather than criticizing it please.  We won't allow RARs.  We won't allow ZIPs.

-Tres

[2015-07-07 14:47] tresf commented on #165
I'd like to add, that if a bank file isn't currently up-loadable we can add the extension to LSP, but the bundling is a separate topic. We need better bundling capabilities in LMMS period and the LSP isn't the place to vent about that.

[2015-07-11 11:01] musikBear opened #166 "bumping on soundcloud"
I dont know if this is an 'problem', but somehow i think its a little unfair to those who does not do this. The thing is, some peeps keep pushing their tracks up in the NEW category (no clue how its done), but should we allow it, or make a rule for it?

[2015-07-24 22:01] Umcaruje commented on #166
You can't change how soundcloud works. If someone wants to push their tracks up in the soundcloud group they can and there is nothing we can do about it. If you wonder how you do that, its easy: remove your song from a group, then add it back right away - Instant bump.

If you want, you can take that upstream to soundcloud, I don't know if they have an open issue tracker somewhere, but there shoul

[2015-07-24 22:01] #166 closed

[2015-07-24 22:30] Umcaruje commented on #137
@Spekular I like your idea a lot, so I've started writing a script of sorts for this. I plan on starting the shooting process in the next week.

https://docs.google.com/document/d/1e8CpGinA1ZZDEN1thFZ_kx_YsyFVWAeCTXUNOjtSEEw/edit?usp=sharing

Feedback, ideas and input really appreciated.

[2015-07-25 00:23] Wallacoloo commented on #137
@Umcaruje perhaps show off the quick instrument switching buttons somewhere
in there as well? Could be good to advertise the sample-exact improvements
as well, probably just through some overlay text.

Looking through the script, with the bit how the user adjusts some
parameter and then the audio reflects the change, I have a tip to whoever
does this, even if it may seem obvious: create the audio

[2015-07-25 16:23] tresf commented on #137
Thanks, added two recommendations.

[2015-07-25 19:59] Umcaruje commented on #137
parameter and then the audio reflects the change, I have a tip to whoever
does this, even if it may seem obvious: create the audio track *first* and
then film & edit the video to fit the audio (rather than the other way
around).

@Wallacoloo I'll be probably doing that. For the bitcrush effect I'm gonna record the knob automation while filming, and later add it into the song, so it'll sync up perf

[2015-08-03 12:52] Fastigium opened #167 "LSP password reset functionality"
So I forgot my password for the LSP, tried a few guesses to no avail, had a look at the source code and realized I had locked myself out of my account irrevocably. As far as I can see, there is no password reset functionality and no way to reset the loginFailureCount, barring direct intervention in the database. This strikes me as suboptimal. A password reset mechanism is common and expected funct

[2015-08-03 13:34] tresf commented on #167
Your `loginFailureCount` is currently `0`.  Are you typing it in with a capital `F` per #164?

In regards to better password management, agreed.  I personally would like to just use the phpBB forum session and have the login to one allow access to the other, but haven't put the time into it.  phpBB also allows 3rd party authentication providers too.  There's nothing stopping this development excep

[2015-08-03 13:40] tresf commented on #167
Also, if you want your password hash, just shoot us your gmail address and we'll happily send it over.

[2015-08-03 13:43] Fastigium commented on #167
Yay, let me have it at fastigiummusic@gmail.com :). As for the loginFailureCount being 0: strange, I tried a lot of wrong passwords. Is there a cron job or something resetting that count every once in a while?

[2015-08-03 13:45] tresf commented on #167
More likely that it is simply broken. :+1:  Hash sent.

[2015-08-03 13:50] Fastigium commented on #167
Thanks, time to get crackin' :)! For the record: yes, I tried with a capital 'F', and no, sorry, I don't have the spare time/energy right now to assist with large code updates. Thanks for the quick reply!

[2015-08-03 13:50] tresf commented on #167
Actually I take that back... is there a chance you're logging in properly and resetting it to zero?  We have some strange issues with browsers from time to time and the page breaks.  Not sure why, but you might want to try another browser and see if you actually have it right and the symptom is misleading.

[2015-08-03 15:24] Fastigium commented on #167
After trying some manual entries while the cracker is running, I think I can safely say I haven't accidentally tried the right password. So no browser issues, just plain forgotten password. My memory is stirring a bit, maybe it'll beat the cracker after all ;).

[2015-08-03 16:00] tresf commented on #167
You sound like you're having fun, but we can reset it too if you'd like. :+1:

[2015-08-03 16:16] Fastigium commented on #167
Yes, that is probably best. Even at 131 million hashes per second, it still takes over 7 hours to brute-force all passwords of length 7, and that only includes alphanumerical characters :grin:. If you could set a new password and email it to me, I'll change it into something else and remember it this time!

[2015-08-03 16:20] tresf commented on #167
Sent.

[2015-08-03 16:21] Fastigium commented on #167
Thanks!

[2015-08-03 18:32] kmklr72 commented on #167
I think Fastigium's idea of a notification after login would be easier in the short term but I do like the notion of an integration with phpBB.

If I may ask, what was the reasoning behind not storing email addresses originally? I would think making it a registration requirement would be beneficial not only for this, but future uses as well (e.g. user notifications). In any case, I'd like to take

[2015-08-03 19:55] tresf commented on #167
Impossible to say as the decision was made by Toby a long time ago.

For security reasons (and the fact that I don't know you), I would have to scrub all of the hashes before sending.  Is that ok?

-Tres

[2015-08-03 20:20] kmklr72 commented on #167
Definitely. All I really need is the structure so you can just send that if you wanted to save on the space. I can always generate dummy data if I need it.

[2015-08-03 20:34] tresf commented on #167
Sent.  The only data in there that is confidential is the users, so that's all I've stripped out.  The file is 1.1 MB gzip compressed.

If you find anything in there that you find confidential that I had missed, please treat it as such.  Thanks for taking a look!

-Tres

[2015-08-29 18:08] tresf commented on #137
I have a rather specific request...

Can we use this track for the 1.2 video?

https://soundcloud.com/kouhaicat/superfont-remaster

I fathom we'd need to get permission to the `mmpz`, but I think it embraces both the orchestral and chiptune culture and has a very powerful and dramatic feeling which I think represents the resurgence of help from our new developers that has gone into the 1.2 changes

[2015-08-31 14:00] musikBear opened #168 "forum is down"
apparently something is gone wrong in forum:
![forumdown](https://cloud.githubusercontent.com/assets/6662066/9580371/5b90be16-4ff9-11e5-8c2c-1649792a7c4e.jpg)

[2015-08-31 15:10] tresf commented on #168
Down?  No.  Ugly? Perhaps.

Chances are @Umcaruje is working on an upgrade to our bootstrap theme (discussed in the tracker).  I'll let him chime in.

[2015-08-31 15:28] tresf commented on #168
Duplicate of #114

[2015-08-31 15:28] #168 closed

[2015-08-31 15:51] musikBear commented on #168
okidoki -did not see a topic about an upgrade
Looks different now, but it works
Is a tiny message to users needed?

[2015-08-31 15:57] tresf commented on #168
We've had a phpbb logo there for months, I'd say no.  If you want to ressurect an old announcement, feel free, please don't pin it tho as uros plans to finish it soon.

[2015-09-04 08:40] softrabbit commented on #115
Looks like the theme has been updated and this bug is gone.

[2015-09-04 08:40] #115 closed

[2015-09-04 21:36] softrabbit commented on #144
https://developers.facebook.com/docs/apps/changelog#v2_3_90_day_deprecations

The new URL should be http://graph.facebook.com/v2.3/435131566543039/feed but it looks like authentication is needed even for reading (a bit draconian if you ask me).

[2015-09-06 05:24] tresf commented on #144
Thanks @softrabbit.  I had to disable the feed to prevent the community page from failing (it must have been operating from a very old cache that was wiped away after we crashed out our tmp directory (session cleanup wasn't running for some reason).

Anyway, this community page needs an overhaul.  We use authentication for most of our APIs, so this should be straight, but since we're moving everyt

[2015-09-16 20:36] Sti2nd opened #169 "Wiki error on thumbnails"
https://lmms.io/documentation/Manual
https://lmms.io/documentation/Plugins

I couldn't find if this has been reported.

[2015-09-16 21:02] Umcaruje commented on #169
huh maybe that's that inodes problem that caused the forums instability too.

The wiki page looks fine: http://lmms.io/wiki/index.php?title=Manual

@Lukas-W @tresf is there a way to make a global recaching of the documentation pages?

[2015-09-17 01:04] tresf commented on #169
Fixed via

[code]

[2015-09-17 01:04] #169 closed

[2015-10-08 14:13] musikBear opened #170 "Banning and deleting manual several hundreds spam topics"
Right now the forum is drowned in spam.
I have banned the user, and started to delete the spam.
So i made a mistake and deleted one topic that should not be deleted
I can find the topic * 'Introduce yourself here' ** on page 10 of the deleted topics, but there is no topics in the moderator-Que at all. Why is that?
I am not even halfway through all this spam, but now i need coffee

I btw cant under

[2015-10-08 14:45] tresf commented on #170
There is, but you have to be an administrator to use it...

 * Administration Control Panel
 * Manage Users
 * Paste `jdfgdfgrr` into user id, Submit
 * Ban by IP address via "Basic Tools", "Quick Tools", "Ban IP"
 * Scroll to bottom of page, under "Delete User" click "Delete Posts"

[2015-10-08 14:50] musikBear commented on #170
ok, i only have moderator privileged. I guess this +500 topics (bot made ofcause) then need to be fixed by @Umcaruje. Why the list of deleted topics is empty, i cant understand, but i cant fix my mistake. The pinned topic 'Introduce yourself Here' also need Umcaruje -sorry about that

[2015-10-08 15:03] tresf commented on #170
Restoring a topic is quite a bit of work and requires a modern backup of the database.  I'm not sure this is worth our time for an "introduce yourself" thread and frankly, I'm not going to spend the next 2 hours fixing this mistake that you made.

We can add you as an administrator, but these types of mistakes cost hours of our time, so we need to first be comfortable with the level of caution tak

[2015-10-08 15:05] tresf commented on #170
I had forgot to mention that I have already deleted this user and banned the IP address, so that should be all set. If there are other users spamming our forum that require banning or bulk thread deletion, please continue to escalate as you have today.

In the mean time if someone wants to take the time to restore the deleted thread, feel free to open a new issue and track it there.

[2015-10-08 15:05] #170 closed

[2015-10-08 15:07] tresf commented on #170
And last but not least, thanks for continuing to monitor our forums and raise these issues to our attention.  It is greatly appreciated. :+1:

[2015-10-08 15:12] musikBear commented on #170
I'm just happy to assist the project, that i love.
Sorry for the inconvenience with the deleted topic, once more.

[2015-10-08 15:19] tresf commented on #170
FYI, Added bulk deletion procedure here:  https://github.com/LMMS/lmms.io/wiki/Forums-Bulk-Deletion-of-Posts

[2015-10-09 09:50] musikBear commented on #170
There was one also today *laraaakim11*, but there was only some few pages, so it was no problem. I banned him too.

[2015-10-21 02:26] shadow7412 opened #171 "The document tab on the LMMS main site throws an error 500."

[2015-10-21 03:39] tresf commented on #171
@shadow7412 thanks, we'll take a look.  In the mean time, you can access the documentation via https://lmms.io/wiki/.

@Lukas-W, FYI.

[2015-10-21 05:25] shadow7412 commented on #171
Ah nice. Thanks for the link.

[2015-10-21 14:42] tresf commented on #171
It appears cURL is throwing the following error (which is suppressed by something which catches and displays errors somewhere along the lines)

[code]

This suggests the server is having a hard time verifying its own HTTPS certificate.... investigating...

[2015-10-21 14:54] tresf commented on #171
Patched via 27fb49e, so this will work for now.  I've emailed the hosting provider to see if there is a misconfiguration with our SSL certificate.

[2015-10-21 17:24] #171 closed

[2015-10-21 17:24] tresf commented on #171
This should be fixed.  Copy of email below.

[2015-10-21 22:08] shadow7412 commented on #171
Confirmed - it's working now.

[2015-11-18 06:25] jamshark70 opened #172 "lmms.io link to PDF manual is broken"
At https://lmms.io/documentation/ the link `[pdf] (for v0.4.12)` points to https://sourceforge.net/projects/lmms/files/UserManual/

On this page, there are no files available for download.

At least remove a link which is no longer maintained.

(As a side note, lmms.io's reliance on google APIs means that it is very nearly unusable behind the Great Firewall of China. I wanted to download a PDF man

[2015-11-18 14:05] tresf commented on #172
Closed via https://github.com/LMMS/lmms.io/commit/8d2643343ff31bfc1df310705076d53285785cdb.  Please use this direct link or use the updated link from the wiki  https://lmms.io/pdf/lmms-manual-0.4.12.pdf

P.S. Thanks @Umcaruje for fixing the wiki side.

We use Google for fonts and jQuery.  Ironically, we use hosted versions for **faster** page loading (CDN, etc) but this seems to be having an adver

[2015-11-18 14:05] #172 closed

[2015-11-18 14:26] tresf commented on #117
@raindropsfromsky sribd has what appears to be an illegal copy of this up on their site.  Can you issue a takedown notice?  I'd do it, but you haven't transferred ownership yet.

http://www.scribd.com/doc/144754824/Lmms-Manual#scribd

To issue a takedown notice:

https://www.scribd.com/copyright/report-infringement

[2015-11-19 06:05] raindropsfromsky commented on #117
Hi

First of all, the original manual is not a commercial venture, and does not
generate revenue for me or the LMMS project.

I am not familiar at all with Scribd, but it looks like it allows each
member to share non-CR material.
No one seems to be making any money.
So if the manual is shared there, it does not cause a loss to me or the
LMMS project.

So my first reaction is, "why not?"

My manual

[2015-11-19 06:24] tresf commented on #117
Because they charge money to download it when it should only be offered for free.  If you don't care, neither do I, TL;DR it's your work.

[2015-11-19 06:51] raindropsfromsky commented on #117
Oh, do they? Then it is certainly objectionable!

So how do I authorize you? Or do we have an official representative at the
LMMS project for such purposes?

Regards
Narayan
On Nov 19, 2015 11:54 AM, "Tres Finocchiaro" <notifications@github.com>
wrote:

[2015-11-19 07:13] tresf commented on #117
Since this document is yours, I can't per:

From Scribd:

 * You are the creator of content posted to Scribd without your permission You are the duly authorized representative of the rights holder of content posted to Scribd without permission
 * You may not use this form to report infringements of works for which you do not hold a copyright. If you suspect that another person’s work has been post

[2015-11-20 06:26] raindropsfromsky commented on #117
Done!

On Thu, Nov 19, 2015 at 12:43 PM, Tres Finocchiaro <notifications@github.com

[2015-11-20 14:34] tresf commented on #117
:+1:

[2015-11-20 14:35] tresf commented on #117
Back on topic of the manual... are we going to commit the source documents to the project tree or close this out?  It's entirely your call @raindropsfromsky.

[2015-11-20 15:29] raindropsfromsky commented on #117
The code repository approach won't work with my odt ->pdf conversation
method. Each version of odt is a separate entity, and we cannot apply the
version control below that level.

Therefore, I will keep posting the latest pdf, and send the complete odt
file to anyone who wants to translate.

Planning to finish the manual in the coming week. Will need a few
volunteers to proofread.

Regards
Narayan

[2015-11-20 15:37] tresf commented on #117
method. Each version of odt is a separate entity, and we cannot apply the
version control below that level.

I was more asking in regards to the sources of it.  Are you keeping them private or would you like them shared?  If you are keeping them private and keeping ownership, there's no need to leave this thread open.

In regards to placing the source code under version control, I'm not sure how G

[2015-11-20 21:33] Wallacoloo commented on #117
**If** you want version control for the next major manual revision, you
could consider porting it to LaTeX, which is a text format that easily
compiles to pdf, dvi, etc.

[2015-11-20 21:50] tresf commented on #117
Right, but it can be a bear to author.  I think that was proposed once once before.

[2015-11-24 04:27] raindropsfromsky commented on #117
yes, I tried two  popular LaTex editors but could not adjust to it at all.

I do not maintain sources separately. It is usually a odp where I assemble
the screnshots with annotations. In simpler cases I just take the
screenshots and paste it in the odt file directly.

So on the whole, let's go ahead with the arrangements I outlined in my last
mail.

BTW I got reply from SCRIBD. They have blocked t

[2015-11-24 04:54] tresf commented on #117
Fair enough.  Closing.  Please feel free to reopen if you decide to share the sources with the project at a future date.

[2015-11-24 04:54] #117 closed

[2016-01-18 00:18] tresf opened #173 "inode filling up"
Many items of our site go down when our own `./tmp` directory fills up (1 million+ entries).  Most notably, the forums.

Since this is the second time this has occurred, I'm documenting the steps we used last time, so we have a work-around until a permanent solution is determined.

[code]

... and optionally, if some services are still acting up, bounce the Fast CGI processor...

[code]

In the me

[2016-01-20 05:32] tresf commented on #173
The hosting provider has installed a clean-up script which will run nightly.  To see where it's located:

[code]

The contents of the script:
[code]

They said this is caused by us not using the standard `tmp` location for our session files.  Not sure how valid that is, but I'm closing this issue out as resolved for now.  Feel free to reopen if the problem resurfaces or a better approach is needed

[2016-01-20 10:49] Umcaruje commented on #173
:+1:

[2016-01-24 11:09] musikBear opened #174 "official linux downloads point to 1.0.0"
Here
http://lmms.io/forum/viewtopic.php?f=7&t=4731
a user claims that the dl for linux
on the offocial dl page https://lmms.io/download/#linux is version 1.0.0.

Is that true, or is it only the version stamp that is wrong?
He btw also have problems that i cant solve

[2016-01-24 13:54] tresf commented on #174
We don't distribute a Linux version, but rather link to other people that do.

[2016-01-24 13:54] #174 closed

[2016-02-03 10:27] softrabbit commented on #114
Closing, as forum says "Design: ComBoot by Florian Gareis"

[2016-02-03 10:29] softrabbit opened #175 "Forum uses ComBoot favicon"
Wouldn't the LMMS logo icon be more suitable for the forum?

Update before someone closes this as invalid: looks like they both are in the code, Firefox shows the ComBoot icon while Chrome shows the LMMS logo icon.

[2016-02-08 03:44] pbella opened #176 "Licenses for uploaded content on lmms.io"
I've noticed at least some content has been uploaded to the site with a CPL license designation such as https://lmms.io/lsp/?action=show&file=7972

AFAIK, this is a deprecated license and would be incompatible with LMMS.

Also, more generally, it would be helpful if the license specified for uploaded files included hyperlinks to the specific license (esp. when there can be more than one version of

[2016-02-08 03:52] tresf commented on #176
Artwork license is quite different from code license and we're not in control of what our users submit (nor do we want to).  Furthermore, our site content isn't subject to GPL, only our codebase is.  This may sound wrong and confusing, but artists don't need to use our source code license when releasing their work.

That said, the licenses need work.  Duplicate of #54, really.

[2016-02-08 03:52] #176 closed

[2016-02-22 15:11] Umcaruje commented on #175
I'll look into this

[2016-02-22 17:26] #114 closed

[2016-02-22 18:28] Umcaruje commented on #175
@softrabbit could you check out if this is fixed?

[2016-02-23 07:26] softrabbit commented on #175
Yeah, fixed.

[2016-02-23 07:26] #175 closed

[2016-03-04 11:25] softrabbit opened #177 "HTTPS isn't forced for www.lmms.io"
Compare where you end up:
http://lmms.io (redirect to HTTPS)
http://www.lmms.io (no redirect)

Close if this is intentional or acceptable, fix if not: https://github.com/LMMS/lmms.io/blob/master/public/force-https.php

[2016-03-04 13:39] Spekular commented on #177
If it counts, I vote fix.

[2016-03-04 15:00] #177 closed

[2016-03-15 19:01] DeRobyJ opened #178 "Misleading installation instructions in the wiki"
I just saw that German and Italian documentation for installation are really outdated and misleading.

I decided to do the Italian translation of the lmms.io/download page.
The English page has been deleted long ago, but German and French ones are still there.
The French one is actually still in English.

I'm marking the German one as Outdated, so if there are German speakers please chime in.

[2016-03-15 19:04] tresf commented on #178
Thanks.  Note, this statement can be quite misleading as we actually have an `lmms.io/download` page as part of our public source code repository.

If you can, link directly to the wiki articles you're speaking about so that other wiki maintainers are aware of what you're describing.

[2016-03-15 19:05] DeRobyJ commented on #178
Ok

From the mediawiki instance:
https://lmms.io/wiki/index.php?title=De:Installation
https://lmms.io/wiki/index.php?title=Fr:Installation

[2016-03-15 19:07] tresf commented on #178
Those aren't installation instructions really, they're simply build instructions.  I'm not sure how much value they even have being on the wiki, we have great build tutorials on our GitHub page for building (and we should do better Linux packaging to avoid such a mess in the first place).

[2016-03-15 19:09] DeRobyJ commented on #178
That's right. That's why I decided to do something different with the Italian one.
First: some general information about Windows, OSX and Deb via package manager.

Then, the commands devided for distros (with information about KXStudio repository)
Just the same as the download page.

https://lmms.io/wiki/index.php?title=It:Installazione

[2016-03-15 20:00] tresf commented on #178
First: some general information about Windows, OSX and Deb via package manager.

But why?  You're putting our dev documentation in an area already covered perfectly fine on our downloads page.

Instead, local support for our downloads page would put this information where it is useful, not buried in a wiki somewhere.

[2016-03-15 20:25] DeRobyJ commented on #178
OK, when the localization system of the download page will be ready I will traslate it. I asked for it a year ago, and during this year Italian users had no informations but if they read English.

I thought that a user going to the italian wiki and clicking on "Installation" would prefer info in Italian over a redirection to the download page!

[2016-03-17 22:16] DeRobyJ opened #179 "Useful Resources... 404 (dead external links on wiki page)"
This page in the wiki https://lmms.io/wiki/index.php?title=Useful_resources would be really cool... but it's kinda outdated...

So, before deleting or replacing links, I wanted to ask you if there is some that moved to other domains or things like that. Or if you want to include more.

Dead links:
http://www.homemusician.net/
http://www.brycecoulson.com/samples/
http://www.samples-share.com/ (I th

[2016-03-17 22:16] Umcaruje commented on #179
Just add them to the wiki page, you can edit them.

[2016-03-17 22:17] DeRobyJ commented on #179
Oh fine.
About windows only programs?

[2016-03-17 22:30] Umcaruje commented on #179
paulstretch is a part of audacity, for the other one idk, do as you wish :)

[2016-03-18 15:01] tresf commented on #160
These issues have all been addressed in BoLv3.  Closing.

[2016-03-18 15:01] #160 closed

[2016-03-18 15:01] tresf commented on #162
Stale and abandoned.  Closing.

[2016-03-18 15:01] #162 closed

[2016-03-18 15:06] tresf commented on #147
Ok, let's open a dedicated bug report for that then. This one is too broad. Furthermore, some assistance would be great.  Our site is 10x more usable than the old one, this isn't a wishing well.

[2016-03-18 15:06] #147 closed

[2016-03-18 16:12] #156 closed

[2016-03-18 16:12] tresf commented on #156
![image](https://cloud.githubusercontent.com/assets/6345473/13884090/b88cf11a-ed02-11e5-8932-89deea34acab.png)

[2016-03-18 16:15] tresf commented on #179
We don't need a bug report for each wiki update.  As @Umcaruje said, just take care of them, that's fine! :+1:

[2016-03-18 16:15] #179 closed

[2016-03-18 16:26] tresf commented on #178
Excuse me?  This isn't a request forum.  I have a few problems with this whole process... let me identify them...

1. The wiki's German translation is 50% English, so you can piss off with that comment.
2. The wiki's French translation is 100% English.
3. The new version of the wiki's Italian translation is just a copy from our downloads page with a few words translated.  Linux users can figure th

[2016-03-18 16:26] #178 closed

[2016-03-18 16:31] tresf commented on #167
Well, we can't reset passwords if we have no challenge info and no email stored, so this is a moot point (garbage input yields garbage output).

Since @kmklr72 never started work on this and we need a better LSP anyway, this is really just a topic about an LSP rewrite, thus has no purpose remaining open.  Whatever system we replace LSP with, it will have a password management feature. :+1:

[2016-03-18 16:31] #167 closed

[2016-03-18 16:31] #165 closed

[2016-03-18 16:46] #164 closed

[2016-03-18 16:49] tresf commented on #163
Closing, as we'd have to rewrite a bunch of things to make this possible, better targeted at a new LSP rather than scabbing it onto the limited one we have.

[2016-03-18 16:49] #163 closed

[2016-03-18 16:53] tresf commented on #137
@Spekular I'm closing this out unless you or someone like @cubician can tackle this.

[2016-03-18 16:54] tresf commented on #129
Yes it would.  Perhaps an LSP2 feature.  Marking as wont-fix.

[2016-03-18 16:54] #129 closed

[2016-03-18 17:05] tresf commented on #99
All items appear to have been addressed.  Thanks! Closing.

[2016-03-18 17:05] #99 closed

[2016-03-18 17:06] tresf commented on #81
We've lived with it for this long.  Please reopen if "dislike for the background image" becomes a concern.

[2016-03-18 17:06] #81 closed

[2016-03-18 17:07] tresf commented on #77
This never happened and the OP has since become inactive.  Closing.

[2016-03-18 17:07] #77 closed

[2016-03-18 17:09] tresf commented on #51
Search is back, but our menu bar is gone.  This is largely due to the fact that our menu bar and phpBB's menu bar utilize the same space and bootstrap techniques.  Closing as resolved for now.

If someone has the ambition to hack `overall_header.html` again (and for every-single theme update), we'll happily accept it.

![image](https://cloud.githubusercontent.com/assets/6345473/13885775/79a992e8-e

[2016-03-18 17:09] #51 closed

[2016-03-18 17:21] #54 closed

[2016-03-18 17:21] tresf commented on #54
Sounds reasonable.  Done via 376972f.

[2016-03-18 18:06] Umcaruje commented on #51
Yeah, and when comboot comes out of the closed beta, we should maintain a fork over on the organisation, so anyone can contribute to the theme. :+1:

[2016-03-18 18:17] tresf commented on #38
There's no immediate demand for this and I've no immediate intentions on writing it. Closing.

[2016-03-18 18:23] tresf commented on #35
@eagles051387 you've left this hanging for over a year now.  I've emailed NetworkRedux to see what their backup policies are.

If there are any disagreements with this retention plan speak now or forever hold your peace.

[2016-03-18 18:30] #144 closed

[2016-03-18 18:32] tresf commented on #144
I've removed the buttons from view as they serve no purpose until this is fixed.

Closing for now, but a long term solution is to use a JSON API similar to how the downloads are populated. :+1:

![image](https://cloud.githubusercontent.com/assets/6345473/13888122/11c12090-ed16-11e5-89d3-9b63daf5ba77.png)

[2016-03-18 18:33] Umcaruje commented on #38
I actually like this idea, and think it should stay open.

[2016-03-18 18:40] tresf commented on #38
:+1:

Yeah I do to, but we need a service to crawl the GitHub JSON API hourly/daily/weekly and aggregate the results into something (text file, database, etc).  This is quite a bit of work for something the admins can already get via the the Google analytics engine.

[2016-03-18 18:57] tresf commented on #35
Per support:

IMO, this is adequate for our needs.  Please feel free to reopen if you disagree.

[2016-03-19 12:46] Spekular commented on #137
I probably won't :/

[2016-03-19 15:59] DeRobyJ commented on #178
I'm not requesting, I'm just stating that there is that. Sorry if it sounded different.

Ok then, I'm deleting that.

[2016-03-19 17:11] cubician commented on #137
Hm I just saw this, looking at the script now.

[2016-03-19 17:19] cubician commented on #137
Hmm. For a promo video, I don't think it needs to showcase every single feature. For those who aren't familiar with the program, workflow features would be confusing and unnecessary. I think that in a promo video we should focus more on the new audible features. Workflow updates can be explained in a YouTube tutorial or someplace else where prior LMMS users can view and fully learn without detract

[2016-03-19 17:55] tresf commented on #137
Perhaps something close to 1.1, but will a NEW tag during new parts in the demonstration?

What I really liked about 1.1. was it served as a good general LMMS promo video as well as an explanation of what was new in that particular version, but nothing drawn out or overbearing it TL;DW, etc.

[2016-03-25 23:24] tresf commented on #173
This is still occurring.  Reopening.

[2016-03-27 01:27] teeberg opened #180 "Can't register"
I keep getting this error, even though I'm fairly sure I'm not blind:

<img width="862" alt="screen shot 2016-03-26 at 6 23 58 pm" src="https://cloud.githubusercontent.com/assets/199071/14063299/f1f81064-f37f-11e5-9aad-7bd763c652cb.png">

It's also *really* annoying that it doesn't remember any of the inputs.

[2016-03-27 01:37] tresf commented on #180
Our security code is rubbish (I know, I wrote it).  It uses a token from the session combined with a timestamp and that sometimes has issues from time to time.  Clearing the cache or using another browser seems to fix it, but before you do that, I'll make sure registration is working for me, delete the newly created user and then post back.

[2016-03-27 01:40] tresf commented on #180
Hmm... did you register using `teeberg`?  Your info is in the users table...

[2016-03-27 01:46] tresf commented on #180
Ok... I just registered successfully using a private browser session....

**Full Name:** Harman Kardon
**Username:** hkardon77
**Password:** <same>

And then it let me sign in.

Then deleted it using:

[code]

So it's working as expected here...

[2016-03-27 02:06] teeberg commented on #180
I managed to create my user through Firefox. It only got blocked in Chrome, potentially by some of my privacy extensions. I even tried enabling sending of the referrer though, not sure what else it's expecting.

[2016-03-27 02:18] tresf commented on #180
Really just the session....

https://github.com/LMMS/lmms.io/blob/master/public/lsp/register.php#L31:L44

It's more of a smokescreen though.  Quite ineffective if someone felt like writing a true brute-force.

Closing since the issue was most likely caused by a browser extension.  Proper recaptcha would be included in a major rewrite.

[2016-03-27 02:18] #180 closed

[2016-03-27 06:16] tresf commented on #173
Support says:

We'll see how well that works.  Closing back out for now.

[2016-05-04 14:50] musikBear opened #181 "Facebook - some unanswered questions"
I am no longer on FB (they demanded to get credit-card / home-address info, 'to verify that i was a 'real' person ) :angry:  So i dumped FB. I still read lmms.FB, but i cant write/ respond. Someone else need to, im afraid.
B.r. mB

[2016-05-04 14:56] #181 closed

[2016-05-24 19:25] Spekular opened #182 "Waveform descriptions in Wiki"
The [SFXR](https://lmms.io/wiki/index.php?title=SFXR) page currently describes square, saw, sine, and noise waveforms. While useful to a beginner, this information might be better suited on a separate page, another website, or left out.

[2016-05-24 21:20] tresf commented on #182
Please edit to provide a link to the offending article as well as a proposal as to how to fix this if it's not removed/left out.

For example, if all references to "Saw, Sine and Noise" can be on a dedicated waveform page, let's get that created and get this closed out.  The wiki is as good as its maintainers and we can and should be in the habit of fixing those items which we feel need fixing. :+

[2016-05-25 06:44] Spekular commented on #182
@tresf [offending article](https://lmms.io/wiki/index.php?title=SFXR)

I'm not entirely comfortable making what I consider to be major changes to the wiki without asking for feedback, but I'll go ahead.

[2016-05-25 10:03] Spekular commented on #182
@tresf Page added. I've run into an issue though.

Attempting to resize images or create a gallery gives the following error:

    Error creating thumbnail: /bin/bash: /usr/bin/convert: No such file or directory

    Error code: 127

[2016-05-25 10:03] #182 closed

[2016-05-25 10:34] musikBear opened #183 "spam on facebook"
FYI: Someone has added a long add for a language school on lmms FB wall
https://www.facebook.com/abir.yamaren1

[2016-05-25 12:22] tresf commented on #183
Deleted spam post.

[2016-05-25 12:22] #183 closed

[2016-05-25 12:54] tresf commented on #182
Ran:

[code]

`/usr/bin/convert` is installed now.  Might need to refresh something to get them to regenerate though, not sue how the mediawiki instance works.  @Umcaruje @Lukas-W any idea?

[2016-05-25 13:06] Spekular commented on #182
fixed! thanks :)

[2016-05-31 08:31] DeRobyJ opened #184 "Forum down?"
In case no-one noticed, but I think you had, the forum seems down.

![screenshot_127](https://cloud.githubusercontent.com/assets/6437521/15668267/aa05af4a-271a-11e6-9398-627bd4e92501.png)

Hope it's nothing serious xD

[2016-05-31 12:48] musikBear commented on #184
yep here (Denmark) too :+1:

[2016-05-31 12:51] Umcaruje commented on #184
I'll look into it.

[2016-05-31 12:54] Umcaruje commented on #184
@tresf out inodes piled up again...

Gonna manually fix it usin the solution from #173

[2016-05-31 12:55] Umcaruje commented on #184
Fixed.

[2016-05-31 12:55] #184 closed

[2016-05-31 12:56] Umcaruje commented on #173
This is still happening.

[2016-05-31 13:07] tresf commented on #173
Re-notified support.  We'll see what happens.

[2016-06-01 05:56] softrabbit commented on #184
It worked manually but not from the script that cron runs?

[2016-06-01 06:20] tresf commented on #184
Correct.  Support wrote the cron scripts (from what I read on PHP, this cleanup is supposed to be automatic, so I opened a bug).  I reopened the ticket today when this happened.  They say they can confirm the cron job is not working properly and they are looking into it (lol).

[2016-06-01 10:21] musikBear commented on #184
The layout is different now. Can we get 'our old' layout back? Its nice to be able to see posting details, and the old layout was simply more readable

[2016-06-01 11:11] Umcaruje commented on #184
@musikBear what?

[2016-06-02 13:11] musikBear commented on #184
@Umcaruje  It is a different layout now, or 'skin' if you understand that better. One of the things i have not found in this layout, is the ban-hammer-option.
I believe it was tresf that installed the previous layout? Not sure.

Indecently, the first time i went in after the issue was solved by you, i got several popups offerings for expansion-packs for moderation only. All costed money. Some were

[2016-06-04 06:49] tresf commented on #184
Stop this rubbish.  We don't do that and neither do our forums.  This is not related to our site.

Just change it back to whatever it was before.  It's in your preferences.
![screen shot 2016-06-04 at 2 48 20 am](https://cloud.githubusercontent.com/assets/6345473/15798206/f162d6d8-29fe-11e6-8fe3-6b1acae532ce.png)

[2016-06-04 11:55] musikBear commented on #184
It was the phpBB that offered those addons.

That i did not know. T.y.

[2016-06-08 00:24] socceroos commented on #173
What part of the code is putting items in the tmp directory? Is it a rudimentary cache?

[2016-06-11 21:37] teeberg opened #186 "Fatal error: Redefinition of parameter $_"
I'm getting this error locally when trying to open the "Documentation" page:

According to https://github.com/guzzle/RingPHP/issues/22, this has been fixed in RingPHP 1.0.7 (the `composer.lock` currently pins it to 1.0.5)

[2016-06-12 00:18] teeberg opened #189 "Make database setup more straight-forward"
To reproduce #149 locally, I'm trying to set up the LSP on my machine. According to https://github.com/LMMS/lmms.io/wiki/LSP-Installation, I need to "obtain a tarball of the SQL database". How would I go about doing that? Could you maybe upload a snapshot of the current LSP somewhere and link to it from the Install instructions, as to make it as easy as possible for me and other contributors to ge

[2016-06-12 01:16] tresf commented on #189
@teeberg I can email you a copy, just email me tres.finocchiaro@gmail.com.

Once you have a good process for getting others involved (e.g. scraping and uploading the schema) please feel free to tackle that if you feel so inclined.  Also, we don't get much help over here on the site side, so if you're ok with being an admin, we could certainly use the help. 👍

[2016-06-12 01:59] #186 closed

[2016-06-12 18:06] teeberg commented on #189
I'm not familiar with the typical ways of managing databases in PHP, but a quick google brought me to http://propelorm.org/ which looks really promising. Once I have the database, I'll see how easy that is to set up.

[2016-06-13 03:00] teeberg commented on #149
Has that menu changed since this bug was reported? It's not showing me the separate type/instrument sections:
![image](https://cloud.githubusercontent.com/assets/199071/15996054/5809eb94-30d8-11e6-8ae4-22eb5c4d5fa2.png)

[2016-06-13 03:04] tresf commented on #149
Sorry, that was a mockup.  I've edited the original post to clarify.

[2016-06-13 03:06] teeberg commented on #149
oh it's an enhancement request, not a bug! :-) got it, thanks for clarifying!

[2016-06-18 14:57] Umcaruje commented on #184
This is not PhpBB, its the author of our theme. He put a lot of work on his theme, and its perfectly ok that he offers these compatibility packs to get some funds to support him. As a matter of fact, we use the sortables captcha, and he gave me the extension without asking for money, and is always there to help out and change stuff. You can simply hide the message by pressing the big Hide message

[2016-06-19 11:30] musikBear commented on #184
@Umcaruje That explanation cleared everything. Both the strange messages, and the fact that i did not recognise the theme, which was no problem in it self, but The only thing i still am a little sad about, is that after the update, the very useful **ban-hammer** option is no longer available. I liked that ban-hammer -option, when i cleaned up after a spammer.

[2016-06-19 16:11] tresf commented on #184
@musikBear

1. Login
2. Go here: http://lmms.io/forum/ucp.php?i=373
3. By "Board style" change it to pro silver

Furthermore, if you want a paid plugin, we'll buy it, just let us know which one and how much.

Your comments are off topic, so if you want to discuss this further, please start a new topic.  This one is closed.

[2016-06-29 21:50] bkeys opened #191 "Best of LMMS is "All rights reserved""
why is the Best of LMMS all rights reserved on BandCamp? I would think that this would go against the spirit of LMMS. The licenses for these works should be a free culture license of some sort so that more people can feel the benefits of this music (and by extension, LMMS).

[2016-06-29 22:07] tresf commented on #191
That appears to be something bandcamp adds to the bottom of each album.  I can't find a place on the album page where we can change it.

I find it to be correct though.  Simply because a GPL product sponsors/promotes the artists' work gives LMMS no right to claim ownership or dictate licensing unless we set that as entrance criteria for the competitions (which we [didn't](https://lmms.io/competiti

[2016-06-29 22:12] Umcaruje commented on #191
Well, I know we can change the license on bandcamp (not entirely sure where, but I did it for my own releases), but I'm not sure if we can change the license now, without an explicit permission from every artist.

Though I think that having the album under a free culture license would be a good thing.

[2016-07-02 02:04] MingcongBai opened #193 "AOSC OS is shipping LMMS"
Hereby proposing adding AOSC OS to the download page, as to my reasoning, there are two:

- AOSC OS provides both a RPM-based and a DPKG-based (mainline) distribution, therefore instructions should include both with using `apt` and `zypper` at the same time.
- AOSC OS's `lmms` package comes with complete functionality (including VST, which should work out of the box with all necessary dependencies

[2016-07-02 05:15] tresf commented on #193
Sure.  You can add it here: https://github.com/LMMS/lmms.io/blob/master/templates/download/linux.twig

Alternately if you don't have the time, we can add it once the font get approved.  I'm not sure how @Lukas-W does the versioning as we link against `font-linux 0.1` whereas the latest release is `font-linux 0.5` so that may need to be updated as well. 👍

[2016-07-02 11:33] MingcongBai commented on #193
I think I should wait for that first so nothing else gets messy on the way.

[2016-07-08 01:32] Lukas-W commented on #193
`fl-aosc`is now included in `font-linux 0.6`.

[2016-07-08 01:33] MingcongBai commented on #193
Thank you! Should I move on to create a PR or...?
2016年7月8日 09:32，"Lukas W" <notifications@github.com>写道：

[2016-07-08 02:18] tresf commented on #193
Yes, please do.  You can add it here: https://github.com/LMMS/lmms.io/blob/master/templates/download/linux.twig

[2016-07-08 05:35] MingcongBai commented on #193
PR created: https://github.com/LMMS/lmms.io/pull/194.

Thanks for the inclusion!

[2016-07-19 12:06] musikBear opened #195 "forum has a reminder popup"
This popup appears every time a topic is opened on forum
![forumpop](https://cloud.githubusercontent.com/assets/6662066/16949144/54b851da-4db9-11e6-8c25-d59eddfcc749.JPG)
No matter which of the 3 options are chosen, the popup is shown over and over.
The dl link btw lead to a 404 page on github
https://github.com/ComBoot/ComBoot-3.1/archive/v1.1-rc3.zip

Noone on forum has made a hazzle about it, s

[2016-07-19 15:28] tresf commented on #195
Yes, this is unbearable.  @Umcaruje any advise here?  The buttons don't seem to dismiss it.

@musikBear this may be a moderator/admin only message, but regardless, it's terribly annoying.  As a workaround, you can reset the theme to prosilver and it will go away for your own login session.

[2016-07-19 17:01] Umcaruje commented on #195
I'll see to update the theme tonight, and permanently disable all notifications

[2016-07-19 18:03] musikBear commented on #195
@tresf Thanks for the tip! :+1:
I have realized that there is a second message in top of the screen, if the mouse is placed there, but it disapears really fast
It read:
*Thank you for installing the update! If you updated, but this message does still appear, please change the meta value of theme-version in the overall-header.html file!*
Im not sure if that is a local, or server file. In fact i don

[2016-07-19 22:27] Umcaruje commented on #195
Updated, if this resurfaces, please reopen

[2016-07-19 22:27] #195 closed

[2016-07-19 22:37] Umcaruje commented on #195
Also disabled further notifications in the config, so we shouldn't be getting these notifications anymore.

[2016-07-26 15:31] tresf opened #196 "SoundCloud to remove Groups"
In a month, SoundCloud will be removing the groups feature .  AFAIK, this means people will not be able to share music to the LMMS group and we won't be able to feed it to our community page.

I'm not sure if there's any sane replacement for this, so we'll likely have to abolish the soundcloud account altogether unless we can switch to something like using tags/hash tags.

[2016-07-31 23:08] socceroos commented on #196
Yeah, the reposts and playlists seems a suitable, if not slightly annoying replacement. People will just have to send a message to the LMMS user requesting a re-share/playlist add of their track.

[2016-07-31 23:11] Umcaruje commented on #196
Imagine the amount of requests we will get... Still mad at soundcloud for doing this. We'll need to find a different platform to do BoL now, probably a google form.

[2016-08-01 01:44] Spekular commented on #196
What about using a tag? Would that solve the issue of the lmms.io feed, or
is it not possible to have a tag feed?

[2016-08-01 02:15] tresf commented on #196
I think a tag is mandatory.  Can someone find out how API against it?

[2016-08-02 12:47] Umcaruje commented on #193
Closed via #194

[2016-08-02 12:47] #193 closed

[2016-08-24 20:29] SirBothersome opened #197 "WOT Blacklisted web links of Facebook page"
I'm not sure if this is the right place to post this, but I decided to check LMMS's Facebook page today and saw this
![blacklist](https://cloud.githubusercontent.com/assets/20342439/17946764/b8dee99c-6a17-11e6-8737-4be3f331de5d.PNG)

I checked out the link shortener on Web of Trust's website to find less than sparkling reviews. https://www.mywot.com/en/scorecard/bit.do?utm_source=addon&utm_content

[2016-08-24 21:05] tresf commented on #197
Yeah I tend to agree.  URL shorteners aren't needed for this particular post.  We'll correct it and use full URLs moving forward, thanks.

[2016-08-25 02:02] tresf commented on #197
Fixed.  Note, the soundcloud groups have been removed, so that link was dead anyway.

![image](https://cloud.githubusercontent.com/assets/6345473/17954068/62fd3162-6a46-11e6-9049-13985dd1b210.png)

[2016-08-25 02:02] #197 closed

[2016-08-25 02:05] tresf commented on #197
@SirBothersome did you read the reasons for this reputation score?  They're all abuse reasons (which users create, not the shortener services).  It's not fair to punish `bit.do` for these.  Please provide some solid evidence that `bit.do` is shady in the form of evidence so you aren't wasting our time with false-positives.

[2016-08-25 15:05] SirBothersome commented on #197
@tresf , the point is not that the website is/is not shady, the point is that the links it made were blacklisted. If I had tried to click on them, my browser plugin would have prevented me from going to the links. While not every plugin would have done this, it appears that the major players would. [http://www.urlvoid.com/scan/bit.do/](url) Also, the link provided is http, not https,
![http vs htt

[2016-08-25 15:12] tresf commented on #197
If you have a service with blindly blocks URL redirectors that is a problem you've created for yourself.   All URL shorteners will be abused and will be reported with a bad reputation for services that take the consensus of the uneducated versus investigating.

In regards to HTTPS, `bit.do` supports it just fine and uses a trusted SSL certificate to do so, it just doesn't append it to the links by

[2016-08-25 16:26] SirBothersome commented on #197
![blacklist](https://cloud.githubusercontent.com/assets/20342439/17977253/f256b428-6abe-11e6-9ce2-cdd6830ae787.PNG)
What I was actually referring to when I said "links provided". My English bad. However, as this is closed now, I don't see much purpose in continuing this discussion.

[2016-08-27 10:10] BrootLee commented on #137
Hello! I've been waiting for 1.2 for some time. I'm on Linux and haven't compiled because it requires me to install/remove/replace some stuff on my system which is scary. I'd rather use a deb file or something like that. I've been waiting for a  RC installer to become available on the Linux downloads page but instead there's still only a link to the compilation instructions.
@Umcaruje posted a lin

[2016-09-24 17:32] DeRobyJ opened #200 "Site Down?"
I'm trying to load the homepage but it says "504 Gateway Time-out"

[2016-09-24 18:39] teeberg commented on #200
@Umcaruje restarted it, thanks for the report :)

[2016-09-24 18:39] #200 closed

[2016-09-24 18:39] Umcaruje commented on #200
Restarted nginx and fastcgi, the site works now.

[2016-10-22 10:44] musikBear opened #202 "Ad a VST 'red-list' to wiki"
As you all know we have a list over VSts that has been tested and works in lmms.
However it is not kept updated, and the real reason for that is, that _most_ vsts will work in lmms. So the current list will not give the best info about using vsts.
How about making a list of those vsts that do _not_ work?
A red-list of those that has failed. It will be a short list, and it will have real valuable i

[2016-10-25 18:30] tresf commented on #202
Sure, but they aren't black-listed, they're just broken. 😄

[2016-10-26 17:42] musikBear commented on #202
:) red or black as long as its not racial motivated..
(in a way that is interesting. Here in Denmark we would say *red-listed* for those that are faulty, a blacklist, would be those that are prohibited for some reason. For instance illegal software like pirate-bay, they are black-listet   ('sortlistet') on danish internet ..Yes 'we' are like china, 'We' censure the internet..)
Nwm. Il make a list

[2016-11-06 12:25] musikBear opened #203 "free advanced open source libraries"
http://superpowered.com/
I dont know if any of these could be of interest, but there are f.i. a library for pitch and stretch opp.
http://superpowered.com/free-open-source-time-stretching-pitch-shifting

Just wanted to show uall

[2016-11-06 20:19] liushuyu commented on #203
It seems like this library is not an open source one. It is a commercial closed-source library, which only provide the source code of the demos

[2016-11-07 12:27] musikBear commented on #203
@liushuyu  wrote

They should be ashamed :-1:  How can they write **free-open-source**-time-stretching-pitch-shifting, if its not. Oh well :/

[2016-11-07 13:25] tresf commented on #203
Despite the commercial options available, [Rubber Band is GPL](http://breakfastquay.com/rubberband/license.html) as is [SoundTouch](http://www.surina.net/soundtouch/license.html).

I'm not sure `@lmms/lmms.io` is a good place for this information, but it's good information nonetheless.

[2016-11-07 13:27] tresf commented on #203
@musikBear I'm closing this out because there's not much that can be done on our website regarding it, but it's good information to go back on if we decide to use a 3rd party time stretching library.  👍

[2016-11-07 13:27] #203 closed

[2016-11-13 22:23] JtLively commented on #202
@musikBear are you putting that info in the Github wiki ?

[2016-11-13 22:59] tresf commented on #202
@JtLively I believe he's talking about our mediawiki instance i.e. http://lmms.io/wiki/index.php?title=Tested_VSTs.

[2016-11-14 01:00] JtLively commented on #202
Thanks @tresf. I think that bottom list should include dates tested. Might be easier in a table with Linux and Windows columns. Why is this issue still open ?

[2016-11-14 01:23] tresf commented on #202
Perhaps because @musikBear creates bug reports faster than the team can close them. <3

[2016-11-14 11:35] musikBear commented on #202
Only those i find :p -But i also posts ideas, but only those i have..
Dates- @JtLively yes that could be, but i plan to go through the no-go's with each lmms-release so those on the list they are currently un-useable, so the date is kind of 'now'

[2016-12-21 10:34] musikBear opened #208 "Forum has no pin-to-top option"
I would like to pin the forum- *new-user-introduction* thread, but there is no option, that i can see for pinning a topic, is that because i am dim and not see it, or is that simply no option.

[2016-12-22 10:12] Umcaruje commented on #208
![image](https://cloud.githubusercontent.com/assets/6282045/21422341/8702a43a-c837-11e6-9dae-d3d8228998ea.png)
Change the topic to sticky.

[2016-12-22 10:12] #208 closed

[2016-12-22 11:08] musikBear commented on #208
Oh but you see, i do not have those options:
![nosticky](https://cloud.githubusercontent.com/assets/6662066/21423821/56eb9826-c83f-11e6-9f58-b962acf57fd7.JPG)

[2017-01-07 14:47] musikBear opened #210 "1.2-RC2 win32 on XP :Basic tests & test of sample-track"
I diddent feel that this should be an 'issue' on tracker, so i post my results for RC2 on XP here.
Big thanks to @Zonkmachine for providing the binary 💯

ReleaseVersion: 1.2 RC2 win32 winXPsp3

**Basic function test*

* installs
* opens
* preserve settings
* uses locale
* can change UI language
* load older project
* create project from template
* replay
* saves
* exports (new as loops too)
correc

[2017-01-07 16:49] zonkmachine commented on #210
Correct. Can you also close this as its the tracker for the lmms web platform.
Heaps of love for testing this though.

:heart:

[2017-01-07 16:55] #210 closed

[2017-01-07 17:02] tresf commented on #210
@musikBear I actually thought of you this release.  This information would normally go into a QA/QC checklist.  The matrices get very large very quickly and some of it can be automated but for starters can be a shared spreadsheet.  If you are interested in spearheading this and sharing it out we can put basic pass/fail checks and make them a part of each release.

The various platforms would need

[2017-01-07 19:19] musikBear commented on #210
| If you are interested in spearheading this and sharing it out we can put basic pass/fail checks and make them a part of each release.
@tresf i can do that. Do you know a resource that is suited for a QAQC setup. I have openOffice, and can make a spreadsheet in *that*, but i am not sure where it can be posted as a shared resource

[2017-01-07 20:46] tresf commented on #210
@musikBear you can start with open office, but Google Sheets is a good shared collaborative platform that I've used in the past.  I believe it has ability to import from OOo

[2017-01-08 14:31] musikBear commented on #210
@tresf

:
(If you're OK with Google of course)

Thats fine, i have an old account.
I suggest a structure where one 'version-in-os' has its own page.
I feel that this structure makes sense, because the various versions are not directly related, and comparisons will still be possible in two different browser-windows.
I will post a link when i have anything to show.
Do you prefer this topic on HUB or

[2017-01-08 14:37] tresf commented on #210
Depends on the content.  Some times one sheet with OS columns works.  Try it out and see what works.

[2017-01-08 14:39] tresf commented on #210
The topic is fine here for now.  It's more of a "testers wanted" topic for tracker, FB and foruns, but best to have something in place first.

[2017-01-11 17:17] musikBear opened #211 "What can LADSPA-plugin-Browser do for a user?"
Im in the process of testing 1.2.0 RC, and in menu | tools, lmms has the **LADSPA-plugin-Browser**

Why is this a feature in lmms?
I can open the list, and find a plugin -fine, but i cant load that plugin.
Double-click (first available item) results in an inspection form.

![ladspapluginbrowser](https://cloud.githubusercontent.com/assets/6662066/21858565/df9408b2-d829-11e6-9369-5e1ab330f61a.PNG)

[2017-01-11 17:27] tresf commented on #211
It appears to be a tool to help developers understand the plugins (how they receive their input and if they are compatible with LMMS).  It's not really that useful to someone making music.

If you have a proposal for it, please reopen this bug report with a better description.

[2017-01-11 17:27] #211 closed

[2017-01-20 19:45] rogersachan commented on #196
@tresf The link is now broken, the site just sends me to an advertisement for Soundcloud GO.

Unless LMMS was bought by Soundcloud, we should remove it until we have an alternative.

[2017-01-20 20:55] tresf commented on #196
Because you're on mobile.  Just click the "Continue to soundcloud" link underneath the ad.

[2017-01-20 21:12] rogersachan commented on #196
@tresf Then it just sends me to the soundcloud front page.

It also now looks like Soundcloud Groups have been fully removed, any alternative?

[2017-01-20 21:53] tresf commented on #196
Because their website/app integration is terrible on mobile.  No surprise.  Mine loads fine BTW.

Not unless we go [3rd party](https://soundcloudgroups.com/), no.

[2017-01-25 16:22] musikBear commented on #210
I have been doing some in depth testing on RC2
https://docs.google.com/spreadsheets/d/1ecU1Zx4p8PVWucJElmgu-W5RM6lAcLnTk1y0sPgu4VA/edit#gid=1885868147
But then i was prompted to change to RC8.
This is fine, but i cant promise that the tests i did in RC2 also are valid for RC8.

[2017-01-25 21:05] tresf commented on #210
That's not how SDLC works.  Bugs need to be identified BEFORE the stable release, not after.

I understand this creates repetitive tasks between RC releases.  This is expected.  Don't confuse testing the validity of a bug report with testing a product as a whole.  The RC is what's being tested.  There is no RC8, just a patch-8 to RC2, which isn't part of the formal QC process.

[2017-01-28 23:35] Umcaruje opened #212 "Rethinking Documentation"
So I wanted to write this in a while, so here it goes:
#### Our documentation is in a dire need of refreshment.
I don't think the wiki can stay as is, and I would suggest that we completely move our documentation from a mediawiki instance to something that is GitHub based.
#### Why do this?
Well currently, there is absolutely no review on what and how content is updated on the wiki. With a central

[2017-01-29 00:31] tresf commented on #212
I rarely use the documentation which means I rarely read it; rarely find places which need editing.

That said I do use GItHub for docs for another technical project and I really like it.  There are some caveats to using a pure wiki, the main part is organization.

In the project which uses it successfully, we use the main GitHub landing page to drive a drop down menu.  Using standard bulleted tab

[2017-01-29 11:45] Lukas-W commented on #212
Related: [#42 (comment from August 2014)](https://github.com/LMMS/lmms.io/issues/42#issuecomment-53953428) and [Lukas-W/lmms.sfwiki](https://github.com/Lukas-W/lmms.sfwiki), a git clone of our wiki (including history) I made back then to test the idea.

[2017-01-29 13:45] musikBear commented on #212
I link to the wiki on regular basis, as part of helping people with ordinary questions. The worst thing about the wiki imo is the outdated imagery and the lack of proper key-word search.
A new documentation should aim for a centralized imagery, where simple image replacements, would be sufficient for updating the 'wiki'/ documentation.
*That* feature should imo be most significant  in the decision

[2017-02-20 15:12] musikBear opened #216 "Claims virus in x64win"
http://lmms.io/forum/viewtopic.php?f=7&t=8476
I said 'no', but perhaps it should be looked at?
Maby a throll..
DL and scanned it. it was clean here

[2017-02-20 15:19] tresf commented on #216
Virus total finds false positives all the time.   Please reopen with specifics and proof.

[2017-02-20 15:19] #216 closed

[2017-02-28 21:35] Umcaruje opened #217 "Hosting the installers on lmms.io as well as Github"
This recent Amazon s3 outage has got me thinking, we should probably mirror the installers on our servers or somewhere else as well.

We just had a user who couldn't download 1.1.3 come to discord cause of the outage. And even before some people had general issues with the speed of the download from github.

Interested in hearing your thoughts.

[2017-02-28 21:42] tresf commented on #217
I think a mirror is always a good idea however we are always at the mercy of a provider.

 - GitHub goes down on occasion and that is devastating to development.
 - Sourceforge has had reliability issues for our msys2 environments (common enough to write it into our procedures)

If we do roll our own mirrors, I vote we make it part of the `maintenance_tasks` scripts and have it automated.  Perhaps

[2017-03-12 14:15] musikBear opened #218 "adding a zip on hub and here, fails"
Hub does not accept zip-files as attachment, neither does this place.
Error thrown

Even though its stated that ZIP is valid, it wont accept any.
I tried with both a mmpz in a zip-file, and mmp, zipped. Both fails.

[2017-03-12 14:55] tresf commented on #218
How is this our problem?

And what is "hub" vs "this place"?

[2017-03-12 15:09] Umcaruje commented on #218
This is not our bug. If you need help with this please hop over to Discord, so we avoid making these kind of issues.

[2017-03-12 15:16] #218 closed

[2017-03-27 18:58] tresf opened #219 "Delete gitter channel"
The LMMS gitter channel should be deleted.  It shows up when on Gitter for other services, but it's not used.

https://gitter.im/LMMS/lmms

[2017-03-27 19:25] Umcaruje commented on #219
Done.

[2017-03-27 19:25] #219 closed

[2017-03-28 06:25] zonkmachine opened #220 "Spam control"
There's been persistent flood spamming in the forum.
My suggestion is to enforce first post moderation.

We could also activate the StopForumSpam function of the Ban Hammer extension that is already in place.

[2017-03-29 13:06] musikBear commented on #220
Yes i have 'hammered' i think 5-6 spammers these last 8 day or so. It is ok from my pov to enforce first post moderation. I already send all first posters to a *Welcome-post*, so it would not be an issue to verify them as legit users. @zonkmachine

[2017-03-29 13:10] musikBear opened #222 "users with opensuse & leap has issues"
This is the thread
http://lmms.io/forum/viewtopic.php?f=7&t=8477&p=29185#p29185
The linux stuff is beyond me, and even beyond the seasoned linux-user Gps
I have asked for the packman name in the initial contact. @tresf

[2017-03-29 13:58] tresf commented on #222
Creating bug report on behalf of submitters just causes a mess.  Please encourage the user to interact with us directly either through discord, our mailing list or through this tracker.  Closing.

[2017-03-29 13:58] #222 closed

[2017-03-29 13:59] tresf commented on #220
What the hell is this?

I changed the questions around a bit, has it helped in the past 2 days?

[2017-03-29 17:55] zonkmachine commented on #220
Looks like it. At least there was no flood attack last night.

[2017-03-30 06:44] tresf commented on #220
Board upgraded to 3.2.0, reCaptcha installed.

![image](https://cloud.githubusercontent.com/assets/6345473/24490727/ed90b4b0-14f1-11e7-9246-e9e3b280246b.png)

Note, @Umcaruje the 3.2 build is not backwards compatible with 3.1 themes, so I had to wipe the styles and plugins.

 * ComBoot 3.2-beta is installed but the logo/footer changes from 3.1 need to be ported over.  Files are located in `~/backu

[2017-03-30 07:23] Umcaruje commented on #220
Thanks @tresf I'll get to the theme changes as soon as I find time.

[2017-03-30 14:13] musikBear commented on #220
There has not been any attacks i know of last 2 days
If a pammer get past the check, i am sorry to see that the *ban hammer* extension has been removed, but it will ofcause not matter if the new improved control works.

[2017-03-30 14:27] tresf commented on #220
Did you use this feature?  Banning through ACP is still possible with one click.

This extension lists 3.1.3 as highest supported version (we're on 3.2 now) and I'm not sure who installed it to begin with.    If we need it, I'll reactiviate since  [users reporting that it works fine with 3.2](https://www.phpbb.com/customise/db/extension/ban_hammer_2/support/topic/170781).  Just let me know.

[2017-03-31 11:05] musikBear commented on #220
Im not sure my rights include that option.
Do not even know what the acronym stand for
The only way i have been able to remove all posts from a spammer, has been with the *banHammer* addOn.
This is my options in the small-menu
![modoption1](https://cloud.githubusercontent.com/assets/6662066/24547815/0650e92c-1612-11e7-9f67-b82846b6951e.JPG)

These are the options in the Moderator window:
![modopti

[2017-03-31 18:51] tresf commented on #220
Ok, we'll reinstall it then.

ACP = Administrative Control Panel.  No, you don't have access.

[2017-03-31 19:01] tresf commented on #220
@musikBear it's reinstalled.  How do I know it's working?

[2017-03-31 19:05] tresf commented on #220
Also @zonkmachine the phpBB boards seem to suggest the Q&A is the only effective method.  I don't understand this.  Is the "I'm not a robot" reCaptcha not as good as it claims?  Should we revert back?

[2017-04-01 11:34] musikBear commented on #220
@tresf I dont know what you re-installed, so i cant answer if it is working. there is no ban-hammer option on a user right now.
 reCaptcha with that 'im not a robot' is imo weak, the option on wiki, where you need to read and answer a math-question (q&a), or those that relies on a picture of letters, that the user need to repost as ascii inputs, they are imo better, but not watertight

[2017-04-01 19:51] tresf commented on #220
I  just reinstalled the plugin from scratched and enabled everything except ban IP.  Does this help at all or is it still broken?  I can't find anything about the compatibility of this plugin with 3.2 except a [single thread on the phpBB forums stating "seems to work fine"](https://www.phpbb.com/customise/db/extension/ban_hammer_2/support/topic/170781).

Side not... @musikBear DON'T EDIT POSTS UNN

[2017-04-01 19:54] tresf commented on #220
I don't care about your opinion, I only care about what works.  If the spam keeps coming in, then the reCaptcha is no better than the previous captcha.  I'll work on re-installing the Q&A captcha.

[2017-04-01 19:56] tresf commented on #220
Q&A captcha re-enabled.  Please let me know in a few days if this is helping.

[2017-04-02 09:45] musikBear commented on #220
You had NOT used his quote, so he would NOT know that you asked him a question. I HELPED you and added a ping to the post.
Btw nice.. to know that you do not care about my opinion

[2017-04-02 09:57] Lukas-W commented on #220
I'm sure @tresf is not ignoring your opinion in particular, but is just saying that when discussing things like effective anti-spam techniques, personal opinions are generally irrelevant and add no value to the discussion.

[2017-04-02 16:01] tresf commented on #220
It is not tkye

[2017-04-02 16:06] tresf commented on #220
It is no your role to rewrite the internet.  Moderator's jobs are to step in and help control the forums, not to blast welcome spam and edit every conversation.  Stay out of the posts.  If you are going to argue and not comply, we'll skip the third warning and pull access now.  You decide.

Please answer my question about ban-hammer.  AFAIK you're the only one that uses this plugin.

[2017-04-03 12:04] musikBear commented on #220
not working
![image](https://cloud.githubusercontent.com/assets/6662066/24608330/68b7bc92-1876-11e7-8864-1136510e8b52.png)
@tresf

[2017-04-03 13:31] tresf commented on #220
So you're saying that bringing back the questions hasn't helped?  I'm not sure what else to do...

1. reCaptcha should have solved this 100%, but it didn't
2. The questions are only a week-old.  The bots shouldn't have learned them already.

![image](https://cloud.githubusercontent.com/assets/6345473/24611279/8fa337a4-184f-11e7-967d-8db950571c3c.png)

I thought I was clear, this plugin was never w

[2017-04-03 13:46] tresf commented on #220
The ban hammer plugin has been disabled since it does not appear to be compatible with 3.2.

The last 1,500+ spam posts were from two IP addresses, so I've banned them and I'm looking at moderating new users from posting too many times in the first x days.

I'm reopening this issue since spam in the forums is still a problem.

[2017-04-03 17:24] tresf commented on #220
@Umcaruje FYI, I've done the bare-minimum changes to remove comboot jumbotron and bring our logo back via:  https://github.com/LMMS/lmms.io/commit/ba2f610f72bfcb24296f22844a7d950809e3fab7

Thus restoring @Lukas-W's symlink technique...

[code]

[2017-04-04 14:06] musikBear commented on #220
What do you mean 'restore access' ?
I *left*!
Nothing to restore here.

a remark like that is properly the most insulting a **lead** can make.
I would have left, even if i was a paid employee.

I pméd Brandy, so he can take care of spam, which are abundant, also right now.

[2017-04-04 17:00] tresf commented on #220
Because you're taking it out of context.  The plugin isn't available, so it really doesn't matter how bad you want it.  I cannot weigh your desire against the impossible.  The impossible wins.  If this is upsetting, perhaps you should research the differences between [objective and subjective arguments](http://utminers.utep.edu/omwilliamson/engl1312/subjective.htm).

Sorry, you are correct.  I not

[2017-04-09 00:26] tresf commented on #220
I've been banning the recent IPs associated with spam attacks and this has been ok for about a week.  We'll continue to monitor.

[2017-04-12 10:47] zonkmachine commented on #220
78 posts...
![78posts](https://cloud.githubusercontent.com/assets/6368949/24954030/e6c88400-1f7d-11e7-9fab-4ef48847c64f.png)

Now can we have first post moderation?

[2017-04-12 12:44] tresf commented on #220
Adding daily, human process to a technical problem is bad for all parties involved, but if it helps the spam, knock yourself out.

[2017-04-12 12:46] tresf commented on #220
Here are some workarounds that require modification of the phpBB source code... Interesting article because many apply to us...

https://www.michel-kraemer.com/5-anti-spam-measures-for-phpbb3/

[2017-04-12 13:33] zonkmachine commented on #220
On the Linuxmint forum, where I was a moderator for some two years or so, I think first post moderation was the only thing that worked. Unfortunately I don't have time to read up on administration so I'm not going to change anything on the forum. I can drive by and remove spammers once in a week or so but that's about it for the time being.

[2017-04-12 17:57] tresf commented on #220
I've spent another hour researching this and it appears our questions may be too easy to solve, so I've made them more challenging.

Hopefully this helps.

![image](https://cloud.githubusercontent.com/assets/6345473/24972049/fabfd602-1f87-11e7-8f6f-7a553caa031b.png)

[2017-04-12 20:03] liushuyu commented on #220
I think some of the questions are too specific to one culture... Maybe more LMMS related...
I've seen many websites use its own product spec for the question, I suppose we could do that as well.

[2017-04-12 20:33] tresf commented on #220
You get to refresh up to 5 times.  Please be specific and we can change.

[2017-04-12 20:38] liushuyu commented on #220
Question 1, 2, 5 and 6 are fine to me, they are (general) common sense.
3 and 8 need some English skills, while 7, although I know the answer, but I think if you don't know the answer, you will also not know how to search for the answer, since this festival is not a common one in other parts of the world.

[2017-04-12 20:48] tresf commented on #220
Q4 allows multiple answers.  For example cold water, hot tea are all valid.

The difficulty is 100% intentional.  The easy questions were allowing bots to get through.  The St Patrick's one can be removed if you think it's bad.   We can add more too if you have some proposals.

[2017-04-12 20:58] liushuyu commented on #220
I know you are trying to make harder questions.

Some people will come up with coffee/milk/chocolate/latte etc 😄

Like "Which platform do LMMS put all translate work on?" and I think this will guide human user to read our wiki, it's a better approach, isn't it?

[2017-04-12 21:13] tresf commented on #220
Standard users won't ever get that one. :/. Open to more suggestions though.

Coffee and milk are valid but chocolate is a good addition.

[2017-04-12 21:19] liushuyu commented on #220
Okay... I am now realized it's really difficult to come up with  a question that is both "LMMS related" and "to answer the question, efforts should be made". 😃

[2017-04-13 12:39] musikBear commented on #220
Well..

Open the lmms-wiki and browse to the page **Project Menu**.
Questions:
1) What 2 formats can LMMS projects be saved as _____ _____
2) One of these formats are similar to what common filetype ________
3) In LMMS you can create "standard-projects", what are they called ________
4 Witch 2 sound-formats can LMMS export ______  ______
5) What LMMS export-file type is compressed _______
Open the

[2017-04-13 12:48] tresf commented on #220
This isn't a research paper, this is a sign up for our forums.  If a question require reading our antiquated wiki, we've failed.  This is a spam bot countermeasure.

Box, circle and round are all acceptable.

Scotch is not an acceptable answer.

[2017-04-13 15:44] musikBear commented on #220
I here advised a perfectly sane and useful way to stop the spam.

[2017-04-13 15:49] tresf commented on #220
No, you provided a way to force people to a dated wiki.  The ideas are not going to be implemented, sorry.

[2017-04-13 15:55] tresf commented on #220
I'd like to add a personal note as well... You've withdrawn your moderator status so I see your investment in this to be moot.  If you decide you want to help with the problem (versus complain about it), let us know.  Otherwise you're just complaining.

[2017-04-13 17:46] musikBear opened #224 "Report forum topic does not work"
Report topic does not work, the button will (in firefox) open a 404 error page.

[2017-04-13 20:39] tresf commented on #224
Closed via

1. ACP, General, Enable URL Rewriting, False.

2. From SSH: `sudo vi /etc/nginx/sites-enabled/lmms.io`

[code]

[2017-04-13 20:39] #224 closed

[2017-04-17 12:16] Umcaruje commented on #220
We recieved another massive spam attack. I reinstated the sortables captcha, which now has 720 * 3 possible combinations rather than 30 * 3 so it should work well now. Only time will tell

[2017-04-17 12:37] tresf commented on #220
Thanks.  I'm starting to think humans are breaking this, not robots.  :/

[2017-04-20 10:41] musikBear commented on #220
Happened again
FYI

[2017-04-20 11:54] Umcaruje commented on #220
Looks like the  solution is to just move away from phpBB to a better forum
platform like discourse or flarum. There really are holes in phpbb's
security.

On 20 Apr 2017 12:41, "musikBear" <notifications@github.com> wrote:

[2017-04-21 11:34] musikBear commented on #220
@Umcaruje

But if the spammer takes his time creating 3 or 4 new accounts, and then just start 'some' spamming-tool, then it would not matter what forum was used. Not even a blocking of several accounts on same IP within an hour or so would matter. He can still use that one account to spam any forum with 500 new chineese (?) offerings

[2017-04-22 10:04] Umcaruje commented on #220
https://www.stopforumspam.com/ seems like something worth trying, they have a huge database.

[2017-04-22 11:03] Umcaruje commented on #212
Never have even looked at it lol, I should probably

P.S. @musikBear I read my github notifications through email, so whenever you edit a post I can't see that, I just get the original. When you add a lot of new stuff to your post with edits, please consider posting another comment because of us email people :wink:

[2017-04-22 13:40] musikBear commented on #220
👍 Looks good. I cant find any negative reports
-not on trustpilot though, but that could be because it is a free service

[2017-04-22 13:42] musikBear commented on #212
Oki noted 👍

[2017-04-26 10:37] musikBear commented on #220
@Umcaruje
fyi new attack

[2017-04-26 12:56] Umcaruje commented on #220
Yeah sorry life's been busy didn't get around implementing the extension,
will try to get into it asap

On 26 Apr 2017 12:37, "musikBear" <notifications@github.com> wrote:

@Umcaruje <https://github.com/Umcaruje>
fyi new attack

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/LMMS/lmms.io/issues/220#issuecomment-297345943>,

[2017-04-26 13:23] tresf commented on #220
They were all from the same IP.  `222.3.61.73`.  Cleaned up for now.

[2017-04-27 12:02] musikBear commented on #220
@Umcaruje ...again 👎
I simply cant CANT understand spamming!
WHO tf clicks on it, outside mental institutions ?! -And why lmms?!

[2017-04-28 15:21] Umcaruje commented on #220
Installed the stopforumspam extension
we'll see how that goes

[2017-04-29 16:38] tresf opened #226 "Add dedicated email for competitions"
Placeholder to set up an inbox for competitions.  This is is mainly a PR initiative because when people like @Spekular email using his personal address for `mmpz` files (so that the can validate a suspicious sounding track was in fact created with LMMS) some competitors are weary of sharing their work.

There are a few options that work in this scenario.
 * The most common is to set up the email s

[2017-04-29 16:49] Umcaruje commented on #196
Well we solved this this year by using google forms and offering a public spreadsheet with the entries. There's an idea to post a soundcloud playlist of the winning entries, and if the artist can't host the song on their soundcloud, we can use the service account for that song.

So, should we close out this issue as fixed?

[2017-04-29 16:52] Umcaruje commented on #202
This is as easy as just adding the VST's that don't work to the wiki table. Having another list would be reduntant. Closing.

[2017-04-29 16:52] #202 closed

[2017-04-29 17:21] tresf commented on #191
Per http://forum.cockos.com/showthread.php?t=33353, "All rights reserved" is no longer needed for creative works and it does not conflict with our distribution mechanism.

I'll quote the relevant parts...

Each artist is allowed to use whatever license they choose for BoL album (so as it doesn't conflict with our distribution mechanism) and it's not LMMS' place to tell them otherwise.

The only ri

[2017-04-29 17:21] #191 closed

[2017-04-29 17:45] tresf commented on #196
I felt the spreadsheet and form from a mobile-friendly and playback-friendly perspective could have been done better by something like we've built into LSP and I'm certain we could code a submission form in 3 days that blows the previous methods out if the water.

That said, there's only so much time in a day and you're right it worked. \*shrug\*

[2017-05-02 11:25] Umcaruje commented on #220
Doesn't really help, we got hit again today

[2017-05-02 13:32] musikBear commented on #220
Nahh the spammer makes 2 or 3 account manually, and then he start an attack tool, so he is 'legit' user, but abuses his legitimise state. Difficult to fight.
If you could prewend users to make more than 1 new topic pr/ minute, or maybe 5 min, then it **could** be that either his tool wont work, or he will select a less protected forum.. idk

[2017-05-05 12:18] musikBear commented on #220
@Umcaruje Sorry, but again
at least 500 posts. Looks like he has used 7 new accounts, and that they alternate through the attack.

[2017-05-05 13:44] Umcaruje commented on #220
It's usually around 300 posts per account. This has been happening daily, but I remove them pretty quickly.

[2017-05-06 12:23] musikBear commented on #220
@Umcaruje
it is daily now, and also today -New attack :/

[2017-05-06 13:33] tresf commented on #220
Open invite for those that can help.

https://lmms.io/forum/viewtopic.php?f=4&t=25436

[2017-05-10 12:07] musikBear commented on #220
@Umcaruje new attack, im afraid B.r

[2017-05-26 06:30] tresf opened #227 "Fix BoL Links"
Per @Spekular on discord...

https://lmms.io/competitions/

Furthermore, the Soundcloud group links are now invalid.

[2017-05-30 19:45] #227 closed

[2017-06-01 20:12] tresf opened #230 "Redundancies between Showcase and Competitions"
Currently, showcase and competitions both list the BoL albums.  They have some redundancies.
 * Both have embedded players listing the tracks
 * Both list the albums in descending order
 * Both need to be updated at the end of a competition

There are some differences
 * One uses a soundcloud player; the other uses a bandcamp player
 * Rules are only hosted on Competitions
 * Competition entries a

[2017-06-03 05:14] RebeccaLaVie commented on #230
If we merge these pages, we will have three demographics to cater to:

- People that are listening to music made with LMMS to determine the quality of the program.
- People that want to support LMMS by listening and/or purchasing the bol albums.
- People interested in participating in the contests.

I have had some ideas for the layout of this page floating around in my head, so I created a quick

[2017-06-03 07:21] tresf commented on #230
@RebeccaLaVie I like your design and agree with every point (avoid splicing art, thumbnailed design, bandcamp for playback).  When you say "bring to a page with", I assume you're ok with the page itself dynamically changes, but uses a hashtag like we use on downloads (e.g. `/competitions` switches to `/competitions#bolv4`)

One question I have in general is the name of the consolidated page... Sho

[2017-06-03 15:46] Spekular commented on #230
Currently we only showcase competition winners, right? So "competitions"
would work for now. It might not be future proof if we decide to show off
other stuff later, but then we might want to split the pages again.

The downside is that if we go with "competitions" we might not attract
those looking to see what lmms can do. On the other hand, if we go with
"showcase" we wouldn't draw in people loo

[2017-06-04 03:06] tresf commented on #230
I like the idea of a header showing up on top of our page when an active competition is happening.  We should be able to schedule it with some trivial logic.  Perhaps a non-TLDR implementation of this:

![image](https://cloud.githubusercontent.com/assets/6345473/26758605/4c72758e-48b1-11e7-82a2-c27c69a35565.png)

[2017-06-04 20:47] RebeccaLaVie commented on #230
I wonder if we could use **Best of LMMS**  for the title of the page?

Yep :+1:

I also like Spekular's header announcement idea, as long is it is implemented in a way that is not too busy. Or perhaps it can be placed under the entire header section, but still above the fold?

![shot-2017-06-04_13-34-48](https://cloud.githubusercontent.com/assets/7960169/26765149/f0968d66-492a-11e7-8629-ef0bbd6bdf

[2017-06-04 20:51] Spekular commented on #230
Below header but above the fold looks really nice. Could maybe do with
being a little more obnoxious (read: taller) if the color is going to be
that muted?

On Jun 4, 2017 22:47, "Rebecca LaVie" <notifications@github.com> wrote:

[2017-06-04 20:55] tresf commented on #230
Sure, but we must be careful not to be overly cosmetic.  This is an intentional eye-sore.  If it blends in too well, it'll lose it's purpose.

Also, the jumbotron is only on the home page.  We'd want it on all possible landing pages and dismiss-able, stashed in a cookie.

[2017-06-04 21:50] RebeccaLaVie commented on #230
Could be any color. The gray was just as an example.

If we want the announcement on every page of the website, you're right, that idea will not work. I have no problems with placing above the header and I agree that we want to make it stand out. My concern was based more in clear hierarchy than aesthetic, but there are other ways to accomplish that without placing it further down on the page. :+1

[2017-06-13 14:44] lukas-w opened #231 "Composer fails on testing"
Deployment on lmms.io fails when composer tries to resolve dependencies on `testing` branch:

[code]

[2017-06-14 03:04] liushuyu commented on #231
Oops, I don't know we are using php 5 on our server, because I think we have switched to php 7 sometime ago…

[2017-06-22 20:41] jonasstein opened #235 "Link to gentoo package is missing"
Please add a link from
https://lmms.io/download/#linux
to
https://packages.gentoo.org/packages/media-sound/lmms
Thank you

[2017-07-05 10:04] heavenity opened #236 "Where is Discord Server?"

[2017-07-05 10:04] #236 closed

[2017-07-19 03:40] tresf commented on #173
No issues in 1 year.  Closing.

[2017-07-19 03:59] tresf opened #238 "Purge lmms/manual repo"
In an effort to cleanup unused repositories, the `lmms/manual` repository has been purged.

The only file that we didn't have hosted was the italian manual, which has been uploaded here:
https://github.com/LMMS/lmms.io/commit/1051cf33402d8543890557970b06b57b839bf89c

I'm going to ask anyone that maintains the wiki to close this out once it's been cross-linked (or alternately, decided that it's not

[2017-07-19 04:11] tresf opened #239 "Purge lmms/hydrogen-drumkits repo"
At one point in time, @tobydox wrote a way to incorporate Hydrogen drumkits directly into LMMS.  This is in a repo appropriately called `lmms/hydrogen-drumkits`.

The repo has some CMake logic which bundles installers into a self-extracting executable that when run can extract filed [directly into the LMMS samples directory](https://github.com/LMMS/hydrogen-drumkits/blob/master/CMakeLists.txt#L89)

[2017-07-19 04:17] tresf opened #240 "Purge lmms/lsp2"
@tobydox started working on `lmms/lsp2` in 2014 as to replace the [existing LSP](https://lmms.io/lsp), but in a more modern framework (python/django).

Since then, @Lukas-W has committed some changes, notably a script to import the LSP1 files and some various code fixes and cleanup, but all still in 2014.

The repository has been stale for about 3 years and I wonder if this should stay or if it sh

[2017-07-19 04:26] liushuyu commented on #240
Python + Django is still popular, IIRC Instagram is using this combination.

Since this is a decision made back in 2014, I am curious to know why @tobydox wanted to make a switch.

[2017-07-19 04:30] tresf opened #241 "Purge lmms/zynaddsubfx"
The `lmms/ZynAddSubFX` repo was originally created as a way to use `git submodule` to isolate the Zyn integration code with lmms' own code.

The repository has [not been updated since December 2014](https://github.com/LMMS/zynaddsubfx/commits) as there is little incentive to...  We don't currently use `git submodule` in our repository, due to some initial complaints by developers when it was origi

[2017-07-19 04:46] tresf opened #242 "Refactor lmms/samples"
The repo `lmms/samples` is finally getting some contributors and the new samples will all be licensed `CC0`. This is great.

After talking with some of the developers on discord, we decided this could also be a home for presets and perhaps even project files and brought into `lmms/lmms` as a `git submodule` or a `git subtree`.

The proposal is to rename the repo `lmms/assets`.

If there are no obj

[2017-07-19 07:17] Lukas-W commented on #241
May be worth keeping. It looks like there are still commits that haven't been merged into `lmms/plugins`.

If we're going to move back to using `git submodule` anyway, we might as well do it now and re-integrate the repo.

[2017-07-19 12:32] SirBothersome commented on #239
@tresf agreed. I seem to remember some of the kits being licensed GPL (which is odd, I'll try to find some screenshots later), and the origins of the kits are murky. I don't think anyone will miss the samples (although we are in need of some acoustic ones), and in-house sample production is appearing to be viable, so we can cover what the purge will take for the most part. On a side note, why is t

[2017-07-19 12:42] SirBothersome commented on #242
@tresf this seems reasonable. Assets is a good cover-all name and we have been lacking presets for Monstro, Watsyn, etc. I think with the widened scope and change there are two things we need to factor in. 1) @Hussam-Eddin-Alhomsi @iam wontolla and I were given push access to the sample repo by @Umcaruje . In the event of a restructure we'll probably need to be regifted with access.
2) with new pr

[2017-07-19 15:29] tresf commented on #242
We'd just rename the repo, permissions will be the same.

They won't come in right away necessarily, they'll just be the home.

I agree although we would also benefit from making a nightly job that creates previews of the presets with various notes.  (e.g. something in public domain like twinkle twinkle or something).  We should be able to write an `.mmp` XML project file and do CLI rendering.  Fi

[2017-07-19 15:34] tresf commented on #239
@SirBothersome agreed, GPL is a terrible license for artwork in general, so I think that's reason alone to not use the repo, but what Toby's done to package it up and install it as a side-loaded plugin is cool too.  Perhaps the greatest value in this repository is it's a good first example of what a sample pack could look like.

I think moving forward the sample packs should be a plugin-able forma